/*!
Theme Name: beautysales
Theme URI: http://underscores.me/
Author: Luke Ragno
Author URI: http://lukeragno.com
Description: A custom Wordpress Theme for beautysales.com
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: bs
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

beautysales is based on Underscores http://underscores.me/, (C) 2012-2015 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/@import 'https://fonts.googleapis.com/css?family=Rubik';.color__white{color:#fff !important}.color__grey{color:#a7abb7 !important}.color__white{color:#fff !important}.color__black{color:#666 !important}.color__pink{color:#778abe !important}.color__purple{color:#778abe !important}.color__blue{color:#778abe !important}.color__lightpink{color:#778abe !important}.color__lightpurple{color:#778abe !important}.color__lightblue{color:#778abe !important}.color__lightgrey{color:#f9f9f9 !important}body{--breakpoint_min: $responsive_min-breakpoint}.container{max-width:100%;margin-left:auto;margin-right:auto;margin:0 auto}.container:after{content:" ";display:block;clear:both}body#tinymce{background:#eee !important}.mce-content-body{background:#f1f1f1 !important}#wp-admin-bar-wp-logo{display:none}.wp-menu-image.dashicons-before.dashicons-admin-generic{-webkit-filter:grayscale(100%);filter:grayscale(100%)}
/*# sourceMappingURL=admin.css.map */
