body div#menu-wrapper .menu-navigation-container ul.sub-menu {

    position: absolute;

    display: block;

    max-width: 880px;

    width: 610%;

    height: 250px;

    text-align: left;

    background: #f9f9f9;

    padding: 10px 10px 10px 22px;

    left: 0;

    top: auto;

    /* visibility: hidden;

    opacity: 0; */

    transition: all 0.4s ease-in-out;

    -o-transition: all 0.4s ease-in-out;

    -moz-transition: all 0.4s ease-in-out;

    -webkit-transition: all 0.4s ease-in-out;

}



body div#menu-wrapper .menu-navigation-container ul li:nth-child(4) .sub-menu {

    right: 0 !important;

    left: auto;

    width: 800%;

}



body div#menu-wrapper .menu-navigation-container ul li:nth-child(5) .sub-menu {

    right: 0 !important;

    left: auto;

    width: 800%;

}



/* body div#menu-wrapper .menu-navigation-container ul li:nth-child(4) .sub-menu .img-box {

    margin-top: -105px;

} */



body div#menu-wrapper .menu-navigation-container .menu-item a {

    padding-left: 10px;

    font-size: 17px;

    font-weight: 500;

}



body div#menu-wrapper .menu-navigation-container .menu-item:hover > a {

    color: #3e3e3e;

}



body div#menu-wrapper .menu-navigation-container .menu-item {

    padding: 10px;

    position: relative;

}



body div#menu-wrapper .menu-navigation-container .menu-item .sub-menu .menu-item {

    padding: 0px;

}



body div#menu-wrapper .menu-navigation-container .menu-item:hover {

    background: #f9f9f9;

}



/* body div#menu-wrapper .menu-navigation-container .menu-item:hover ul.sub-menu {

    visibility: visible;

    opacity: 1;

} */





body div#menu-wrapper .menu-navigation-container ul.sub-menu li {

    display: block;

    width: 53%;

    float: left;

    white-space: nowrap;

    position: relative;

}



body div#menu-wrapper .menu-navigation-container ul.sub-menu li a {

    padding: 10px 0;

    /*font-size: 25px;*/

    text-transform: none;

    color: #848484;

}



body div#menu-wrapper .menu-navigation-container ul.sub-menu li a:hover {

    color: #000;

}



body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box a {

    padding: 0;

}





body div#menu-wrapper .menu-navigation-container ul.sub-menu li:first-child {

    display: block;

}



body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box {

    width: 47%;

    max-height: 210px;

    height: 26vw;

    position: absolute;

    overflow: hidden;

    top: 50%;

    right: 3px;

    transform: translateY(-50%);

}



.menu .sub-menu {

    zoom: 1;

}



.menu .sub-menu:after {

    display: block;

    visibility: hidden;

    height: 0;

    clear: both;

    content: "";

}



/* body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box .inner {

    position: relative;

    width: 415px;

    height: 304px;

    margin: 0;

    text-align: right;

    overflow: hidden;

    right: 20px;

    background: url(../images/dallas_ibe.png) no-repeat;

    background-size: cover;

    background-position: center;

    color: #fff;

    text-transform: uppercase;

} */



body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box .inner {

    position: absolute;

    width: 100%;

    height: 100%;

    margin: 0;

    text-align: right;

    overflow: hidden;

    right: 20px;

    /* background: url(../images/dallas_ibe.png) no-repeat; */

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    color: #fff;

    text-transform: uppercase;

    opacity: 0;

    visibility: hidden;

    transition: opacity .35s, visibility .35s;

}



body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box .active {

    opacity: 1;

    visibility: visible;

}



body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box .bg-dallas {

    background-image: url('../images/dallas_ibe.png');

}

body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box .bg-new-york {

    background-image: url('../images/newyork.png');

}

body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box .bg-london {

    background-image: url('../images/london.png');

}

body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box .bg-los-angeles {

    background-image: url('../images/losangeles.png');

}

body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box .bg-berlin {

    background-image: url('../images/berlin.png');

}



body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box .info {

    position: absolute;

    bottom: 0;

    right: 0;

    left: 0;

    padding: 10px;

}



body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box .info p {

    margin: 0;

    white-space: normal;

    color: #fff;

}



body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box .info .img-title {

    font-size: 31px;

    line-height: 30px;

    margin-bottom: 6px;

    font-weight: 500;

}



body>nav .menu-bar div#menu-wrapper.show {

    visibility: visible;

    opacity: 1;

}



body div#menu-wrapper .menu-navigation-container ul {

    top: 2px;

}



@media screen and (max-width: 1400px) {

    body div#menu-wrapper .menu-navigation-container .menu-item a {

        font-size: 1.2vw;

    }

    body div#menu-wrapper .menu-navigation-container ul.sub-menu li a {

        font-size: 18px;

    }

    /* body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box {

        margin-top: -188px;

    } */

    body div#menu-wrapper .menu-navigation-container ul li:nth-child(5) .sub-menu {

        width: 680%;

    }

}



@media screen and (max-width: 1000px)  {

    body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box {

        height: 40vw;

    }

    body div#menu-wrapper .menu-navigation-container ul li:nth-child(3) .sub-menu {

        left: 50%;

        transform: translateX(-50%);

        width: 630%;

    }

    body div#menu-wrapper .menu-navigation-container ul.sub-menu li a {

        font-size: 16px;

    }

}



@media screen and (max-width: 800px) {

    body div#menu-wrapper .menu-navigation-container .menu-item a {

        font-size: 2vw;

    }

    body div#menu-wrapper .menu-navigation-container ul.sub-menu li a {

        font-size: 16px;

    }

    /* body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box {

        margin-top: -170px;

    } */

    /* body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box .inner {

        width: 300px;

        height: 200px;

    } */



    body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box .info .img-title {

        font-size: 20px;

    }

    body div#menu-wrapper .menu-navigation-container ul.sub-menu .img-box {

        height: 53vw;

    }

    body div#menu-wrapper .menu-navigation-container ul li:nth-child(3) .sub-menu {

        width: 630%;

        left: -190%;

        transform: translateX(0);

    }



    body div#menu-wrapper .menu-navigation-container ul li:nth-child(4) .sub-menu {

        right: -200% !important;

        left: auto;

        width: 740%;

    }

}



@media screen and (max-width: 600px) {

    body div#menu-wrapper .menu-navigation-container .menu-item a {

        font-size: 20px;

    }

}



@media screen and (max-width: 600px) {

    body div#menu-wrapper .menu-navigation-container .menu-item:hover ul.sub-menu {

        display: none;

    }

    body>nav .menu-bar div#menu-wrapper {

        visibility: hidden;

        opacity: 0;

    }



    body div#menu-wrapper .menu-navigation-container ul.sub-menu {

        display: none !important;

    }

}