body {

    --breakpoint_min: $responsive_min-breakpoint;

  }

  

  .color__white {

    color: white !important;

  }

  

  .color__grey {

    color: #a7abb7 !important;

  }

  

  .color__white {

    color: white !important;

  }

  

  .color__black {

    color: #666 !important;

  }

  

  .color__pink {

    color: #778abe !important;

  }

  

  .color__purple {

    color: #778abe !important;

  }

  

  .color__blue {

    color: #778abe !important;

  }

  

  .color__lightpink {

    color: #778abe !important;

  }

  

  .color__lightpurple {

    color: #778abe !important;

  }

  

  .color__lightblue {

    color: #778abe !important;

  }

  

  .color__lightgrey {

    color: #f9f9f9 !important;

  }

  

  .container main.attend-main {

    position: relative;

    width: 100%;

    padding: 0;

  }

  

  .container main.attend-main:after {

    content: '';

    display: table;

    clear: both;

  }

  

  @media screen and (min-width: 900px) {

    .container main.attend-main {

      margin-right: 0;

      padding: 5% 2.5% 5% 5%;

    }

  }

  

  @media screen and (min-width: 1600px) {

    .container main.attend-main {

      padding: 5% 0;

    }

  }

  

  .container aside.sidebar {

    position: relative;

    width: 100%;

    padding: 2rem;

  }

  

  @media screen and (min-width: 900px) {

    .container aside.sidebar {

      padding: 0;

    }

  }

  

  .container aside.sidebar aside a.instagram-header {

    text-decoration: none;

    text-transform: lowercase;

    color: #778abe;

    font-weight: 500;

    font-size: 1.25vw;

  }

  

  @media (max-width: 880px) {

    .container aside.sidebar aside a.instagram-header {

      font-size: 11px;

    }

  }

  

  @media (min-width: 1280px) {

    .container aside.sidebar aside a.instagram-header {

      font-size: 16px;

    }

  }

  

  .container aside.sidebar aside section {

    margin: 0;

    padding: 0;

    background-color: transparent;

  }

  

  .container aside.sidebar aside section .textwidget h4 {

    font-size: 1.25vw;

    margin: 0;

    padding: 0 0 2.5vw;

  }

  

  @media (max-width: 880px) {

    .container aside.sidebar aside section .textwidget h4 {

      font-size: 11px;

    }

  }

  

  @media (min-width: 1280px) {

    .container aside.sidebar aside section .textwidget h4 {

      font-size: 16px;

    }

  }

  

  .container aside.sidebar aside section ul {

    margin: 0;

    padding: 0;

    list-style: none;

  }

  

  .container aside.sidebar aside section ul li {

    line-height: 0;

    margin-bottom: 1vw;

    position: relative;

    -webkit-transition: -webkit-transform 0.5s ease 0.05s, -webkit-box-shadow 0.25s ease-in-out;

    transition: -webkit-transform 0.5s ease 0.05s, -webkit-box-shadow 0.25s ease-in-out;

    transition: transform 0.5s ease 0.05s, box-shadow 0.25s ease-in-out;

    transition: transform 0.5s ease 0.05s, box-shadow 0.25s ease-in-out, -webkit-transform 0.5s ease 0.05s, -webkit-box-shadow 0.25s ease-in-out;

  }

  

  .container aside.sidebar aside section ul li:focus, .container aside.sidebar aside section ul li:hover {

    -webkit-transform: scale(1.025);

    transform: scale(1.025);

    z-index: 9;

  }

  

  @media screen and (min-width: 900px) {

    section.media {

      padding: 2.5vw 0;

    }

  }

  

  section.show-list {

    padding: 0;

    width: 100%;

    margin: 0 auto;

    text-align: center;

    background-size: cover;

    background-position: center;

  }

  

  @media screen and (max-width: 599px) {

    section.show-list {

      height: 80vw;

    }

  }

  

  section.show-list .header-wrapper {

    width: 100%;

    display: block;

    position: relative;

    height: 80vw;

    overflow: hidden;

  }

  

  @media screen and (min-width: 600px) {

    section.show-list .header-wrapper {

      height: 30vw;

    }

  }

  

  section.show-list h1 {

    text-align: center;

    color: #778abe;

    font-weight: 300;

    font-size: 7vw;

    letter-spacing: 0.5vw;

    display: inline-block;

    padding: 0 12.5vw;

  }

  

  @media (max-width: 514.28571429px) {

    section.show-list h1 {

      font-size: 36px;

    }

  }

  

  @media (min-width: 2114.28571429px) {

    section.show-list h1 {

      font-size: 148px;

    }

  }

  

  section.show-list .shows-container {

    height: 36vw;

    z-index: 2;

  }

  

  @media screen and (max-width: 599px) {

    section.show-list .shows-container {

      bottom: 30vw;

      width: 100%;

    }

  }

  

  section.show-list .shows-container .flickity-prev-next-button {

    top: 0vw;

    width: 20vw;

    height: 35vw;

    margin: 0;

    padding: 0;

    border: none;

    border-radius: 50%;

    background: rgba(255, 255, 255, 0);

    cursor: pointer;

    mix-blend-mode: normal;

    -webkit-transform: translateY(0%);

    transform: translateY(0%);

    opacity: 0;

  }

  

  section.show-list .shows-container .show {

    width: 40%;

    text-align: center;

    display: inline-block;

    padding: 10vw 0;

    position: relative;

    opacity: 1;

    -webkit-transition: opacity 0.5s;

    transition: opacity 0.5s;

  }

  

  section.show-list .shows-container .show:nth-of-type(1) {

    float: left;

  }

  

  section.show-list .shows-container .show:nth-of-type(2) {

    float: left;

  }

  

  section.show-list .shows-container .show:nth-of-type(3) {

    float: left;

  }

  

  section.show-list .shows-container .show:hover {

    opacity: 0.75;

  }

  

  section.show-list .shows-container .show a {

    display: block;

    width: 100%;

    height: 100%;

  }

  

  section.show-list .shows-container .show h3 {

    font-size: 1.125vw;

    padding: 1.5vw 0 0.125vw;

    line-height: 1.3;

    margin: 0;

    text-transform: uppercase;

    letter-spacing: 0.075vw;

    font-weight: 500;

    position: relative;

    color: white;

  }

  

  @media (max-width: 1422.22222222px) {

    section.show-list .shows-container .show h3 {

      font-size: 16px;

    }

  }

  

  @media (min-width: 3200px) {

    section.show-list .shows-container .show h3 {

      font-size: 36px;

    }

  }

  

  section.show-list .shows-container .show h4 {

    font-size: 0.875vw;

    padding: 0.25vw 0 0;

    line-height: 1.3;

    margin: 0;

    text-transform: none;

    letter-spacing: 0.025vw;

    font-weight: 300;

    position: relative;

    color: white;

    opacity: 1;

  }

  

  @media (max-width: 1371.42857143px) {

    section.show-list .shows-container .show h4 {

      font-size: 12px;

    }

  }

  

  @media (min-width: 2742.85714286px) {

    section.show-list .shows-container .show h4 {

      font-size: 24px;

    }

  }

  

  section.show-list .shows-container .show.is-selected {

    opacity: 1;

  }

  

  section.show-list .shows-container .show.is-selected:after {

    width: 0;

    height: 0;

    bottom: -1px;

    right: 0;

    left: 0;

    position: absolute;

    display: block;

    border-style: solid;

    border-width: 2vw 2vw 0 2vw;

    border-color: white transparent transparent transparent;

    margin: 0 auto;

    z-index: 1;

    -webkit-transform: rotate(180deg);

    transform: rotate(180deg);

  }

  

  @media screen and (min-width: 1600px) {

    section.show-list .shows-container .show.is-selected:after {

      border-width: 2.25rem 2.25rem 0 2.25rem;

    }

  }

  

  section.show-list .shows-container:after {

    content: 'flickity';

    display: none;

  }

  

  section.show-list:after {

    width: 0;

    height: 0;

    bottom: 6vw;

    right: 0;

    left: 0;

    content: '';

    position: relative;

    display: block;

    border-style: solid;

    border-width: 6vw 4vw 0 4vw;

    border-color: white transparent transparent transparent;

    margin: 0 auto;

    z-index: 1;

    -webkit-transform: rotate(180deg);

    transform: rotate(180deg);

  }

  

  @media screen and (min-width: 900px) {

    section.show-list:after {

      bottom: -1px;

    }

  }

  

  section.show-list .shows-image-container {

    display: block;

    position: relative;

    width: 100%;

    height: 100%;

  }

  

  section.show-list .shows-image-container .show {

    position: absolute;

    opacity: 0;

    background-size: cover;

    -webkit-transition: opacity 0.35s ease-in-out;

    transition: opacity 0.35s ease-in-out;

    z-index: 0;

    width: 100%;

    height: 100%;

  }

  

  section.show-list .shows-image-container .show.is-selected {

    opacity: 1;

    z-index: 1;

  }

  

  section.show-list .shows-image-container .show h2 {

    text-align: left;

    padding: 1.5% 5%;

    line-height: 1;

    position: relative;

    z-index: 2;

  }

  

  section.show-list .shows-image-container .show h2 span.show-city {

    font-family: "Didonesque Ghost";

    text-align: left;

    text-transform: uppercase;

    color: white;

    position: relative;

    font-size: 20vw;

  }

  

  @media (max-width: 80px) {

    section.show-list .shows-image-container .show h2 span.show-city {

      font-size: 16px;

    }

  }

  

  @media (min-width: 1575px) {

    section.show-list .shows-image-container .show h2 span.show-city {

      font-size: 315px;

    }

  }

  

  @media screen and (max-width: 599px) {

    section.show-list .shows-image-container .show h2 span.show-city {

      font-size: 30vw;

      text-align: center;

      display: block;

      padding-top: 7.5vw;

      margin-top: 0;

    }

  }

  

  @supports ((-webkit-text-stroke-color: #666) and (-webkit-text-fill-color: white)) or ((-moz-text-stroke-color: #666) and (-moz-text-fill-color: white)) {

    section.show-list .shows-image-container .show h2 span.show-city {

      -moz-text-fill-color: white;

      -webkit-text-fill-color: white;

      -moz-text-stroke-color: white;

      -webkit-text-stroke-color: white;

      -moz-text-stroke-width: 1px;

      -webkit-text-stroke-width: 1px;

    }

  }

  

  section.show-list .shows-image-container .show h2 span.show-dates {

    font-family: "Avenir Next", sans-serif;

    font-size: 3.5vw;

    font-weight: 200;

    color: white;

  }

  

  @media (max-width: 457.14285714px) {

    section.show-list .shows-image-container .show h2 span.show-dates {

      font-size: 16px;

    }

  }

  

  @media (min-width: 1571.42857143px) {

    section.show-list .shows-image-container .show h2 span.show-dates {

      font-size: 55px;

    }

  }

  

  @media screen and (max-width: 599px) {

    section.show-list .shows-image-container .show h2 span.show-dates {

      font-size: 5vw;

      text-align: center;

      display: block;

      margin-top: 5vw;

    }

  }

  

  section.show-list .shows-image-container .show .show-background {

    display: block;

    position: absolute;

    top: 0;

    left: 0;

    height: 100%;

    width: 100%;

    background-size: cover;

    background-repeat: no-repeat;

    background-position: center;

  }

  

  @media screen and (min-width: 900px) {

    section.show-list .shows-image-container .show .show-background.fallback {

      display: none;

    }

  }

  

  section.show-list .shows-image-container .show .video {

    display: none;

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    z-index: -1;

    pointer-events: none;

    overflow: hidden;

  }

  

  @media screen and (min-width: 900px) {

    section.show-list .shows-image-container .show .video {

      display: block;

    }

  }

  

  section.show-list .shows-image-container .show .video iframe {

    width: 100vw;

    height: 56.25vw;

    /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */

    min-height: 100vh;

    min-width: 177.77vh;

    /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */

    position: absolute;

    top: 50%;

    left: 50%;

    -webkit-transform: translate(-50%, -50%);

    transform: translate(-50%, -50%);

  }

  

  section.show-list .shows-image-container .show .show-header-overlay {

    position: absolute;

    z-index: 2;

    left: 0;

    top: 0;

    width: 100%;

    height: 100%;

    background: #8ea2c8;

    /* Old browsers */

    /* FF3.6-15 */

    /* Chrome10-25,Safari5.1-6 */

    background: -webkit-linear-gradient(45deg, #8ea2c8 0%, #fdfdfe 100%);

    background: -o-linear-gradient(45deg, #8ea2c8 0%, #fdfdfe 100%);

    background: linear-gradient(45deg, #8ea2c8 0%, #fdfdfe 100%);

    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ea2c8', endColorstr='#fdfdfe',GradientType=1 );

    /* IE6-9 fallback on horizontal gradient */

    mix-blend-mode: multiply;

  }

  

  section.day-list {

    width: 100%;

    margin: 0 auto;

    text-align: center;

    padding: 4vw;

    margin-bottom: 2.5%;

  }

  

  section.day-list:after {

    content: '';

    display: table;

    clear: both;

  }

  

  section.day-list .show {

    display: none;

  }

  

  section.day-list .show.is-selected {

    display: block;

  }

  

  section.day-list .day {

    width: 100%;

    float: none;

    text-align: center;

    position: relative;

    -webkit-transition: opacity 0.25s, -webkit-transform 0.5s 0.125s;

    transition: opacity 0.25s, -webkit-transform 0.5s 0.125s;

    transition: opacity 0.25s, transform 0.5s 0.125s;

    transition: opacity 0.25s, transform 0.5s 0.125s, -webkit-transform 0.5s 0.125s;

    padding: 0;

    margin: 0;

    background-color: #f9f9f9;

    -webkit-box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0, 0, 0, 0.5);

    box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0, 0, 0, 0.5);

  }

  

  section.day-list .day:nth-of-type(3) {

    margin-right: 0 !important;

  }

  

  section.day-list .day.day-1 {

    margin-bottom: 5vw;

    display: none;

  }

  

  section.day-list .day.day-2 {

    margin-top: 5vw;

    margin-bottom: 5vw;

  }

  

  section.day-list .day.day-3 {

    margin-top: 5vw;

    background-position-x: 0;

  }

  

  section.day-list .day button {

    margin-bottom: 2.25vw;

  }

  

  section.day-list .day button.learn {

    background: #bbbbbb;

    background: -webkit-gradient(left top, right top, color-stop(0%, #bbbbbb), color-stop(100%, #a7abb7));

    background: -webkit-gradient(linear, left top, right top, from(#bbbbbb), to(#a7abb7));

    background: -webkit-linear-gradient(left, #bbbbbb 0%, #a7abb7 100%);

    background: -o-linear-gradient(left, #bbbbbb 0%, #a7abb7 100%);

    background: linear-gradient(to right, #bbbbbb 0%, #a7abb7 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#FFBBBBBB, endColorstr=#FFA7ABB7, GradientType=1 );

  }

  

  section.day-list .day button.ticketing-options {

    margin-bottom: 0;

  }

  

  @media screen and (max-width: 899px) {

    section.day-list .day .button-wrapper {

      padding: 0 2rem 2rem;

    }

  }

  

  section.day-list .day a.button:first-of-type {

    margin-bottom: 0;

  }

  

  section.day-list .day button, section.day-list .day a.button:not(.venue) {

    width: -webkit-calc(100% - 5vw);

    width: calc(100% - 5vw);

    letter-spacing: 0.15vw;

    font-weight: 300;

    font-size: 0.825vw;

    padding: 1rem;

  }

  

  @media (max-width: 1454.54545455px) {

    section.day-list .day button, section.day-list .day a.button:not(.venue) {

      font-size: 12px;

    }

  }

  

  @media (min-width: 2424.24242424px) {

    section.day-list .day button, section.day-list .day a.button:not(.venue) {

      font-size: 20px;

    }

  }

  

  @media screen and (min-width: 900px) {

    section.day-list .day button, section.day-list .day a.button:not(.venue) {

      padding: 1.125vw 1.5vw 1vw;

    }

  }

  

  section.day-list .day button.disabled, section.day-list .day a.button:not(.venue).disabled {

    background: #3a5e9d;

    background: -webkit-gradient(left top, right top, color-stop(0%, #3a5e9d), color-stop(100%, #778abe));

    background: -webkit-gradient(linear, left top, right top, from(#3a5e9d), to(#778abe));

    background: -webkit-linear-gradient(left, #3a5e9d 0%, #778abe 100%);

    background: -o-linear-gradient(left, #3a5e9d 0%, #778abe 100%);

    background: linear-gradient(to right, #3a5e9d 0%, #778abe 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#FF3A5E9D, endColorstr=#FF778ABE, GradientType=1 );

    pointer-events: none;

    margin-top: 2rem;

  }

  

  section.day-list .day .day-header {

    padding: 0;

    display: block;

    table-layout: initial;

    background-color: transparent;

    position: relative;

  }

  

  section.day-list .day .day-header .day-image {

    display: block;

    width: 100%;

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    -webkit-box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0, 0, 0, 0.5);

    box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0, 0, 0, 0.5);

  }

  

  section.day-list .day .day-header .image-wrapper {

    position: relative;

  }

  

  section.day-list .day .day-header .image-wrapper h3 {

    font-size: 7.5vw;

    position: absolute;

    top: 50%;

    left: 50%;

    -webkit-transform: translateX(-50%) translateY(-50%);

    transform: translateX(-50%) translateY(-50%);

    font-family: "Didonesque Ghost";

    padding: 0;

    color: white;

    text-transform: capitalize;

  }

  

  @media (max-width: 773.33333333px) {

    section.day-list .day .day-header .image-wrapper h3 {

      font-size: 58px;

    }

  }

  

  @media (min-width: 1600px) {

    section.day-list .day .day-header .image-wrapper h3 {

      font-size: 120px;

    }

  }

  

  section.day-list .day .day-header .image-wrapper h3:after {

    content: none;

  }

  

  section.day-list .day .day-header .image-wrapper .day-image {

    display: block;

    width: 100%;

    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    -webkit-box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0, 0, 0, 0.5);

    box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0, 0, 0, 0.5);

  }

  

  section.day-list .day .day-header h3.day-title {

    font-size: 3vw;

    padding: 2rem 0 0.5rem;

    margin: 0;

    text-transform: uppercase;

    text-align: center;

    letter-spacing: 0;

    font-weight: 500;

    position: relative;

    color: #778abe;

    width: auto;

    display: inline-block;

    line-height: 1.5;

  }

  

  @media (max-width: 933.33333333px) {

    section.day-list .day .day-header h3.day-title {

      font-size: 28px;

    }

  }

  

  @media (min-width: 1600px) {

    section.day-list .day .day-header h3.day-title {

      font-size: 48px;

    }

  }

  

  section.day-list .day .day-header h3.day-title:after {

    content: '';

    display: block;

    width: 100%;

    padding-bottom: 1rem;

    border-bottom: solid 2px rgba(167, 171, 183, 0.5);

  }

  

  section.day-list .day .day-header h3 {

    font-size: 4vw;

    padding: 6vw 0 0.5vw;

    line-height: 1.5;

    margin: 0;

    text-transform: uppercase;

    text-align: center;

    letter-spacing: 0.125vw;

    font-weight: 500;

    position: relative;

    color: #778abe;

    -webkit-transition: rotate 0.3s;

    transition: rotate 0.3s;

    width: auto;

    display: inline-block;

  }

  

  @media (max-width: 600px) {

    section.day-list .day .day-header h3 {

      font-size: 24px;

    }

  }

  

  @media (min-width: 1400px) {

    section.day-list .day .day-header h3 {

      font-size: 56px;

    }

  }

  

  section.day-list .day .day-header h3:after {

    content: '';

    display: block;

    width: 100%;

    border-bottom: solid 2px rgba(167, 171, 183, 0.5);

  }

  

  section.day-list .day .day-header h4 {

    font-size: 1.25vw;

    padding: 0;

    line-height: 1.1;

    margin: 0;

    opacity: 1;

    text-transform: none;

    letter-spacing: 0.025vw;

    font-weight: 500;

    position: relative;

    color: #778abe;

  }

  

  @media (max-width: 1120px) {

    section.day-list .day .day-header h4 {

      font-size: 14px;

    }

  }

  

  @media (min-width: 1920px) {

    section.day-list .day .day-header h4 {

      font-size: 24px;

    }

  }

  

  section.day-list .day .day-header h4 br {

    display: none;

  }

  

  section.day-list .day .day-header h4 a, section.day-list .day .day-header h4 a:visited {

    font-size: 1.25vw;

    padding: 0;

    line-height: 1.3;

    margin: 0;

    opacity: 1;

    text-transform: none;

    letter-spacing: 0.125vw;

    font-weight: 500;

    position: relative;

    color: #778abe;

  }

  

  @media (max-width: 1120px) {

    section.day-list .day .day-header h4 a, section.day-list .day .day-header h4 a:visited {

      font-size: 14px;

    }

  }

  

  @media (min-width: 1920px) {

    section.day-list .day .day-header h4 a, section.day-list .day .day-header h4 a:visited {

      font-size: 24px;

    }

  }

  

  section.day-list .day .day-header h4.audience {

    padding: 1rem 10% 1vw !important;

    line-height: 1.5 !important;

    font-size: 1.25vw;

    font-weight: 300;

    color: #a7abb7;

  }

  

  @media (max-width: 1440px) {

    section.day-list .day .day-header h4.audience {

      font-size: 18px;

    }

  }

  

  @media (min-width: 1920px) {

    section.day-list .day .day-header h4.audience {

      font-size: 24px;

    }

  }

  

  section.day-list .day .day-header h4.date {

    font-size: 2vw;

    padding: 1rem 0 0;

  }

  

  @media (max-width: 900px) {

    section.day-list .day .day-header h4.date {

      font-size: 18px;

    }

  }

  

  @media (min-width: 1400px) {

    section.day-list .day .day-header h4.date {

      font-size: 28px;

    }

  }

  

  section.day-list .day .day-header h4.times {

    font-size: 1.5vw;

    padding: 0.5rem 0 2vw;

  }

  

  @media (max-width: 1200px) {

    section.day-list .day .day-header h4.times {

      font-size: 18px;

    }

  }

  

  @media (min-width: 1866.66666667px) {

    section.day-list .day .day-header h4.times {

      font-size: 28px;

    }

  }

  

  section.day-list .day .day-header h4.location a, section.day-list .day .day-header h4.location a:visited {

    font-size: 1.25vw;

    color: #a7abb7;

    font-weight: 300;

    text-transform: none;

    letter-spacing: 0.035vw;

    line-height: 1.35;

  }

  

  @media (max-width: 1440px) {

    section.day-list .day .day-header h4.location a, section.day-list .day .day-header h4.location a:visited {

      font-size: 18px;

    }

  }

  

  @media (min-width: 1920px) {

    section.day-list .day .day-header h4.location a, section.day-list .day .day-header h4.location a:visited {

      font-size: 24px;

    }

  }

  

  section.day-list .day .day-header h4.address {

    padding: 0;

    line-height: 1.25;

  }

  

  section.day-list .day .day-header h4.address a, section.day-list .day .day-header h4.address a:visited {

    font-size: 1.25vw;

    color: #a7abb7;

    font-weight: 300;

    text-transform: none;

    letter-spacing: 0.035vw;

    line-height: 1.25;

  }

  

  @media (max-width: 1440px) {

    section.day-list .day .day-header h4.address a, section.day-list .day .day-header h4.address a:visited {

      font-size: 18px;

    }

  }

  

  @media (min-width: 1920px) {

    section.day-list .day .day-header h4.address a, section.day-list .day .day-header h4.address a:visited {

      font-size: 24px;

    }

  }

  

  section.day-list .day .day-header h4.spacer {

    padding: 0;

    opacity: 0;

    pointer-events: none;

  }

  

  section.day-list .day .day-header article.description {

    text-align: left;

    color: #a7abb7;

    line-height: 1.35;

    letter-spacing: 0.025vw;

    padding: 5vw 5vw 0;

    text-align: center;

    font-size: 1vw;

  }

  

  @media (max-width: 1600px) {

    section.day-list .day .day-header article.description {

      font-size: 16px;

    }

  }

  

  @media (min-width: 2400px) {

    section.day-list .day .day-header article.description {

      font-size: 24px;

    }

  }

  

  section.day-list .day .day-header article.description a {

    display: block;

    position: relative;

  }

  

  section.day-list .day .day-header article.description p {

    margin: 0 0 1vw;

    text-align: center !important;

    color: #a7abb7;

    line-height: 1.35;

    letter-spacing: 0.025vw;

    font-size: 1vw;

  }

  

  @media (max-width: 1600px) {

    section.day-list .day .day-header article.description p {

      font-size: 16px;

    }

  }

  

  @media (min-width: 2400px) {

    section.day-list .day .day-header article.description p {

      font-size: 24px;

    }

  }

  

  section.day-list .day .day-header article.description p:last-child {

    margin: 0;

  }

  

  section.day-list .day .day-header .fineprint {

    display: block;

    text-align: left;

    color: #a7abb7;

    line-height: 1.25;

    letter-spacing: 0.025vw;

    padding: 0 10% 2rem;

    text-align: center;

    font-size: 0.825vw;

  }

  

  @media (max-width: 1454.54545455px) {

    section.day-list .day .day-header .fineprint {

      font-size: 12px;

    }

  }

  

  @media (min-width: 2909.09090909px) {

    section.day-list .day .day-header .fineprint {

      font-size: 24px;

    }

  }

  

  section.day-list .day article.location h4 {

    font-size: 1.25vw;

    padding: 1vw 0 0;

    line-height: 1.5;

    margin: 0;

    opacity: 1;

    text-transform: none;

    letter-spacing: 0.125vw;

    font-weight: 500;

    position: relative;

    color: #a7abb7;

  }

  

  @media (max-width: 1120px) {

    section.day-list .day article.location h4 {

      font-size: 14px;

    }

  }

  

  @media (min-width: 1920px) {

    section.day-list .day article.location h4 {

      font-size: 24px;

    }

  }

  

  section.day-list .day article.location h4 a, section.day-list .day article.location h4 a:visited {

    font-size: 1.25vw;

    padding: 0;

    line-height: 1.3;

    margin: 0;

    opacity: 1;

    text-transform: none;

    letter-spacing: 0.125vw;

    font-weight: 500;

    position: relative;

    color: #a7abb7;

  }

  

  @media (max-width: 1120px) {

    section.day-list .day article.location h4 a, section.day-list .day article.location h4 a:visited {

      font-size: 14px;

    }

  }

  

  @media (min-width: 1920px) {

    section.day-list .day article.location h4 a, section.day-list .day article.location h4 a:visited {

      font-size: 24px;

    }

  }

  

  section.day-list .day article.location h4.location a, section.day-list .day article.location h4.location a:visited {

    font-size: 1vw;

    font-weight: 300;

    text-transform: uppercase;

    letter-spacing: 0.275vw;

  }

  

  @media (max-width: 1200px) {

    section.day-list .day article.location h4.location a, section.day-list .day article.location h4.location a:visited {

      font-size: 12px;

    }

  }

  

  @media (min-width: 2400px) {

    section.day-list .day article.location h4.location a, section.day-list .day article.location h4.location a:visited {

      font-size: 24px;

    }

  }

  

  section.day-list .day article.location h4.address {

    padding: 0;

  }

  

  section.day-list .day article.location h4.address a, section.day-list .day article.location h4.address a:visited {

    font-size: 1vw;

    font-weight: 300;

    text-transform: uppercase;

    letter-spacing: 0.275vw;

  }

  

  @media (max-width: 1200px) {

    section.day-list .day article.location h4.address a, section.day-list .day article.location h4.address a:visited {

      font-size: 12px;

    }

  }

  

  @media (min-width: 2400px) {

    section.day-list .day article.location h4.address a, section.day-list .day article.location h4.address a:visited {

      font-size: 24px;

    }

  }

  

  section.day-list .day article.location h4.spacer {

    padding: 0;

    opacity: 0;

    pointer-events: none;

  }

  

  section.day-list .day section.blocks {

    padding: 0;

    margin-top: 2.5vw;

    display: none;

    table-layout: fixed;

    background-color: transparent;

  }

  

  section.day-list .day section.blocks button, section.day-list .day section.blocks a.button {

    position: relative;

  }

  

  section.day-list .day section.blocks article {

    display: block;

    height: auto;

    padding: 0;

    margin: 0;

    vertical-align: top;

  }

  

  section.day-list .day section.blocks article h5 {

    font-size: 1.25vw;

    padding: 0 0 1vw;

    line-height: 1.3;

    margin: 0;

    text-transform: uppercase;

    letter-spacing: 0.15vw;

    font-weight: 600;

    position: relative;

    color: #778abe;

    text-align: left;

    width: 100%;

  }

  

  @media (max-width: 1120px) {

    section.day-list .day section.blocks article h5 {

      font-size: 14px;

    }

  }

  

  @media (min-width: 1920px) {

    section.day-list .day section.blocks article h5 {

      font-size: 24px;

    }

  }

  

  section.day-list .day section.blocks article h6 {

    font-size: 1.125vw;

    padding: 0 0 1vw;

    line-height: 1.3;

    margin: 0;

    text-transform: none;

    letter-spacing: 0.15vw;

    font-weight: 300;

    position: relative;

    color: #a7abb7;

    text-align: left;

    width: 100%;

  }

  

  @media (max-width: 1066.66666667px) {

    section.day-list .day section.blocks article h6 {

      font-size: 12px;

    }

  }

  

  @media (min-width: 1955.55555556px) {

    section.day-list .day section.blocks article h6 {

      font-size: 22px;

    }

  }

  

  section.day-list .day section.blocks article.paragraph, section.day-list .day section.blocks article.ticket, section.day-list .day section.blocks article.callout {

    padding: 5vw 5vw 0;

  }

  

  section.day-list .day section.blocks article.paragraph article, section.day-list .day section.blocks article.ticket article, section.day-list .day section.blocks article.callout article {

    margin: 0 0 1vw;

    text-align: left;

    color: #a7abb7;

    line-height: 1.75;

    letter-spacing: 0.025vw;

    font-size: 1vw;

  }

  

  @media (max-width: 1200px) {

    section.day-list .day section.blocks article.paragraph article, section.day-list .day section.blocks article.ticket article, section.day-list .day section.blocks article.callout article {

      font-size: 12px;

    }

  }

  

  @media (min-width: 1600px) {

    section.day-list .day section.blocks article.paragraph article, section.day-list .day section.blocks article.ticket article, section.day-list .day section.blocks article.callout article {

      font-size: 16px;

    }

  }

  

  section.day-list .day section.blocks article.paragraph article li, section.day-list .day section.blocks article.ticket article li, section.day-list .day section.blocks article.callout article li {

    margin: 0;

    text-align: left;

    color: #a7abb7;

    line-height: 1.75;

    letter-spacing: 0.025vw;

    font-size: 1vw;

  }

  

  @media (max-width: 1200px) {

    section.day-list .day section.blocks article.paragraph article li, section.day-list .day section.blocks article.ticket article li, section.day-list .day section.blocks article.callout article li {

      font-size: 12px;

    }

  }

  

  @media (min-width: 1600px) {

    section.day-list .day section.blocks article.paragraph article li, section.day-list .day section.blocks article.ticket article li, section.day-list .day section.blocks article.callout article li {

      font-size: 16px;

    }

  }

  

  section.day-list .day section.blocks article.divider {

    margin: 0;

  }

  

  section.day-list .day section.blocks article.divider:after {

    content: '';

    display: block;

    position: relative;

    top: -1.5vw;

    width: 100%;

    margin: 0 auto;

    margin-bottom: 2vw;

    -webkit-box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0, 0, 0, 0.5);

    box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0, 0, 0, 0.5);

    padding-bottom: 4vw !important;

  }

  

  section.day-list .day section.blocks article.button button, section.day-list .day section.blocks article.button a.button {

    font-size: 1vw;

    letter-spacing: 0.125vw;

    cursor: pointer;

  }

  

  @media (max-width: 1200px) {

    section.day-list .day section.blocks article.button button, section.day-list .day section.blocks article.button a.button {

      font-size: 12px;

    }

  }

  

  @media (min-width: 2000px) {

    section.day-list .day section.blocks article.button button, section.day-list .day section.blocks article.button a.button {

      font-size: 20px;

    }

  }

  

  section.day-list .day section.blocks article.callout {

    padding: 0;

    margin: 2.5vw;

    background-color: white;

  }

  

  section.day-list .day section.blocks article.callout article {

    padding: 1.5rem;

    margin: 0;

    outline: solid 1px #778abe;

    outline-offset: -0.5vw;

    text-align: center;

    font-weight: 300;

    line-height: 1.35;

    letter-spacing: 0.05vw;

    color: #778abe;

  }

  

  section.day-list .day section.blocks > article:last-child {

    margin: 1.5vw 0 3.5vw !important;

  }

  

  section.day-list .day.tba {

    float: none;

    width: 80%;

    margin-right: auto !important;

    margin-left: auto !important;

  }

  

  section.day-list .day.tba a.button {

    width: 50%;

  }

  

  .fixed-height {

    height: 50vmax !important;

  }

  

  section.carousel .flickity-viewport .carousel-cell a article.quote {

    padding: 10vw 15vw 5vw;

  }

  

  section.carousel .flickity-viewport .carousel-cell a article.quote aside {

    margin: 1.5vw 4vw 4vw;

  }

  























  /* page content */



  .new-2019:after {

    content: "";

    display: block;

    clear: both;

  }



  .new-2019 {

    margin-bottom: 2vw;

  }





  .new-2019 .day-list {

    padding: 0;

    width: 74.2857142857%;

    float: left;

    margin-left: -17px;

  }

  

  .new-2019 .day-list .days {

    display: -webkit-box;

    display: -ms-flexbox;

    display: -webkit-flex;

    display: flex;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;

  }

  

  .new-2019 .day-list .days .day {

    width: -webkit-calc(50% - 36px);

    width: calc(50% - 36px);

    margin-left: 17px !important;

    margin-right: 17px !important;

  }

  

  .new-2019 .day-list .days .day.day-2 {

    margin-bottom: 0 !important;

  }



  .new-2019 section.day-list .day button, .new-2019 section.day-list .day a.button:not(.venue) {

    padding: 15px !important;

  }



  .new-2019 section.day-list .day button, .new-2019 section.day-list .day a.button:not(.venue) {

    font-size: 16px !important;

  }



  .new-2019 section.day-list .day button, .new-2019 section.day-list .day a.button:not(.venue) {

    letter-spacing: 2px;

  }



  .new-2019  .extra-details h3{

    border-top: none;

  }

  



  .new-2019 .details {

    display: -webkit-box;

    display: -ms-flexbox;

    display: -webkit-flex;

    display: flex;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;

  }



  .new-2019 .details .day {

    width: -webkit-calc(50% - 36px);

    width: calc(50% - 36px);

    margin-left: 17px !important;

    margin-right: 17px !important;

  }



  .new-2019 section.details .day:nth-of-type(2) {

    margin-right: 17px !important;

  }



  .new-2019 section.details .day-header .detail-wrapper .button-wrapper a.button.venue {

    padding: 15px;

  }



 .new-2019 section.details .day-header .detail-wrapper article.description {

    height: 176px;

 }



 .new-2019 section.details .day-header .detail-wrapper .button-wrapper a.button.venue {

   font-size: 16px !important;

 }



 .new-2019 .flickity-page-dots {

   bottom: -3vw;

 }



 .new-2019 .flickity-page-dots .dot {

    width: 13px;

    height: 13px;

    min-width: 13px;

    min-height: 13px;

    background-color: #fff;

    border: 3px solid #778abe;

    transition: background-color .35s;

 }



 .flickity-page-dots .dot.is-selected {

   background-color: #778abe;

 }



 .btn-wrap {
    width: 11%;
    position: relative;
 }



 .btn-wrap a.button.buy-now {

   width: 100% !important;

   font-weight: 500;

   font-size: 0.7vw;

 }



 .btn-wrap  .buy-sub {

   position: absolute;

   width: 350px;

   z-index: 2;

   background-color: #fff;

   padding: 40px 0;

   left: 50%;

   transform: translateX(-50%);

   top: auto;

   opacity: 0;

   visibility: hidden;

 }



 .btn-wrap .open {

   opacity: 1;

   visibility: visible;

   transition: opacity .35s, visibility .35s;

 }



 body {

   overflow-x: hidden !important;

 }



 body>nav {

   overflow: visible !important;

   position: fixed;

   z-index: 1000;

   pointer-events: auto;

 }



 body > nav .menu-bar {

   pointer-events: auto;

 }



 .site {

   z-index: 500;

 }



 .btn-wrap  .buy-sub .button-wrapper {

   display: flex;

   flex-wrap: wrap;

   width: calc(100% - 80px);

   margin: auto;

   position: relative;

   padding-bottom: 30px;

   margin-bottom: 20px;

 }



 .btn-wrap  .buy-sub .button-wrapper:last-child {

   padding-bottom: 0;

   margin-bottom: 0;

 }



 .btn-wrap  .buy-sub .button-wrapper:last-child .button {

    width: 100%;

 }



 .btn-wrap  .buy-sub .button-wrapper .sidebar-msg {

   width: 80%;

   color: #778abe;

   font-weight: 700;

   font-size: 20px;

   margin: auto;

   margin-bottom: 20px;

 }



  .buy-sub .button-wrapper:first-of-type:after {

    content: "";

    display: block;

    position: absolute;

    left: 0;

    bottom: 0;

    width: 95%;

    height: 2px;

    background-color: rgba(167, 171, 183, 0.5);

    left: 50%;

    transform: translateX(-50%);

  }



 .btn-wrap  .buy-sub .button-wrapper .button {

   padding: 12px;

   margin: 0 10px 0 10px;

   width: calc(50% - 21px);

   font-size: 18px;

 }



 header.carousel .flickity-viewport .carousel-cell .carousel-image, header.video .flickity-viewport .carousel-cell .carousel-image {

    background-position: right center !important;

 }



  /* aside */





  .new-2019 .sidebar-main {

    background-color: #f9f9f9;

    -webkit-box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0, 0, 0, 0.5);

    box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0, 0, 0, 0.5);

    padding: 20px !important;

    margin-top: 5vw !important;

    position: relative;

    width: 25.857143%;

    float: right;

    margin-bottom: 180px;

  }

  

  @media screen and (min-width: 900px) {

    .new-2019 .sidebar-main {

      padding: 1.5vw;

      margin-top: 3vw;

    }

  }

  

  .new-2019 .sidebar-main:after {

    content: '';

    display: block;

    position: absolute;

    width: 100%;

    height: 100%;

  }

  

  .new-2019 .sidebar-main .news-feeds .show-newsfeed .headline {

    display: block;

    letter-spacing: 0.15vw;

    font-weight: 500;

    margin: 0;

    text-align: center;

    width: 100% !important;

    font-size: 0.825vw;

    padding-bottom: 2rem;

  }

  

  @media (max-width: 1454.54545455px) {

    .new-2019 .sidebar-main .news-feeds .show-newsfeed .headline {

      font-size: 12px;

    }

  }

  

  @media (min-width: 2424.24242424px) {

    .new-2019 .sidebar-main .news-feeds .show-newsfeed .headline {

      font-size: 20px;

    }

  }

  

  @media screen and (min-width: 900px) {

    .new-2019 .sidebar-main .news-feeds .show-newsfeed .headline {

      padding-bottom: 1.5vw;

    }

  }

  

  .new-2019 .sidebar-main .news-feeds .show-newsfeed article {

    margin: 0 0 1rem;

  }

  

  @media screen and (min-width: 900px) {

    .new-2019 .sidebar-main .news-feeds .show-newsfeed article {

      margin: 0 0 8px;

    }

  }



  .new-2019 .featured-items {

    display: none;

  }

  

  .new-2019 .sidebar-main .news-feeds .show-newsfeed article:after {

    content: '';

    display: table;

    clear: both;

  }

  

  .new-2019 .sidebar-main .news-feeds .show-newsfeed article .entry-header {

    width: 25%;

    float: left;

    margin-right: 5%;

  }

  

  .new-2019 .sidebar-main .news-feeds .show-newsfeed article .article-title {

    width: 70%;

    float: right;

    margin-right: 0;

  }

  

  .new-2019 .sidebar-main .news-feeds .show-newsfeed article .article-title h6.entry-title {

    margin: 0;

    text-transform: none;

    color: #a7abb7;

    letter-spacing: 0.0125vw;

    font-weight: 300;

    font-size: 0.825vw;

  }

  

  @media (max-width: 1454.54545455px) {

    .new-2019 .sidebar-main .news-feeds .show-newsfeed article .article-title h6.entry-title {

      font-size: 12px;

    }

  }

  

  @media (min-width: 2424.24242424px) {

    .new-2019 .sidebar-main .news-feeds .show-newsfeed article .article-title h6.entry-title {

      font-size: 20px;

    }

  }

  

  .new-2019 .sidebar-main .news-feeds .view-more {

    border-top: solid 1px #a7abb7;

    color: #666;

    font-weight: 500;

    text-transform: uppercase;

    display: block;

    padding: 1.5rem 0;

    font-size: 0.75vw;

  }

  

  @media (max-width: 1333.33333333px) {

    .new-2019 .sidebar-main .news-feeds .view-more {

      font-size: 10px;

    }

  }

  

  @media (min-width: 2400px) {

    .new-2019 .sidebar-main .news-feeds .view-more {

      font-size: 18px;

    }

  }

  

  @media screen and (min-width: 900px) {

    .new-2019 .sidebar-main .news-feeds .view-more {

      padding: 25px 0 25px 0;

    }

  }

  

  .new-2019 .sidebar-main .newsletter input[type="email"] {

    -webkit-box-shadow: inset 2px 3px 7px rgba(0, 0, 0, 0.2);

    box-shadow: inset 2px 3px 7px rgba(0, 0, 0, 0.2);

    background: #f9f9f9 !important;

    width: 100%;

    margin: 10px 0 !important;

    padding: 9px !important;

  }

  

  @media screen and (max-width: 899px) {

    .new-2019 .sidebar-main .newsletter input[type="email"] {

      line-height: 16px;

      font-size: 16px;

      margin: 10px 0 !important;

      padding: 9px !important;

    }

  }

  

  @media screen and (min-width: 900px) {

    .new-2019 .sidebar-main .newsletter input[type="email"] {

      font-size: 0.75vw;

      margin: 10px 0 !important;

      padding: 9px !important;

    }

  }

  

  @media screen and (min-width: 900px) and (max-width: 1333.33333333px) {

    .new-2019 .sidebar-main .newsletter input[type="email"] {

      font-size: 10px;

      margin: 10px 0 !important;

      padding: 9px !important;

    }

  }

  

  @media screen and (min-width: 900px) and (min-width: 2400px) {

    .new-2019 .sidebar-main .newsletter input[type="email"] {

      font-size: 18px;

      margin: 10px 0 !important;

      padding: 9px !important;

    }

  }

  

  .new-2019 .sidebar-main .newsletter input[type="email"]::-webkit-input-placeholder {

    /* WebKit, Blink, Edge */

    color: #bbb;

    text-align: center;

    text-transform: uppercase;

    margin: 10px 0 !important;

    padding: 9px !important;

  }

  

  .new-2019 .sidebar-main .newsletter input[type="email"]::-moz-placeholder {

    /* Mozilla Firefox 4 to 18 */

    color: #bbb;

    opacity: 1;

    text-align: center;

    text-transform: uppercase;

    margin: 10px 0 !important;

    padding: 9px !important;

  }

  

  .new-2019 .sidebar-main .newsletter input[type="email"]::-moz-placeholder {

    /* Mozilla Firefox 19+ */

    color: #bbb;

    opacity: 1;

    text-align: center;

    text-transform: uppercase;

    margin: 10px 0 !important;

    padding: 9px !important;

  }

  

  .new-2019 .sidebar-main .newsletter input[type="email"]::-ms-input-placeholder {

    /* Internet Explorer 10-11 */

    color: #bbb;

    text-align: center;

    text-transform: uppercase;

    margin: 10px 0 !important;

    padding: 9px !important;

  }

  

  .new-2019 .sidebar-main .newsletter .newsletter-cta {

    color: #778abe;

    font-weight: 500;

    text-transform: uppercase;

    display: block;

    padding: 0 0 1rem;

    font-size: 0.825vw;

    letter-spacing: 0.025vw;

  }

  

  @media (max-width: 1454.54545455px) {

    .new-2019 .sidebar-main .newsletter .newsletter-cta {

      font-size: 12px;

    }

  }

  

  @media (min-width: 2424.24242424px) {

    .new-2019 .sidebar-main .newsletter .newsletter-cta {

      font-size: 15px;

    }

  }

  

  @media screen and (min-width: 900px) {

    .new-2019 .sidebar-main .newsletter .newsletter-cta {

      padding: 0 0 10px;

    }

  }

  

  .new-2019 .sidebar-main .newsletter .button {

    display: block;

    letter-spacing: 0.15vw;

    font-weight: 300;

    margin: 0 0 16px;

    text-align: center;

    width: 100% !important;

    font-size: 0.825vw;

    padding: 1rem;

    background: #3a5e9d;

    background: -webkit-gradient(left top, right top, color-stop(0%, #3a5e9d), color-stop(100%, #778abe));

    background: -webkit-gradient(linear, left top, right top, from(#3a5e9d), to(#778abe));

    background: -webkit-linear-gradient(left, #3a5e9d 0%, #778abe 100%);

    background: -o-linear-gradient(left, #3a5e9d 0%, #778abe 100%);

    background: linear-gradient(to right, #3a5e9d 0%, #778abe 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#FF3A5E9D, endColorstr=#FF778ABE, GradientType=1 );

    color: white;

    text-transform: uppercase;

    -webkit-box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0, 0, 0, 0.5);

    box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0, 0, 0, 0.5);

    padding: 7px !important;

  }

  

  @media (max-width: 1454.54545455px) {

    .new-2019 .sidebar-main .newsletter .button {

      font-size: 12px;

    }

  }

  

  @media (min-width: 2424.24242424px) {

    .new-2019 .sidebar-main .newsletter .button {

      font-size: 20px;

    }

  }

  

  @media screen and (min-width: 900px) {

    .new-2019 .sidebar-main .newsletter .button {

      padding: 0.875vw 1.25vw 0.75vw;

    }

  }

  

  .new-2019 .sidebar-main .newsletter .button:hover, .new-2019 .sidebar-main .newsletter .button:active, .new-2019 .sidebar-main .newsletter .button:focus {

    background: #3a5e9d;

    background: -webkit-gradient(left top, right top, color-stop(0%, #3a5e9d), color-stop(100%, #778abe));

    background: -webkit-gradient(linear, left top, right top, from(#3a5e9d), to(#778abe));

    background: -webkit-linear-gradient(left, #3a5e9d 0%, #778abe 100%);

    background: -o-linear-gradient(left, #3a5e9d 0%, #778abe 100%);

    background: linear-gradient(to right, #3a5e9d 0%, #778abe 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#FF3A5E9D, endColorstr=#FF778ABE, GradientType=1 );

  }





















 /* Header */

 a.button.buy-now {

   position: relative !important;

 }

  



 body div.accounts {

   position: relative !important;

 }



 body .menu-logo {
   height: 5vw !important;
   max-height: 52px;
   max-width: 48rem !important;
   background-position: center !important;
 }





 body .masthead {

  display: -webkit-box !important;

  display: -ms-flexbox !important;

  display: -webkit-flex !important;

  display: flex !important;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;

}



body .masthead {

  display: -webkit-box;

  display: -ms-flexbox;

  display: -webkit-flex;

  display: flex;

  -webkit-box-pack: justify;

  -ms-flex-pack: justify;

  justify-content: space-between;

  -webkit-box-align: center;

  -ms-flex-align: center;

  align-items: center;

}



a.button.buy-now {

  min-width: unset !important;

  max-width: unset !important;

  padding: 10px !important;

}





body>nav.detached .menu-bar a.button.buy-now {

  transform: translateY(0) !important;

}



body .masthead {

  margin-bottom: 1.4vw;

}



body div#menu-wrapper .menu-navigation-container {

  padding: 20px 0;

}





body div#menu-wrapper {

  display: block !important;

  width: 100% !important;

}



body .detached .masthead {

  height: 4vw;

}



@media screen and (max-width: 1600px) {

  .new-2019 .sidebar-main {

    overflow: hidden;

  }

  .new-2019 .day-list {

    margin-left: 0;

  }

  .new-2019 .sidebar-main {

    width: 22.857143%;

    margin-right: 2vw;

  }

  .new-2019 .slick-wrapper {

    width: 22.857143% !important;

    margin-right: 2vw;

  }

  .new-slider .slide p {

    font-size: 1.78vw !important;

  }

  .new-2019 .new-slider .slide h2 {

    font-size: 1.2vw !important;

  }

} 



@media screen and (max-width: 1400px) {

  .new-2019  .carousel, .new-2019  .video {

      padding-bottom: 2vw;

  }

  .new-2019 .flickity-page-dots {

    bottom: -20px;

  }

  .new-2019 .sidebar-main {

    margin-bottom: 176px;

  }

}



@media screen and (max-width: 1300px) {

  body>nav {

    height: 15vw !important;

  }

}



@media screen and (max-width: 1000px) {

  .new-2019 .day-list {

    width: 100%;

    float: none;

  }

  .new-2019 .sidebar-main {

    width: 100%;

    margin-right: 0;

    margin-bottom: 3vw;

  }



  .new-2019 section.day-list .day button, .new-2019 section.day-list .day a.button:not(.venue) {

    font-size: 13px !important;

  }



  .new-2019 section.details .day-header .detail-wrapper .button-wrapper a.button.venue {

    font-size: 13px !important;

  }



  .new-2019 .slick-wrapper {

    width: 100% !important;

    margin-right: 0;

  }

  .new-slider .slide p {

    font-size: 25px !important;

  }



  .new-slider .slide h2 {

    font-size: 20px;

  }



  .new-2019 .slick-wrapper {

    padding: 2vw 40px 60px 40px !important;

  }



  .new-2019 .slick-dots {

    bottom: 10px !important;

  }



  .btn-wrap {
    max-width: 320px;
  }

}



@media screen and (max-width: 950px) {

  body>nav {

    height: 20vw !important;

  }

  body .detached .masthead {

    height: 3vw;

    margin-bottom: 5vw;

  }

}



@media screen and (max-width: 800px) {

  body>nav.detached {

    transform: translate3d(0, -9vw, 0) !important;

  }



  a.button.buy-now {

    width: 26% !important;

  }

  .new-2019  .carousel, .new-2019  .video {

    padding-bottom: 50px;

}

.new-2019 .flickity-page-dots {

  bottom: 16px;

}



.new-2019 .day-list .days .day {

  width: 100%;

}



.new-2019 .details .day {

  width: 100%;

  margin-top: 5vw;

}

.btn-wrap .buy-sub .button-wrapper .button {

  font-size: 14px;

}



.btn-wrap .buy-sub .button-wrapper .sidebar-msg {

  font-size: 16px;

}



.btn-wrap {

  width: 15%;

}



.btn-wrap .buy-sub .button-wrapper {

  width: calc(100% - 20px);

}



.btn-wrap a.button.buy-now {

  padding: 10px !important;
  font-size: 1vw;

}

}



.modal-popup .modal-popup-content .inner {

  overflow-y: auto;

}



@media screen and (max-width: 600px) {

  body>nav.detached {

    transform: translate3d(0, 0, 0) !important;

  }



  body>nav {

    height: 4rem !important

  }



  .btn-wrap {

    display: none !important;

  }



  body .detached .masthead {

    height: auto !important;

    margin: 0 !important;

  }

  body>nav .menu-bar .menu-logo {

    max-height: unset !important;

    margin: 0 !important;

    position:  relative !important;

    transform: none !important;

  }

  body .masthead {

    margin-bottom: 0 !important;

  }

  body div.accounts {

    display: none !important;

  }

}



body nav.expanded {

  height: 100% !important;

}











/* footer */



footer a {

  height: auto !important;

}



footer {

  position:  relative !important;

  border-top: 2px solid #000;

}



footer .sidebar-header {

  text-align: center;

  width: 50%;

  position: absolute;

  top: 12%;

  right: 16vw;

  max-width: 450px;

  padding-bottom: 30px;

}



footer .sidebar-header .button-wrapper {

  display: flex;

  flex-wrap: wrap;

  padding: 20px 40px;

  position: relative;

}



footer .sidebar-header .button-wrapper:last-child .button {

  width: 97%;

  margin: auto;

}



footer .sidebar-header .button-wrapper .button {

  width: calc(50% - 21px);

  margin-left: 10px;

  margin-right: 10px;

}



footer .sidebar-header .button-wrapper .sidebar-msg {

  width: 100%;

  font-size: 19px;

  color: #778abe;

  font-weight: 700;

  margin-bottom: 10px;

}



footer .sidebar-msg {

  width: 100%;

  font-size: 22px;

  color: #778abe;

  font-weight: 700;

}



footer .sidebar-header .button {

  padding: 12px;

  margin: 1vw 0;

  outline-offset: -0.5vw;

  letter-spacing: 0.125vw;

  box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);

  text-align: center;

  font-size: 18px;

}



footer .sidebar-header .button:first-child {

  width: 100%;

  margin: 0 0 20px 0;

}



.site-footer:after {

  content: "";

  display: block;

  clear: both;

}



.site-footer .footer-social {

  padding-right: 50%;



}



.site-footer .bottom-line {

  padding-right: 50% !important;

}



footer .sidebar-header .button-wrapper:first-of-type {

  padding: 5px 0px;

  width: calc(100% - 80px);

  margin: auto;

  margin-bottom: 20px;

}



footer .sidebar-header .button-wrapper:first-of-type:after {

  content: "";

  display: block;

  position: absolute;

  left: 0;

  bottom: 0;

  width: 95%;

  height: 2px;

  background-color: rgba(167, 171, 183, 0.5);

  left: 50%;

  transform: translateX(-50%);

}



@media screen and (min-width: 600px) {

  footer#colophon .footer-social p {

    width: 61% !important;

  }

  footer#colophon .footer-social .newsletter {

    width: 57% !important;

  }

}



@media screen and (max-width: 1600px) {

  footer .sidebar-header {

    right: 10vw;

  }

}



@media screen and (max-width: 1200px) {

  .site-footer .footer-social {

    padding-right: 0;

  }

  .site-footer .bottom-line {

    padding-right: 0 !important;

  }



  footer .sidebar-header {

    position: relative;

    top: 0;

    right: 0;

    width: 100%;

    max-width: 100%;

  }

  footer .sidebar-header .button-wrapper:first-of-type {

    padding: 20px 0;

  }

  footer .sidebar-header .button-wrapper:first-of-type:after {

    width: 98%;

  }

  .site-footer .bottom-line {

    margin-bottom: 30px;

  }

  .new-2019 .new-slider .slide h2 {

    font-size: 1.4vw !important;

}

} 



@media screen and (max-width: 600px) {

  footer .sidebar-header .button {

    padding: 10px;

    font-size: 16px;

  }

  footer .sidebar-msg {

    font-size: 20px,

  }

  footer .sidebar-header .button-wrapper .sidebar-msg {

    font-size: 20px;

  }

} 









/* new side slider */



.new-2019 .slick-wrapper {

  position: relative;

  width: 25.857143%;

  background-color: #f9f9f9;

  box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0, 0, 0, 0.5);

  float: right;

  padding: 2vw 40px 4.3vw 40px;

}



.new-2019 .new-slider .slide {

  text-align: center;

}





.new-2019 .new-slider .slide h2, .new-slider .slide p {

  color: #778abe;

  font-weight: 500;

}



.new-2019 .new-slider .slide h2 {

  font-weight: 700;

  font-size: 22px;

  letter-spacing: 1px;

  text-transform: none;

}



.new-slider .slide p {

  font-size: 30px;

  line-height: 1.55;

  font-style: italic;

  letter-spacing: -1px;

}





.new-2019 .slick-dots {

  padding: 0;

  list-style-type: none;

  margin: 0;

  width: 100%;

  height: auto;

  text-align: center;

  display: block;

  position: absolute;

  width: 100%;

  left: 0;

  bottom: 1%;

}



.new-2019 .slick-dots li {

  display: inline-block;

  cursor: pointer;

}



.new-2019 .slick-dots li button {

  color: transparent;

  width: 15px;

  height: 15px;

  margin: 10px;

  border-radius: 50%;

  background: transparent;

  border: 3px solid #778abe;

  transition: background .35s;

  padding: 0;

}



.new-2019 .slick-dots .slick-active button {

  background: #778abe;

}















 

  