.page#about {
    .container > h1 { display: none; }
    .fixed-height {
        height: 50vmax !important;
    }
    header h1 {
        //text-align: center;
        //color: $color__core_blue;
        //font-weight: 300;
        //@include responsive-font(5vw, 36px, 148px);
        //letter-spacing: 0.5vw;
        @media screen and (min-width: $responsive_min-breakpoint ) {
            //font-weight: 100;
        }
        font-family: $font__swash;
        font-style: italic;
        text-transform: none;
        color: $color__core_white;
        letter-spacing: 0;
        text-align: center;
        @include responsive-font(20vw, 24px, 120px);
    }
    section.staff {
        &:after {
            content: '';
            display: block;
            position: relative;
            bottom: 0;
            width: 45%;
            margin: 5vw auto 0;
            min-height: 2px;
            background-color: $color__core_grey;
        }
        h3 {
            margin: 0 0 4vw;
            text-align: center;
            @include responsive-font(1.75vw, 20px, 36px);
            line-height: 1.5;
            color: $color__core_headline;

            &:before {
                content: '';
                display: block;
                position: relative;
                bottom: 0;
                width: 45%;
                margin: 0 auto 8vw;
                min-height: 2px;
                background-color: $color__core_grey;
            }
        }
        ul.bios {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                vertical-align: top;
                width: 100%;
                display: block;
                &:nth-of-type(1) {
                    margin: 0 auto;
                }
                &:nth-of-type(2) {
                    margin: 0 auto;
                }
                .photo {
                    display: block;
                    height: 40vmax;
                    width: 100%;
                    margin: 0;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                h4 {
                    width: 100%;
                    letter-spacing: 0.125vw;
                    text-align: left;
                    color: #5f5f5f;
                    padding: 1.5rem 0 1rem;
                    margin: 0;
                }
                p {
                    @include responsive-font(1vw, 14px, 22px);
                    width: 100%;
                    margin: 0 0 3rem;
                    letter-spacing: 0.025vw;
                    line-height: 1.75;
                    text-align: left;
                }
            }
        }
    }
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    .page#about {
        .fixed-height {
            height: 40vw !important;
        }
        section.staff {
            h3 {
                margin: 0 0 5vw;
                text-align: center;
                &:before {
                    margin: 0 auto 4vw;
                }
            }
            ul.bios {
                margin: 0;
                padding: 0;
                li {
                    width: 30%;
                    display: inline-block;
                    &:nth-of-type(1) {
                        margin: 0 1.5% 0 17.5%;
                    }
                    &:nth-of-type(2) {
                        margin: 0 17.5% 0 1.5%;
                    }
                    .photo {

                    }
                    h4 {
                        padding: 2vw 0 1vw;
                    }
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}
