
.gform_wrapper h3.gform_title,
span.gform_description, .gfield_description {
        display: none !important;
}
.gform_wrapper label.gfield_label {
    font-weight: 300 !important;
//    font-size: 1.5vw !important;
    letter-spacing: 0.125vw !important;
    text-transform: uppercase !important;
}
.address_country select {
    height: 2.75vw;
    margin: 1.1vw !important;
    border: 0;
    background-color: #eee;
    border-radius: 0;
}
.gform_wrapper {
    margin: 0;
}
ul#gform_fields_1 {
    padding: 0;
}
.gform_wrapper .top_label .gfield_label {
    margin: 0;
    @include responsive-font(1.25vw, 14px, 18px);
}
body .gform_wrapper .top_label div.ginput_container {
    margin-top: 0;
}
input#gform_submit_button_1 {
    width: 50%;
}
ul.gfield_checkbox {
    margin: 0;
    padding: 0 0 2vw 0;
    li {
        width: 50%;
        display: block;
        float: left;
    }
    &:after {
        content: '';
        display: table;
        float: none;
        clear: both;
    }
}

.gfield_radio {
    li {
        display: block;
        float: left;
        width: 5rem;
    }
    &:after {
        content: '';
        display: table;
        float: none;
        clear: both;
    }
}

#input_1_14 li {
    width: 100%;
    display: block;
    float: none;
}

li.gchoice_1_13_2, li.gchoice_1_27_2 {
    width: 15rem;
}
.gform_wrapper {
    input[type="radio"] {
        margin: 2px 0 0 4px;
    }
    input[type="checkbox"] {
        margin-top: 10px;
        margin-bottom: 6px;
        vertical-align: text-top;
    }
    input#choice_1_18_1 {
        vertical-align: top;
        //margin-top: 0;
    }
}

div#gform_confirmation_message_1 {
    text-align: center;
    margin-top: 2rem;
}
