@keyframes pulseOutline {
  0% {
    outline-offset: -0.5vw;
  }

  50% {
    outline-offset: 0vw;
  }

  100% {
    outline-offset: -0.5vw;
  }
}


.page#attend {
    .container {
        main.attend-main {
            @include clearfix-std;
            position: relative;
            width: 100%;
            padding: 0;
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                @include span(9 of 12);
                margin-right: 0;
                padding: 5% 2.5% 5% 5%;
            }
            @media screen and (min-width: $responsive_max-breakpoint ) {
                padding: 5% 0;
            }
        }
        aside.sidebar {
            position: relative;
            width: 100%;
            padding: 2rem;
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                @include span(3 of 12);
                @include last;
                padding: 0;
            }
            aside {
                @include span(12 of 12);
                a.instagram-header {
                    text-decoration: none;
                    text-transform: lowercase;
                    color: $color__core_blue;
                    font-weight: 500;
                    @include responsive-font(1.25vw, 11px, 16px);
                }
                section {
                    margin: 0;
                    padding: 0;
                    background-color: transparent;
                    .textwidget h4 {
                        @include responsive-font(1.25vw, 11px, 16px);
                        margin: 0;
                        padding: 0 0 2.5vw;
                    }
                    ul {
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        li {
                            line-height: 0;
                            margin-bottom: 1vw;
                            position: relative;
                            //transition: transform 0.5s ease, box-shadow 0.5s ease-in-out 0.05s;
                            transition: transform 0.5s ease 0.05s, box-shadow 0.25s ease-in-out;
                            &:focus, &:hover {
                                transform: scale(1.025);
                                z-index: 9;
                            }
                        }
                    }
                }
            }
        }
    }
    section.media .media-object section.media-header h3 {
        //padding: 1rem 5vw 0.5vw 0;
    }
    section.media {
        @media screen and (min-width: $responsive_mid-breakpoint ) {
            padding: 2.5vw 0;
        }
    }
    section.show-list {
        padding: 0; //8vw 0 0
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-size: cover;
        background-position: center;
        @media screen and (max-width: ($responsive_min-breakpoint - 1) ) {
            height: 80vw;
        }
        .header-wrapper {
            width: 100%;
            display: block;
            position: relative;
            height: 80vw;
            overflow: hidden;
            @media screen and (min-width: $responsive_min-breakpoint ) {
                height: 30vw;
            }
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                //width: auto;
                //display: inline-block;
            }
        }
        h1 {
            text-align: center;
            color: $color__core_blue;
            font-weight: 300;
            @include responsive-font(7vw, 36px, 148px);
            letter-spacing: 0.5vw;
            display: inline-block;
            padding: 0 12.5vw;
        }
        .shows-container {
            height: 36vw;
            z-index: 2;
            @media screen and (max-width: ($responsive_min-breakpoint - 1) ) {
                bottom: 30vw;
                width: 100%;
            }
            .flickity-prev-next-button {
                top: 0vw;
                width: 20vw;
                height: 35vw;
                margin: 0;
                padding: 0;
                border: none;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0);
                cursor: pointer;
                mix-blend-mode: normal;
                transform: translateY(0%);
                opacity: 0;
            }
            .show {
                width: 40%;
                text-align: center;
                display: inline-block;
                padding: 10vw 0;
                position: relative;
                opacity: 1;
                transition: opacity 0.5s;
                &:nth-of-type(1) {
                    float: left;
                }
                &:nth-of-type(2) {
                    float: left;
                }
                &:nth-of-type(3) {
                    float: left;
                }
                &:hover {
                    opacity: 0.75;
                }
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                h3 {
                    @include responsive-font(1.125vw, 16px, 36px);
                    padding: 1.5vw 0 0.125vw;
                    line-height: 1.3;
                    margin: 0;
                    text-transform: uppercase;
                    letter-spacing: 0.075vw;
                    font-weight: 500;
                    position: relative;
                    color: $color__core_white;
                }
                h4 {
                    @include responsive-font(0.875vw, 12px, 24px);
                    padding: 0.25vw 0 0;
                    line-height: 1.3;
                    margin: 0;
                    text-transform: none;
                    letter-spacing: 0.025vw;
                    font-weight: 300;
                    position: relative;
                    color: $color__core_white;
                    opacity: 1;
                }
                &.is-selected {
                    opacity: 1;
                    h3, h4 {
                        //color: $color__core_blue;
                    }
                    &:after {
                        width: 0;
                        height: 0;
                        bottom: -1px;
                        right: 0;
                        left: 0;
                        position: absolute;
                        display: block;
                        border-style: solid;
                        border-width: 2vw 2vw 0 2vw;
                        border-color: $color__core_white transparent transparent transparent;
                        margin: 0 auto;
                        z-index: 1;
                        transform: rotate(180deg);
                        @media screen and (min-width: $responsive_max-breakpoint ) {
                            border-width: 2.25rem 2.25rem 0 2.25rem;
                        }
                    }
                }
            }
            &:after {
                content: 'flickity';
                display: none;
            }
        }
        &:after {
            width: 0;
            height: 0;
            bottom: 6vw;
            right: 0;
            left: 0;
            content: '';
            position: relative;
            display: block;
            border-style: solid;
            border-width: 6vw 4vw 0 4vw;
            border-color: $color__core_white transparent transparent transparent;
            margin: 0 auto;
            z-index: 1;
            transform: rotate(180deg);
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                bottom: -1px;
            }
        }
        .shows-image-container {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            .show {
                position: absolute;
                opacity: 0;
                background-size: cover;
                transition: opacity 0.35s ease-in-out;
                z-index: 0;
                width: 100%;
                height: 100%;
                &.is-selected {
                    opacity: 1;
                    z-index: 1;
                }
                h2 {
                    text-align: left;
                    padding: 1.5% 5%;
                    line-height: 1;
                    position: relative;
                    z-index: 2;
                    span.show-city {
                        font-family: $font__swash;
                        text-align: left;
                        font-style: italic;
                        text-transform: uppercase;
                        color: $color__core_white;
                        position: relative;
                        @include responsive-font(20vw, 16px, 315px);
                        @media screen and (max-width: ($responsive_min-breakpoint - 1) ) {
                            font-size: 30vw;
                            text-align: center;
                            display: block;
                            padding-top: 7.5vw;
                            margin-top: 0;
                        }
                        @supports
                          ((-webkit-text-stroke-color: #666)
                          and
                          (-webkit-text-fill-color: white))
                          or
                          ((-moz-text-stroke-color: #666)
                          and
                          (-moz-text-fill-color: white)) {
                               -moz-text-fill-color: $color__core_white;
                            -webkit-text-fill-color: $color__core_white;
                               -moz-text-stroke-color: $color__core_white;
                            -webkit-text-stroke-color: $color__core_white;
                               -moz-text-stroke-width: 1px;
                            -webkit-text-stroke-width: 1px;
                        }
                    }
                    span.show-dates {
                        font-family: $font__main;
                        @include responsive-font(3.5vw, 16px, 55px);
                        font-weight: 200;
                        color: $color__core_white;
                        @media screen and (max-width: ($responsive_min-breakpoint - 1) ) {
                            font-size: 5vw;
                            text-align: center;
                            display: block;
                            margin-top: 5vw;
                        }
                    }
                }
                .show-background {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    &.fallback {
                        @media screen and (min-width: $responsive_mid-breakpoint ) {
                            display: none;
                        }
                    }
                }
                .video {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    pointer-events: none;
                    overflow: hidden;
                    @media screen and (min-width: $responsive_mid-breakpoint ) {
                        display: block;
                    }
                    iframe {
                        width: 100vw;
                         height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
                         min-height: 100vh;
                         min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
                         position: absolute;
                         top: 50%;
                         left: 50%;
                         transform: translate(-50%, -50%);
                    }
                }
                .show-header-overlay {
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    //@include linear-gradient(#8ea2c8, #fdfdfe);
                    background: #8ea2c8; /* Old browsers */
                    background: -moz-linear-gradient(45deg, #8ea2c8 0%, #fdfdfe 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(45deg, #8ea2c8 0%,#fdfdfe 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(45deg, #8ea2c8 0%,#fdfdfe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ea2c8', endColorstr='#fdfdfe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                    mix-blend-mode: multiply;
                }
            }
        }
    }
    section.day-list {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 4vw;
        margin-bottom: 2.5%;
        @include clearfix-std;
        .show {
            display: none;
            &.is-selected {
                display: block;
            }
        }
        .day {
            width: 100%;
            float: none;
            text-align: center;
            position: relative;
            transition: opacity 0.25s, transform 0.5s 0.125s;
            padding: 0;
            margin: 0;
            background-color: $color__core_lightgrey;
            box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
            &:nth-of-type(3) {
                @include last();
                margin-right: 0 !important;
            }
            &:hover {
                //transform: scale(1.01);
            }
            &.expanded {
                @include span(8 of 12);
            }
            &.day-1 {
                margin-bottom: 5vw;
                display: none;
            }
            &.day-2 {
                margin-top: 5vw;
                margin-bottom: 5vw;
            }
            &.day-3 {
                margin-top: 5vw;
                background-position-x: 0;
            }
            button {
                margin-bottom: 2.25vw;
            }
            button.learn {
                @include linear-gradient($color__core_mediumgrey, $color__core_grey);
            }
            a.uplink-learn {
                @include linear-gradient($color__core_mediumgrey, $color__core_grey);
                margin-bottom: 2.25vw !important;
            }
            button.ticketing-options {
                margin-bottom: 0;
                &.dummy {
                    opacity: 0;
                    pointer-events: none;
                }
            }
            .button-wrapper {
                @media screen and (max-width: ($responsive_mid-breakpoint - 1) ) {
                    padding: 0 2rem 2rem;
                }
            }
            a.button:first-of-type {
                margin-bottom: 0;
            }
            button, a.button:not(.venue) {
                //@include responsive-font(1vw, 12px, 20px);
                width: calc(100% - 5vw);
                letter-spacing: 0.15vw;
                font-weight: 300;
                @include responsive-font(0.825vw, 12px, 20px);
                padding: 1rem;
                @media screen and (min-width: $responsive_mid-breakpoint ) {
                    padding: 1.125vw 1.5vw 1vw;
                }
                &.disabled {
                	@include linear-gradient($color__core_darkblue, $color__core_blue);
                    pointer-events: none;
                    margin-top: 2rem;
                }
            }
            .exhibitor-list-inline {
                padding-left: 0;
                padding-right: 0;
                .location-name {
                    @include responsive-font(2vw, 18px, 28px);
                    padding: 1rem 0 0;
                    text-transform: none;
                    color: $color__core_black;
                    font-weight: 500;
                    letter-spacing: 0.025vw;
                    @media screen and (min-width: $responsive_mid-breakpoint ) {
                        padding: 2rem 0 0;
                    }
                }
                article.description {
                    padding: 2rem 0 0 !important;
                }
                .day-header {
                    padding: 2rem 10% 2.5rem !important;
                }
                a.button.exhibitor-link {
                    width: 100% !important;
                }
            }
            .day-header {
                padding: 0;
                display: block;
                table-layout: initial;
                background-color: transparent;
                position: relative;
                .day-image {
                    display: block;
                    width: 100%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
                }
                .image-wrapper {
                    position: relative;
                    h3 {
                        @include responsive-font(7.5vw, 58px, 120px);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateX(-50%) translateY(-50%);
                        font-family: $font__swash;
                        font-style: italic;
                        padding: 0;
                        color: $color__core_white;
                        text-transform: capitalize;
                        &:after {
                            content: none;
                        }
                    }
                    .day-image {
                        display: block;
                        width: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
                    }
                }
                h3.day-title {
                    @include responsive-font(2.25vw, 28px, 40px);
                    font-size: 2.25vw;
                    letter-spacing: 0.125vw;
                    padding: 2rem 0 0.5rem;
                    margin: 0;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 500;
                    position: relative;
                    color: $color__core_blue;
                    width: auto;
                    display: inline-block;
                    line-height: 1.5;
                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        padding-bottom: 1rem;
                        border-bottom: solid 2px rgba($color__core_grey, 0.5);
                    }
                }
                h3 {
                    @include responsive-font(4vw, 24px, 56px);
                    padding: 6vw 0 0.5vw;
                    line-height: 1.5;
                    margin: 0;
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 0.125vw;
                    font-weight: 500;
                    position: relative;
                    color: $color__core_blue;
                    transition: rotate 0.3s;
                    width: auto;
                    display: inline-block;
                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        border-bottom: solid 2px rgba($color__core_grey, 0.5);
                    }
                }
                h4 {
                    @include responsive-font(1.25vw, 14px, 24px);
                    padding: 0;
                    line-height: 1.1;
                    margin: 0;
                    opacity: 1;
                    text-transform: none;
                    letter-spacing: 0.025vw;
                    font-weight: 500;
                    position: relative;
                    color: $color__core_blue;
                    br {
                        display: none;
                    }
                    a, a:visited {
                        @include responsive-font(1.25vw, 14px, 24px);
                        padding: 0;
                        line-height: 1.3;
                        margin: 0;
                        opacity: 1;
                        text-transform: none;
                        letter-spacing: 0.125vw;
                        font-weight: 500;
                        position: relative;
                        color: $color__core_blue;
                    }
                    &.audience {
                        padding: 1rem 10% 1vw !important;
                        line-height: 1.5 !important;
                        @include responsive-font(1.25vw, 18px, 24px);
                        font-weight: 300;
                        color: $color__core_grey;
                    }
                    &.date {
                        @include responsive-font(2vw, 18px, 28px);
                        padding: 1rem 0 0;
                    }
                    &.times {
                        @include responsive-font(1.5vw, 18px, 28px);
                        padding: 0.5rem 0 2vw;
                    }
                    &.location {
                        a, a:visited {
                            @include responsive-font(1.25vw, 18px, 24px);
                            color: $color__core_grey;
                            font-weight: 300;
                            text-transform: none;
                            letter-spacing: 0.035vw;
                            line-height: 1.35;
                        }
                    }
                    &.address {
                        padding: 0;
                        line-height: 1.25;
                        a, a:visited {
                            @include responsive-font(1.25vw, 18px, 24px);
                            color: $color__core_grey;
                            font-weight: 300;
                            text-transform: none;
                            letter-spacing: 0.035vw;
                            line-height: 1.25;
                        }
                    }
                    &.spacer {
                        padding: 0;
                        opacity: 0;
                        pointer-events: none;
                    }
                }
                article.description {
                    text-align: left;
                    color: $color__core_grey;
                    line-height: 1.35;
                    letter-spacing: 0.025vw;
                    padding: 5vw 5vw 0;
                    text-align: center;
                    @include responsive-font(1vw, 16px, 24px);
                    a {
                        display: block;
                        position: relative;
                    }
                    p {
                        margin: 0 0 1vw;
                        text-align: center !important;
                        color: $color__core_grey;
                        line-height: 1.35;
                        letter-spacing: 0.025vw;
                        @include responsive-font(1vw, 16px, 24px);
                        &:last-child {
                            margin: 0;
                        }
                    }
                }
                .fineprint {
                    display: block;
                    text-align: left;
                    color: $color__core_grey;
                    line-height: 1.25;
                    letter-spacing: 0.025vw;
                    padding: 0 10% 2rem;
                    text-align: center;
                    @include responsive-font(0.825vw, 12px, 24px);
                }
            }
            article.location {
                h4 {
                    @include responsive-font(1.25vw, 14px, 24px);
                    padding: 1vw 0 0;
                    line-height: 1.5;
                    margin: 0;
                    opacity: 1;
                    text-transform: none;
                    letter-spacing: 0.125vw;
                    font-weight: 500;
                    position: relative;
                    color: $color__core_grey;
                    a, a:visited {
                        @include responsive-font(1.25vw, 14px, 24px);
                        padding: 0;
                        line-height: 1.3;
                        margin: 0;
                        opacity: 1;
                        text-transform: none;
                        letter-spacing: 0.125vw;
                        font-weight: 500;
                        position: relative;
                        color: $color__core_grey;
                    }
                    &.location {
                        a, a:visited {
                            @include responsive-font(1vw, 12px, 24px);
                            font-weight: 300;
                            text-transform: uppercase;
                            letter-spacing: 0.275vw;
                        }
                    }
                    &.address {
                        padding: 0;
                        a, a:visited {
                            @include responsive-font(1vw, 12px, 24px);
                            font-weight: 300;
                            text-transform: uppercase;
                            letter-spacing: 0.275vw;
                        }
                    }
                    &.spacer {
                        padding: 0;
                        opacity: 0;
                        pointer-events: none;
                    }
                }
            }
            section.blocks {
                padding: 0;
                margin-top: 2.5vw;
                display: none;
                table-layout: fixed;
                background-color: transparent;
                button, a.button {
                        position: relative;
                }
                article {
                    display: block;
                    height: auto;
                    padding: 0;
                    margin: 0;
                    vertical-align: top;
                    h5 {
                        @include responsive-font(1.25vw, 14px, 24px);
                        padding: 0 0 1vw;
                        line-height: 1.3;
                        margin: 0;
                        text-transform: uppercase;
                        letter-spacing: 0.15vw;
                        font-weight: 600;
                        position: relative;
                        color: $color__core_blue;
                        text-align: left;
                        width: 100%;
                    }
                    h6 {
                        @include responsive-font(1.125vw, 12px, 22px);
                        padding: 0 0 1vw;
                        line-height: 1.3;
                        margin: 0;
                        text-transform: none;
                        letter-spacing: 0.15vw;
                        font-weight: 300;
                        position: relative;
                        color: $color__core_grey;
                        text-align: left;
                        width: 100%;
                    }
                    &.paragraph, &.ticket, &.callout {
                        padding: 5vw 5vw 0;
                        article {
                            margin: 0 0 1vw;
                            text-align: left;
                            color: $color__core_grey;
                            line-height: 1.75;
                            letter-spacing: 0.025vw;
                            @include responsive-font(1vw, 12px, 16px);
                            li {
                                margin: 0;
                                text-align: left;
                                color: $color__core_grey;
                                line-height: 1.75;
                                letter-spacing: 0.025vw;
                                @include responsive-font(1vw, 12px, 16px);
                            }
                        }
                    }
                    &.divider {
                        margin: 0;
                        &:after {
                            content: '';
                            display: block;
                            position: relative;
                            top: -1.5vw;
                            width: 100%;
                            margin: 0 auto;
                            margin-bottom: 2vw;
                            box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
                            padding-bottom: 4vw !important;
                        }
                    }
                    &.button {
                        button, a.button {
                            @include responsive-font(1vw, 12px, 20px);
                            letter-spacing: 0.125vw;
                            cursor: pointer;
                        }
                    }
                    &.callout {
                        padding: 0;
                        margin: 2.5vw;
                        background-color: $color__core_white;
                        article {
                            padding: 1.5rem;
                            margin: 0;
                            outline: solid 1px $color__core_blue;
                            outline-offset: -0.5vw;
                            text-align: center;
                            font-weight: 300;
                            line-height: 1.35;
                            letter-spacing: 0.05vw;
                            color: $color__core_blue;

                        }
                    }
                }
                & > article:last-child {
                    margin: 1.5vw 0 3.5vw !important;
                }
            }
            &.tba {
                float: none;
                width: 80%;
                margin-right: auto !important;
                margin-left: auto !important;
                margin-bottom: 3rem;
                a.button {
                    width: 50%;
                }
            }
        }
    }
    .fixed-height {
        height: 50vmax !important;
    }
    section.carousel {
        .fixed-height {
            //height: 40vmax !important;
            //height: auto;
        }
        .flickity-viewport .carousel-cell a article.quote {
            padding: 10vw 15vw 5vw;
            aside {
                margin: 1.5vw 4vw 4vw;
            }
        }
    }
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    .page#attend {
        section.media .media-object section.media-header h3 {
            //padding: 2.5vw 5vw 0.5vw 0;
        }
        .container {
            padding-bottom: 0;
        }
        section.show-list {
            h1 {
                font-weight: 100;
            }
            padding: 0;
            width: 100%;
            margin: 0 auto;
            .shows-container {
                height: auto;
                width: 100%;
                position: absolute;
                bottom: 0;
                .show {
                    width: 20%;
                    padding: 0 0 3vw;
                    @media screen and (min-width: $responsive_max-breakpoint ) {
                        padding: 0 0 3rem;
                    }
                    h3 {

                    }
                    h4 {

                    }
                    &.is-selected {
                        opacity: 1;
                        &:after {
                            content: '';
                        }
                    }
                    &:nth-of-type(2) {
                        //float: none;
                        //left: -2vw;  // Temporary fix for centering issue
                    }
                }
                &:after {
                    content: '';
                }
            }
            &:after {
                content: none;
            }
        }
        section.day-list {
            padding: 0;

            .day {
                @include span(6 of 12);
                text-align: center;
                padding: 0;
                &.day-1 {
                    margin-bottom: 0;
                }
                &.day-2 {
                    margin-top: 0;
                    margin-bottom: 0;
                }
                &.day-3 {
                    margin-top: 0;
                    background-position-x: 0;
                }
                section.day-header {
                    padding: 0;
                    display: block;
                    table-layout: initial;
                    background-color: transparent;
                    position: relative;
                    h3 {
                        padding: 3vw 0 0.5vw;
                    }
                    h4 {
                        &.audience {
                            padding: 2rem 10% 1rem !important;
                        }
                        &.date {
                            padding: 1vw 0 0;
                        }
                        &.times {
                            padding: 0.5vw 0 2vw;
                        }
                        &.location {
                            a, a:visited {

                            }
                        }
                        &.address {
                            padding: 0;
                            a, a:visited {

                            }
                        }
                    }
                    article.description {
                        padding: 1rem 10% 2rem;
                    }
                }
                section.blocks {
                    padding: 0;
                    display: none;
                    table-layout: fixed;
                    background-color: transparent;
                    button, a.button {
                            position: relative;
                    }
                    article {
                        display: block;
                        height: auto;
                        padding: 0;
                        margin: 0;
                        vertical-align: top;
                        h5 {
                            @include responsive-font(1.25vw, 14px, 24px);
                            padding: 0 0 1vw;
                            line-height: 1.3;
                            margin: 0;
                            text-transform: uppercase;
                            letter-spacing: 0.15vw;
                            font-weight: 500;
                            position: relative;
                            color: $color__core_blue;
                            text-align: left;
                            width: 100%;
                        }
                        h6 {
                            @include responsive-font(2vw, 18px, 24px);
                            padding: 0 0 1vw;
                            line-height: 1.35;
                            margin: 0;
                            text-transform: none;
                            letter-spacing: 0.05vw;
                            position: relative;
                            font-weight: 100;
                            color: $color__core_darkblue;
                            text-align: left;
                            width: 100%;
                        }
                        &.paragraph, &.ticket, &.callout {
                            padding: 1vw 2.5vw 0;
                            article {
                                margin: 0 0 1vw;
                                text-align: left;
                                color: $color__core_grey;
                                line-height: 1.35;
                                letter-spacing: 0.025vw;
                                @include responsive-font(1vw, 12px, 16px);
                                li {
                                    margin: 0;
                                    text-align: left;
                                    color: $color__core_grey;
                                    line-height: 1.35;
                                    letter-spacing: 0.025vw;
                                    @include responsive-font(1vw, 12px, 16px);
                                }
                            }
                        }
                        &.divider {
                            margin: 0;
                            &:after {
                                content: '';
                                display: block;
                                position: relative;
                                top: -1.5vw;
                                width: 100%;
                                margin: 0 auto;
                                margin-bottom: 2vw;
                                box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
                                padding-bottom: 4vw !important;
                            }
                        }
                        &.button {
                            button, a.button {
                                @include responsive-font(1vw, 12px, 20px);
                                letter-spacing: 0.125vw;
                                cursor: pointer;
                            }
                        }
                        &.callout {
                            padding: 0;
                            margin: 2.5vw;
                            background-color: $color__core_white;
                            article {
                                padding: 1.5vw;
                                margin: 0;
                                outline: solid 1px $color__core_blue;
                                outline-offset: -0.5vw;
                                text-align: center;
                                color: $color__core_blue;

                            }
                        }
                    }
                    & > article:last-child {
                        margin: 1.5vw 0 3.5vw !important;
                    }
                }
            }
        }
        section.carousel {
            .fixed-height {
                height: 30vmax !important;
            }
            .flickity-viewport .carousel-cell a article.quote {
                padding: 5vw 15vw 0;
            }
        }
    }
}

@media screen and (min-width: $responsive_max-breakpoint) {
    .page#attend {
        section.day-list {
            padding: 0;
        }
        section.show-list h1 {
            padding: 0 4rem;
        }
        section.show-list .shows-container .show h4 {
            padding: 0.25vw 0 0;
        }
    }

}

@media screen and (min-width: 900px) {
    .page#attend section.day-list .show {
        margin: 0;
    }
}

section.carousel .flickity-viewport .carousel-cell a article.quote main {
    color: $color__core_blue !important;
}

.show-footer {
    display: none;
    &.is-selected {
        display: block;
    }
}

section.show-banner {
    display: block;
    padding: 0;
    margin: -1.5% 0 3.5%;
}

.show-countdown {
    padding: 0;
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background: #8ea2c8; /* Old browsers */
    background: -moz-linear-gradient(45deg, #8ea2c8 0%, #fdfdfe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #8ea2c8 0%,#fdfdfe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #8ea2c8 0%,#fdfdfe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ea2c8', endColorstr='#fdfdfe',GradientType=1 );
    margin-bottom: 5%;
    @media screen and (max-width: 599px) {
        height: 50vw;
    }
    @media screen and (min-width:600px) and (max-width: 899px) {
        margin-top: 5%;
    }
    .countdown-background {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &.fallback {
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                display: none;
            }
        }
    }
    .video {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        pointer-events: none;
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        @media screen and (min-width: $responsive_mid-breakpoint ) {
            display: block;
        }
        iframe {
            width: 100vw;
             height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
             min-height: 100vh;
             min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
        }
    }
    .countdown-days {
        display: block;
        font-family: $font__swash;
        font-style: italic;
        @include responsive-font(15vw, 16px, 240px);
        text-align: center;
        text-transform: uppercase;
        color: $color__core_white;
        position: relative;
        line-height: 1;
        @media screen and (max-width: ($responsive_min-breakpoint - 1) ) {
            font-size: 30vw;
            text-align: center;
            display: block;
            padding-top: 5vw;
        }
        @supports
          ((-webkit-text-stroke-color: #666)
          and
          (-webkit-text-fill-color: white))
          or
          ((-moz-text-stroke-color: #666)
          and
          (-moz-text-fill-color: white)) {
               -moz-text-fill-color: $color__core_white;
            -webkit-text-fill-color: $color__core_white;
               -moz-text-stroke-color: $color__core_white;
            -webkit-text-stroke-color: $color__core_white;
               -moz-text-stroke-width: 1px;
            -webkit-text-stroke-width: 1px;
        }
    }
    span.countdown-message {
        display: block;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.05vw;
        color: $color__core_white;
        padding: 0.5rem 0 1.5rem;
        @include responsive-font(1vw, 12px, 18);
    }
}

.days {
    display: block;
    @include clearfix-std;
}


.extra-details {
    display: block;
    position: relative;
    margin-top: 3rem;
    h3 {
        @include responsive-font(2vw, 18px, 28px);
        padding: 2rem 0;
        text-transform: uppercase;
        color: $color__core_blue;
        font-weight: 500;
        border-top: solid 1px $color__core_mediumgrey;
    }
}
section.details {
    padding: 0;
    @include clearfix-std;
    .day {
        &:nth-of-type(2) {
            margin-right: 0 !important;
            float: right;
        }
    }
    .day-header {
        .detail-wrapper {
            padding: 0 2rem 2rem;
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                padding: 0 10% 2.25vw;
            }
            .location-name {
                @include responsive-font(2vw, 18px, 28px);
                padding: 1rem 0 0;
                text-transform: none;
                color: $color__core_black;
                font-weight: 500;
                letter-spacing: 0.025vw;
                @media screen and (min-width: $responsive_mid-breakpoint ) {
                    padding: 2rem 0 0;
                }
            }
            article.description {
                padding: 1rem 0 2rem !important;
            }
            address {
                margin: 0;
                font-style: normal;
            }
            .button-wrapper {
                display: block;
                @include clearfix-std;
                a.button.venue {
                    display: block;
                    letter-spacing: 0.15vw;
                    font-weight: 300;
                    margin: 0;
                    @include responsive-font(0.825vw, 12px, 20px);
                    padding: 1rem;
                    width: 100%;
                    &:first-of-type {
                        margin-bottom: 1rem !important;
                    }
                    &.disabled {
                        @include linear-gradient($color__core_darkblue, $color__core_blue);
                        pointer-events: none;
                    }
                    @media screen and (min-width: $responsive_mid-breakpoint ) {
                        padding: 1.125vw 1.5vw 1vw;
                        &:first-of-type {
                            margin-bottom: 0 !important;
                        }
                        @include span(3 of 6);
                        &:nth-of-type(2) {
                            @include last;
                        }
                    }
                }
                a.button.coming-soon {
                    width: 100% !important;
                    margin-top: 3rem !important;
                    @include linear-gradient($color__core_darkblue, $color__core_blue);
                    pointer-events: none;
                    opacity: 0.5;
                }
                a.button.exhibitor-link {
                    display: block;
                    letter-spacing: 0.15vw;
                    font-weight: 300;
                    margin: 0;
                    width: 100% !important;
                    @include responsive-font(0.825vw, 12px, 20px);
                    padding: 1rem;
                    @media screen and (min-width: $responsive_mid-breakpoint ) {
                        padding: 1.125vw 1.5vw 1vw;
                    }
                }
            }
        }
    }
}

.page#attend .container {
    section.media {
        @media screen and (max-width: ($responsive_mid-breakpoint - 1) ) {
            padding: 4vw;
        }
    }
    aside.sidebar {
        padding: 4vw;
        @media screen and (min-width: $responsive_mid-breakpoint ) {
            padding-right: 5%;
            padding-left: 0;
        }
        @media screen and (min-width: $responsive_max-breakpoint ) {
            padding-right: 0;
                padding-top: 5%;

        }
        &.fixed {

        }
        .sidebar-header {
            background-color: $color__core_lightgrey;
            box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
            padding: 2rem;
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                padding: 1.5vw;
            }
            .sidebar-msg {
                display: block;
                text-align: center;
                font-size: 16px;
                color: $color__core_blue;
                padding-bottom: 1rem;
                @media screen and (min-width: $responsive_mid-breakpoint ) {
                    padding-bottom: 1vw;
                }
            }
            .button-wrapper {
                display: block;
                @include clearfix-std;
                @media screen and (min-width: $responsive_mid-breakpoint ) {
                    @include responsive-font(0.825vw, 12px, 20px);
                }
                &.access {
                    display: none !important;
                    &.accesspresent {
                        border-bottom: solid 1px $color__core_mediumgrey;
                        margin-bottom: 1rem;
                        padding-bottom: 1.5rem;
                        @media screen and (min-width: $responsive_mid-breakpoint ) {
                            //padding-bottom: 1vw;
                        }
                    }
                    &.is-selected {
                        display: block !important;
                    }
                }
            }
            a.button.sidebar-half {
                display: block;
                letter-spacing: 0.15vw;
                font-weight: 300;
                margin: 0;
                text-align: center;
                @include responsive-font(0.825vw, 12px, 20px);
                padding: 1rem;
                width: 100%;
                &:first-of-type {
                    margin-bottom: 1rem !important;
                }
                @media screen and (min-width: $responsive_mid-breakpoint ) {
                    padding: 0.875vw 1.25vw 0.75vw;
                    &:first-of-type {
                        margin-bottom: 0 !important;
                    }
                }
                &.disabled {
                    @include linear-gradient($color__core_darkblue, $color__core_blue);
                    pointer-events: none;
                }
                @media screen and (min-width: $responsive_mid-breakpoint ) {
                    @include span(3 of 6);
                    &:nth-of-type(2) {
                        @include last;
                    }
                }
            }
            a.button.sidebar {
                display: block;
                letter-spacing: 0.15vw;
                font-weight: 300;
                margin: 0;
                text-align: center;
                width: 100% !important;
                @include responsive-font(0.825vw, 12px, 20px);
                padding: 1rem;
                @media screen and (min-width: $responsive_mid-breakpoint ) {
                    padding: 0.875vw 1.25vw 0.75vw;
                }
                &.disabled {
                    @include linear-gradient($color__core_darkblue, $color__core_blue);
                    pointer-events: none;
                }
            }
        }
        .sidebar-main {
            background-color: $color__core_lightgrey;
            box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
            padding: 2rem;
            margin-top: 2rem;
            position: relative;
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                padding: 1.5vw;
                margin-top: 3vw;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
            }
            .news-feeds {
                .show-newsfeed {
                    .headline {
                        display: block;
                        letter-spacing: 0.15vw;
                        font-weight: 500;
                        margin: 0;
                        text-align: center;
                        width: 100% !important;
                        @include responsive-font(0.825vw, 12px, 20px);
                        padding-bottom: 2rem;
                        @media screen and (min-width: $responsive_mid-breakpoint ) {
                            padding-bottom: 1.5vw;

                        }
                    }
                    article {
                        margin: 0 0 1rem;
                        @media screen and (min-width: $responsive_mid-breakpoint ) {
                            margin: 0 0 1vw;
                        }
                        @include clearfix-std;
                        .entry-header {
                            @include span(2 of 7);
                        }
                        .article-title {
                            @include span(5 of 7);
                            @include last;
                            h6.entry-title {
                                margin: 0;
                                text-transform: none;
                                color: $color__core_grey;
                                letter-spacing: 0.0125vw;
                                font-weight: 300;
                                @include responsive-font(0.825vw, 12px, 20px);
                            }
                        }
                    }
                }
                .view-more {
                    border-top: solid 1px $color__core_grey;
                    color: $color__core_black;
                    font-weight: 500;
                    text-transform: uppercase;
                    display: block;
                    padding: 1.5rem 0;
                    @include responsive-font(0.75vw, 10px, 18px);
                    @media screen and (min-width: $responsive_mid-breakpoint ) {
                        padding: 2vw 0;
                    }
                }
            }
            .newsletter {
                input[type="email"] {
                    box-shadow: inset 2px 3px 7px rgba(0,0,0,0.2);
                    background: #f9f9f9 !important;
                    width: 100%;
                    @media screen and (max-width: ($responsive_mid-breakpoint - 1) ) {
                        line-height: 16px;
                        font-size: 16px;
                        padding: 0.5rem;
                        margin-bottom: 0.5rem;
                    }
                    @media screen and (min-width: $responsive_mid-breakpoint ) {
                        @include responsive-font(0.75vw, 10px, 18px);
                    }
                }
                input[type="email"]::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color: $color__core_mediumgrey;
                    text-align: center;
                    text-transform: uppercase;
                }
                input[type="email"]::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                   color: $color__core_mediumgrey;
                   opacity: 1;
                   text-align: center;
                   text-transform: uppercase;
                }
                input[type="email"]::-moz-placeholder { /* Mozilla Firefox 19+ */
                   color: $color__core_mediumgrey;
                   opacity: 1;
                   text-align: center;
                   text-transform: uppercase;
                }
                input[type="email"]::-ms-input-placeholder { /* Internet Explorer 10-11 */
                   color: $color__core_mediumgrey;
                   text-align: center;
                   text-transform: uppercase;
                }
                .newsletter-cta {
                    color: $color__core_blue;
                    font-weight: 500;
                    text-transform: uppercase;
                    display: block;
                    padding: 0 0 1rem;
                    @include responsive-font(0.825vw, 12px, 20px);
                    letter-spacing: 0.025vw;
                    @media screen and (min-width: $responsive_mid-breakpoint ) {
                        padding: 0 0 1vw;
                    }
                }
                .button {
                    display: block;
                    letter-spacing: 0.15vw;
                    font-weight: 300;
                    margin: 0;
                    text-align: center;
                    width: 100% !important;
                    @include responsive-font(0.825vw, 12px, 20px);
                    padding: 1rem;
                    @media screen and (min-width: $responsive_mid-breakpoint ) {
                        padding: 0.875vw 1.25vw 0.75vw;
                    }
                    @include linear-gradient($color__core_darkblue, $color__core_blue);
                    color: $color__core_white;
                    text-transform: uppercase;
                    box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
                    &:hover, &:active, &:focus {
                        @include linear-gradient($color__core_darkblue, $color__core_blue);
                    }
                }
            }
        }
    }
}

.page#attend {
    section.past-shows {
        //min-height: 20rem;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-size: cover;
        background-position: center;
        background: #8ea2c8; /* Old browsers */
        background: -moz-linear-gradient(45deg, #8ea2c8 0%, #fdfdfe 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg, #8ea2c8 0%,#fdfdfe 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg, #8ea2c8 0%,#fdfdfe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ea2c8', endColorstr='#fdfdfe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        h3 {
            @include responsive-font(3vw, 24px, 48px);
            padding: 2rem 0;
            color: $color__core_white;
            font-weight: 500;
            letter-spacing: 1px;
            text-transform: none;
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                padding: 2rem 0;
            }
        }
        a.button {
            background: none;
            background-color: transparent;
            border: solid 2px #fff;
            font-weight: 600;
            width: auto;
            margin: 0 0 2rem;
            padding: 1vw 5vw 0.75vw;
            @include responsive-font(1vw, 16px, 20px);
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                margin-bottom: 0;
            }
        }
    }
}


.day.venue {
    display: block;
    width: 100% !important;
}
.extra-details {
    //isplay: none;
}

.day.exhibitor-list-inline {
    display: block;
    width: 100% !important;
    box-shadow: none !important;
    &:before {
        content: '';
        border-top: solid 1px rgba(167,171,183,0.5);
        display: block;
        width: 80%;
        margin: 1rem auto 0;
    }
    .day-header {
        padding: 2rem 10% 1rem !important;
        .day-image {

        }
    }
}
