#contact {
    background-size: cover;
    max-width: none !important;
    .container {
        padding: 10vw 5vw;
        text-align: center;
        header {
            h1 {
                color: $color__core_white !important;
                text-transform: none;
                @include responsive-font(6vw, 50px, 120px);
                line-height: 1.5;
                letter-spacing: 0.5vw;
                padding-bottom: 6vw;
            }
        }
        main {
            h4 {
                color: $color__core_white;
                letter-spacing: 0.2vw;
                font-weight: 500;
                @include responsive-font(1.25vw, 16px, 36px);
                & > a {
                    font-weight: 500 !important;
                    border-bottom: solid white 3px;
                }
            }
            p {
                color: $color__core_white;
                letter-spacing: 0.125vw;
                font-weight: 500;
                @include responsive-font(1.25vw, 16px, 36px);
                span {
                    display: block;
                }
            }
            a, a:visited {
                color: $color__core_white;
                letter-spacing: 0.125vw;
                font-weight: 300;
                @include responsive-font(1.25vw, 16px, 36px);
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                &:last-child {
                    &:after {
                        @include clearfix();
                        @include clearfix-after();
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    #contact {
        background-size: cover;
        max-width: none !important;
        .container {
            padding: 10vw 5vw;
            text-align: left;
            header {
                h1 {
                    letter-spacing: 0.25vw;
                    @include responsive-font(6vw, 50px, 120px);
                }
            }
            main {
                h4 {
                    color: $color__core_white;
                    letter-spacing: 0.2vw;
                    font-weight: 500;
                    @include responsive-font(1.25vw, 16px, 36px);
                }
                p {
                    color: $color__core_white;
                    letter-spacing: 0.125vw;
                    font-weight: 500;
                    @include responsive-font(1.25vw, 16px, 36px);
                    span {
                        display: block;
                    }
                }
                a, a:visited {
                    color: $color__core_white;
                    letter-spacing: 0.125vw;
                    font-weight: 300;
                    @include responsive-font(1.25vw, 16px, 36px);
                }
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    &:last-child {
                        &:after {
                            @include clearfix();
                            @include clearfix-after();
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $responsive_mid-breakpoint ) {
    #contact {
        background-size: cover;
        max-width: none !important;
        .container {
            padding: 10vw 5vw;
            text-align: left;
            header {
                h1 {
                    letter-spacing: 0.25vw;
                    @include responsive-font(6vw, 50px, 120px);
                }
            }
            main {
                h4 {
                    color: $color__core_white;
                    letter-spacing: 0.2vw;
                    font-weight: 500;
                    @include responsive-font(1.25vw, 12px, 24px);
                }
                p {
                    color: $color__core_white;
                    letter-spacing: 0.125vw;
                    font-weight: 500;
                    @include responsive-font(1.25vw, 12px, 24px);
                    span {
                        display: block;
                    }
                }
                a, a:visited {
                    color: $color__core_white;
                    letter-spacing: 0.125vw;
                    font-weight: 300;
                    @include responsive-font(1.25vw, 12px, 24px);
                }
            }
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                li {
                    &:last-child {
                        &:after {
                            @include clearfix();
                            @include clearfix-after();
                        }
                    }
                }
            }
        }
    }
}
