.site {
    top: 0;
    position: relative;
    margin: 4rem auto 0;
    transition: margin 0.5s;
    #content > div {
        padding-bottom: 5vw;
        //min-height: calc(80vh - 13vw);
    }
}
// Template-specific overrides
.page-template-attend, .page-template-exhibit {
    .site {
        #content > div {
            padding-bottom: 0;
        }
    }
}
.menu-bar {
	//max-width: $size__site_max;
    margin: 0 auto;
    transition: margin 0.5s;
}

.content-area {
	float: left;
	margin: 0 (-$size__site-sidebar) 0 0;
	width: $size__site-main;
}

.site-main {
	margin: 0 $size__site-sidebar 0 0;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

.page {
    header {
        background-size: cover !important;
        //height: 70vh;
        height: auto;
        margin: 0;
        padding: 0;
        position: relative;
        transition: margin 0.5s, height 0.5s;
        .carousel-cell {
            background-size: cover !important;
            margin: 0;
            padding: 0;
            position: relative;
            transition: margin 0.5s, height 0.5s;
        }
        h1 {
            top: 5vw;
            transition: top 0.5s;
        }
    }
}
section {
    padding: 5vw;
    //@include clearfix();
    background-color: $color__core_white;
    .subhead {
        @include span(4 of 12);
        display: inline-block;
        height: 100%;
        border-top: solid $font__default_underline $color__core_black;
        padding: 2vw 6vw 2vw 0;
        vertical-align: top;
    }
    article {
        display: inline-block;
        height: 100%;
        height: auto;
        padding: 2vw 0;
        vertical-align: top;
        p {
            margin: 0;
        }
        ul {
            width: 100%;
            margin: 0 0 0 2vw;
            padding: 0 2vw 0 0;
            margin-bottom: 0;
        }
    }
}
section.highlight {
    background-color: $color__core_purple;
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    .site {
        margin: 0;
        #content  {
            & > div {
                margin: 13vw auto 0;
                transition: margin 0.5s;
            }
        }
    }
}

@media screen and (min-width: $responsive_max-breakpoint ) {
    .page header {
        max-height: 100vh;
    }
    .site {
        #content  {
            margin: 0 auto;
            & > div {
                max-width: $size__site_max;
            }
        }
    }
    footer#colophon {
        left: 0;
        position: absolute;
    }
}


@import "home";
@import "about";
@import "attend";
@import "exhibit";
@import "contact";
@import "sponsors";
@import "policy";
@import "search";
@import "subscribed";
