


.page#exhibitor-list {
    .container {
        main.exhibitor-list {
            @include clearfix-std;
            position: relative;
            width: 100%;
            padding: 0;
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                @include span(9 of 12);
                margin-right: 0;
                padding: 5% 2.5% 5% 5%;
            }
            @media screen and (min-width: $responsive_max-breakpoint ) {
                padding: 5% 0;
            }
        }
        aside.sidebar {
            position: relative;
            width: 100%;
            padding: 2rem;
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                @include span(3 of 12);
                @include last;
                padding: 0;
            }
        }
    }
    section.media .media-object section.media-header h3 {
        //padding: 1rem 5vw 0.5vw 0;
    }
    section.media {
        @media screen and (min-width: $responsive_mid-breakpoint ) {
            padding: 2.5vw 0;
        }
    }
    section.show-list {
        padding: 0; //8vw 0 0
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-size: cover;
        background-position: center;
        @media screen and (max-width: ($responsive_min-breakpoint - 1) ) {
            height: 80vw;
        }
        .header-wrapper {
            width: 100%;
            display: block;
            position: relative;
            height: 80vw;
            overflow: hidden;
            @media screen and (min-width: $responsive_min-breakpoint ) {
                height: 30vw;
            }
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                //width: auto;
                //display: inline-block;
            }
        }
        h1 {
            text-align: center;
            color: $color__core_blue;
            font-weight: 300;
            @include responsive-font(7vw, 36px, 148px);
            letter-spacing: 0.5vw;
            display: inline-block;
            padding: 0 12.5vw;
        }
        .shows-container {
            height: 36vw;
            z-index: 2;
            @media screen and (max-width: ($responsive_min-breakpoint - 1) ) {
                bottom: 30vw;
                width: 100%;
            }
            .flickity-prev-next-button {
                top: 0vw;
                width: 20vw;
                height: 35vw;
                margin: 0;
                padding: 0;
                border: none;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0);
                cursor: pointer;
                mix-blend-mode: normal;
                transform: translateY(0%);
                opacity: 0;
            }
            .show {
                width: 40%;
                text-align: center;
                display: inline-block;
                padding: 10vw 0;
                position: relative;
                opacity: 1;
                transition: opacity 0.5s;
                &:nth-of-type(1) {
                    float: left;
                }
                &:nth-of-type(2) {
                    float: left;
                }
                &:nth-of-type(3) {
                    float: left;
                }
                &:hover {
                    opacity: 0.75;
                }
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                h3 {
                    @include responsive-font(1.125vw, 16px, 36px);
                    padding: 1.5vw 0 0.125vw;
                    line-height: 1.3;
                    margin: 0;
                    text-transform: uppercase;
                    letter-spacing: 0.075vw;
                    font-weight: 500;
                    position: relative;
                    color: $color__core_white;
                }
                h4 {
                    @include responsive-font(0.875vw, 12px, 24px);
                    padding: 0.25vw 0 0;
                    line-height: 1.3;
                    margin: 0;
                    text-transform: none;
                    letter-spacing: 0.025vw;
                    font-weight: 300;
                    position: relative;
                    color: $color__core_white;
                    opacity: 1;
                }
                &.is-selected {
                    opacity: 1;
                }
            }
            &:after {
                content: 'flickity';
                display: none;
            }
        }
        .shows-image-container {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            .show {
                position: absolute;
                background-size: cover;
                z-index: 0;
                width: 100%;
                height: 100%;
                .heading-wrapper {
                    display: block;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
                h1 {
                    text-align: left;
                    padding: 1.5% 5%;
                    line-height: 1;
                    position: relative;
                    z-index: 2;
                    font-family: $font__swash;
                    text-align: left;
                    text-transform: none;
                    font-style: italic;
                    color: $color__core_white;
                    position: relative;
                    @include responsive-font(9vw, 20px, 140px);
                    letter-spacing: 0.05vw;
                    @media screen and (max-width: ($responsive_min-breakpoint - 1) ) {
                        font-size: 3rem;
                        text-align: center;
                        display: block;
                        padding-top: 7.5vw;
                        margin-top: 0;
                    }

                }
                h3.show-city {
                    font-family: $font__main;
                    @include responsive-font(2.25vw, 16px, 55px);
                    font-weight: 300;
                    color: $color__core_white;
                    text-transform: none;
                    letter-spacing: 0.05vw;
                    @media screen and (max-width: ($responsive_min-breakpoint - 1) ) {
                        font-size: 1.25rem;
                        text-align: center;
                        display: block;
                        margin-top: 2rem;
                    }
                }
                h3.show-dates {
                    font-family: $font__main;
                    @include responsive-font(1.25vw, 12px, 45px);
                    font-weight: 200;
                    color: $color__core_white;
                    text-transform: none;
                    letter-spacing: 0;
                    padding-top: 0;
                    @media screen and (max-width: ($responsive_min-breakpoint - 1) ) {
                        font-size: 0.875rem;
                        text-align: center;
                        display: block;
                        margin-top: 0.25rem;
                    }
                }
                .show-background {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    &.fallback {
                        @media screen and (min-width: $responsive_mid-breakpoint ) {
                            display: none;
                        }
                    }
                }
                .video {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    pointer-events: none;
                    overflow: hidden;
                    @media screen and (min-width: $responsive_mid-breakpoint ) {
                        display: block;
                    }
                    iframe {
                        width: 100vw;
                         height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
                         min-height: 100vh;
                         min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
                         position: absolute;
                         top: 50%;
                         left: 50%;
                         transform: translate(-50%, -50%);
                    }
                }
                .show-header-overlay {
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    //@include linear-gradient(#8ea2c8, #fdfdfe);
                    background: #8ea2c8; /* Old browsers */
                    background: -moz-linear-gradient(45deg, #8ea2c8 0%, #fdfdfe 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(45deg, #8ea2c8 0%,#fdfdfe 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(45deg, #8ea2c8 0%,#fdfdfe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ea2c8', endColorstr='#fdfdfe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                    mix-blend-mode: multiply;
                }
            }
        }
    }
    section {
        h2.el-section-header {
            font-family: $font__main;
            @include responsive-font(2.25vw, 16px, 55px);
            font-weight: 300;
            color: $color__soft_headline;
            text-transform: none;
            letter-spacing: 0.05vw;
            text-align: center;
                padding: 3vw 0;
            @media screen and (max-width: ($responsive_min-breakpoint - 1) ) {
                padding: 2rem 0;
                font-size: 1.25rem;
                text-align: center;
                display: block;
            }
        }
    }
    section.exhibitor-list-intro {
        display: block;
        padding: 0 5%;
        border-bottom: solid 1px #bbb;
        p {
            @include responsive-font(1.5vw, 18px, 32px);
            margin-bottom: 0;
            &:first-of-type {
                margin-top: 0;
            }
        }
        padding-top: 2rem;
        padding-bottom: 3rem;
        @media screen and (min-width: $responsive_mid-breakpoint ) {
            padding-bottom: 5vw;
            padding-top: 0;
        }
    }
    section.exhibitor-list-map {
        display: block;
        padding: 0;
        border-bottom: solid 1px #bbb;
        text-align: center;
        padding-bottom: 2rem;
        @media screen and (min-width: $responsive_mid-breakpoint ) {
            padding-bottom: 2.5vw;
        }
        p {
            @include responsive-font(1.5vw, 18px, 32px);
        }
        .button-wrapper {
            margin-bottom: 5%;
        }
        a.button {
            display: inline-block;
            width: auto;
            letter-spacing: 0.15vw;
            font-weight: 300;
            margin: 0 auto;
            @include responsive-font(0.825vw, 12px, 18px);
            padding: 1rem;
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                padding: 1.125vw 5vw 1vw;
            }
        }
    }
    section.exhibitor-list-vendors {
        padding-top: 0;
        .gw-gopf-style-flex .gw-gopf-cats > span a {
            border: solid 2px #9B9B9B;
            background-color: $color__core_white;
            color: $color__core_blue;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 0.125vw;
            transition: color 0.35s, background-color 0.35s, border-color 0.35s;
            font-size: 0.75rem;
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                @include responsive-font(0.625vw, 10px, 20px);
            }
            @media screen and (min-width: $responsive_max-breakpoint ) {
                letter-spacing: 0.05vw;
            }
        }
        .gw-gopf-style-flex .gw-gopf-cats > span.gw-gopf-current a {
            border: solid 2px $color__core_blue;
            background-color: $color__core_blue;
            color: $color__core_white;
        }
    }
    section.exhibitor-list-footer {
        display: block;
        padding: 0 5%;
        p {
            @include responsive-font(1.5vw, 18px, 32px);
            margin-bottom: 0;
        }
        padding-top: 1rem;
        padding-bottom: 3rem;
        @media screen and (min-width: $responsive_mid-breakpoint ) {
            padding-bottom: 5vw;
            padding-top: 0;
        }
    }
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    .page#exhibitor-list  {
        section.media .media-object section.media-header h3 {
            //padding: 2.5vw 5vw 0.5vw 0;
        }
        .container {
            padding-bottom: 0;
        }
        section.show-list {
            h1 {
                font-weight: 100;
            }
            padding: 0;
            width: 100%;
            margin: 0 auto;
            .shows-container {
                height: auto;
                width: 100%;
                position: absolute;
                bottom: 0;
                .show {
                    width: 20%;
                    padding: 0 0 3vw;
                    @media screen and (min-width: $responsive_max-breakpoint ) {
                        padding: 0 0 3rem;
                    }
                    h3 {

                    }
                    h4 {

                    }
                    &.is-selected {
                        opacity: 1;
                        &:after {
                            content: '';
                        }
                    }
                    &:nth-of-type(2) {
                        //float: none;
                        //left: -2vw;  // Temporary fix for centering issue
                    }
                }
                &:after {
                    content: '';
                }
            }
            &:after {
                content: none;
            }
        }
        section.day-list {
            padding: 0;

            .day {
                @include span(6 of 12);
                text-align: center;
                padding: 0;
                &.day-1 {
                    margin-bottom: 0;
                }
                &.day-2 {
                    margin-top: 0;
                    margin-bottom: 0;
                }
                &.day-3 {
                    margin-top: 0;
                    background-position-x: 0;
                }
                section.day-header {
                    padding: 0;
                    display: block;
                    table-layout: initial;
                    background-color: transparent;
                    position: relative;
                    h3 {
                        padding: 3vw 0 0.5vw;
                    }
                    h4 {
                        &.audience {
                            padding: 2rem 10% 1rem !important;
                        }
                        &.date {
                            padding: 1vw 0 0;
                        }
                        &.times {
                            padding: 0.5vw 0 2vw;
                        }
                        &.location {
                            a, a:visited {

                            }
                        }
                        &.address {
                            padding: 0;
                            a, a:visited {

                            }
                        }
                    }
                    article.description {
                        padding: 1rem 10% 2rem;
                    }
                }
                section.blocks {
                    padding: 0;
                    display: none;
                    table-layout: fixed;
                    background-color: transparent;
                    button, a.button {
                            position: relative;
                    }
                    article {
                        display: block;
                        height: auto;
                        padding: 0;
                        margin: 0;
                        vertical-align: top;
                        h5 {
                            @include responsive-font(1.25vw, 14px, 24px);
                            padding: 0 0 1vw;
                            line-height: 1.3;
                            margin: 0;
                            text-transform: uppercase;
                            letter-spacing: 0.15vw;
                            font-weight: 500;
                            position: relative;
                            color: $color__core_blue;
                            text-align: left;
                            width: 100%;
                        }
                        h6 {
                            @include responsive-font(2vw, 18px, 24px);
                            padding: 0 0 1vw;
                            line-height: 1.35;
                            margin: 0;
                            text-transform: none;
                            letter-spacing: 0.05vw;
                            position: relative;
                            font-weight: 100;
                            color: $color__core_darkblue;
                            text-align: left;
                            width: 100%;
                        }
                        &.paragraph, &.ticket, &.callout {
                            padding: 1vw 2.5vw 0;
                            article {
                                margin: 0 0 1vw;
                                text-align: left;
                                color: $color__core_grey;
                                line-height: 1.35;
                                letter-spacing: 0.025vw;
                                @include responsive-font(1vw, 12px, 16px);
                                li {
                                    margin: 0;
                                    text-align: left;
                                    color: $color__core_grey;
                                    line-height: 1.35;
                                    letter-spacing: 0.025vw;
                                    @include responsive-font(1vw, 12px, 16px);
                                }
                            }
                        }
                        &.divider {
                            margin: 0;
                            &:after {
                                content: '';
                                display: block;
                                position: relative;
                                top: -1.5vw;
                                width: 100%;
                                margin: 0 auto;
                                margin-bottom: 2vw;
                                box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
                                padding-bottom: 4vw !important;
                            }
                        }
                        &.button {
                            button, a.button {
                                @include responsive-font(1vw, 12px, 20px);
                                letter-spacing: 0.125vw;
                                cursor: pointer;
                            }
                        }
                        &.callout {
                            padding: 0;
                            margin: 2.5vw;
                            background-color: $color__core_white;
                            article {
                                padding: 1.5vw;
                                margin: 0;
                                outline: solid 1px $color__core_blue;
                                outline-offset: -0.5vw;
                                text-align: center;
                                color: $color__core_blue;

                            }
                        }
                    }
                    & > article:last-child {
                        margin: 1.5vw 0 3.5vw !important;
                    }
                }
            }
        }
        section.carousel {
            .fixed-height {
                height: 30vmax !important;
            }
            .flickity-viewport .carousel-cell a article.quote {
                padding: 5vw 15vw 0;
            }
        }
    }
}

@media screen and (min-width: $responsive_max-breakpoint) {
    .page#exhibitor-list  {
        section.day-list {
            padding: 0;
        }
        section.show-list h1 {
            padding: 0 4rem;
        }
        section.show-list .shows-container .show h4 {
            padding: 0.25vw 0 0;
        }
    }

}

@media screen and (min-width: 900px) {
    .page#exhibitor-list  section.day-list .show {
        margin: 0;
    }
}

.page#exhibitor-list  .container {
    section.media {
        @media screen and (max-width: ($responsive_mid-breakpoint - 1) ) {
            padding: 4vw;
        }
    }
    aside.sidebar {
        padding: 4vw;
        @media screen and (min-width: $responsive_mid-breakpoint ) {
            padding-right: 5%;
            padding-left: 0;
        }
        @media screen and (min-width: $responsive_max-breakpoint ) {
            padding-right: 0;
                padding-top: 5%;

        }
        &.fixed {

        }
        .sidebar-header {
            background-color: $color__core_lightgrey;
            box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
            padding: 2rem;
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                padding: 1.5vw;
            }
            .sidebar-msg {
                display: block;
                text-align: center;
                font-size: 16px;
                color: $color__core_blue;
                padding-bottom: 1rem;
                @media screen and (min-width: $responsive_mid-breakpoint ) {
                    padding-bottom: 1vw;
                }
            }
            .button-wrapper {
                display: block;
                @include clearfix-std;
                @media screen and (min-width: $responsive_mid-breakpoint ) {
                    @include responsive-font(0.825vw, 12px, 20px);
                }
                &.access {
                    display: none !important;
                    &.accesspresent {
                        padding-bottom: 1rem;
                        @media screen and (min-width: $responsive_mid-breakpoint ) {
                            padding-bottom: 1vw;
                        }
                    }
                    &.is-selected {
                        display: block !important;
                    }
                }
            }
            a.button.sidebar-half {
                display: block;
                letter-spacing: 0.15vw;
                font-weight: 300;
                margin: 0;
                text-align: center;
                @include responsive-font(0.825vw, 12px, 20px);
                padding: 1rem;
                width: 100%;
                &:first-of-type {
                    margin-bottom: 1rem !important;
                }
                @media screen and (min-width: $responsive_mid-breakpoint ) {
                    padding: 0.875vw 1.25vw 0.75vw;
                    &:first-of-type {
                        margin-bottom: 0 !important;
                    }
                }
                &.disabled {
                    @include linear-gradient($color__core_darkblue, $color__core_blue);
                    pointer-events: none;
                }
                @media screen and (min-width: $responsive_mid-breakpoint ) {
                    @include span(3 of 6);
                    &:nth-of-type(2) {
                        @include last;
                    }
                }
            }
            a.button.sidebar {
                display: block;
                letter-spacing: 0.15vw;
                font-weight: 300;
                margin: 0;
                text-align: center;
                width: 100% !important;
                @include responsive-font(0.825vw, 12px, 20px);
                padding: 1rem;
                @media screen and (min-width: $responsive_mid-breakpoint ) {
                    padding: 0.875vw 1.25vw 0.75vw;
                }
                &.disabled {
                    @include linear-gradient($color__core_darkblue, $color__core_blue);
                    pointer-events: none;
                }
            }
        }
        .sidebar-main {
            background-color: $color__core_lightgrey;
            box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
            padding: 2rem;
            margin-top: 2rem;
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                padding: 1.5vw;
                margin-top: 3vw;
            }
            .news-feeds {
                .show-newsfeed {
                    .headline {
                        display: block;
                        letter-spacing: 0.15vw;
                        font-weight: 500;
                        margin: 0;
                        text-align: center;
                        width: 100% !important;
                        @include responsive-font(0.825vw, 12px, 20px);
                        padding-bottom: 2rem;
                        @media screen and (min-width: $responsive_mid-breakpoint ) {
                            padding-bottom: 1.5vw;

                        }
                    }
                    article {
                        margin: 0 0 1rem;
                        @media screen and (min-width: $responsive_mid-breakpoint ) {
                            margin: 0 0 1vw;
                        }
                        @include clearfix-std;
                        .entry-header {
                            @include span(2 of 7);
                        }
                        .article-title {
                            @include span(5 of 7);
                            @include last;
                            h6.entry-title {
                                margin: 0;
                                text-transform: none;
                                color: $color__core_grey;
                                letter-spacing: 0.0125vw;
                                font-weight: 300;
                                @include responsive-font(0.825vw, 12px, 20px);
                            }
                        }
                    }
                }
                .view-more {
                    border-top: solid 1px $color__core_grey;
                    color: $color__core_black;
                    font-weight: 500;
                    text-transform: uppercase;
                    display: block;
                    padding: 1.5rem 0;
                    @include responsive-font(0.75vw, 10px, 18px);
                    @media screen and (min-width: $responsive_mid-breakpoint ) {
                        padding: 2vw 0;
                    }
                }
            }
            .newsletter {
                input[type="email"] {
                    box-shadow: inset 2px 3px 7px rgba(0,0,0,0.2);
                    background: #f9f9f9 !important;
                    width: 100%;
                    @media screen and (max-width: ($responsive_mid-breakpoint - 1) ) {
                        line-height: 16px;
                        font-size: 16px;
                        padding: 0.5rem;
                        margin-bottom: 0.5rem;
                    }
                    @media screen and (min-width: $responsive_mid-breakpoint ) {
                        @include responsive-font(0.75vw, 10px, 18px);
                    }
                }
                input[type="email"]::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color: $color__core_mediumgrey;
                    text-align: center;
                    text-transform: uppercase;
                }
                input[type="email"]::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                   color: $color__core_mediumgrey;
                   opacity: 1;
                   text-align: center;
                   text-transform: uppercase;
                }
                input[type="email"]::-moz-placeholder { /* Mozilla Firefox 19+ */
                   color: $color__core_mediumgrey;
                   opacity: 1;
                   text-align: center;
                   text-transform: uppercase;
                }
                input[type="email"]::-ms-input-placeholder { /* Internet Explorer 10-11 */
                   color: $color__core_mediumgrey;
                   text-align: center;
                   text-transform: uppercase;
                }
                .newsletter-cta {
                    color: $color__core_blue;
                    font-weight: 500;
                    text-transform: uppercase;
                    display: block;
                    padding: 0 0 1rem;
                    @include responsive-font(0.825vw, 12px, 20px);
                    letter-spacing: 0.025vw;
                    @media screen and (min-width: $responsive_mid-breakpoint ) {
                        padding: 0 0 1vw;
                    }
                }
                .button {
                    display: block;
                    letter-spacing: 0.15vw;
                    font-weight: 300;
                    margin: 0;
                    text-align: center;
                    width: 100% !important;
                    @include responsive-font(0.825vw, 12px, 20px);
                    padding: 1rem;
                    @media screen and (min-width: $responsive_mid-breakpoint ) {
                        padding: 0.875vw 1.25vw 0.75vw;
                    }
                    @include linear-gradient($color__core_darkblue, $color__core_blue);
                    color: $color__core_white;
                    text-transform: uppercase;
                    box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
                    &:hover, &:active, &:focus {
                        @include linear-gradient($color__core_darkblue, $color__core_blue);
                    }
                }
            }
        }
    }
}
