.page#exhibit {
    .container {
        padding-bottom: 5vw;
    }
    /*
    section.show-list {
        padding: 8vw 0 0;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-size: cover;
        background-position-x: left;
        .header-wrapper {
            width: 100%;
            display: block;
            padding-top: 2rem;
        }
        h1 {
            text-align: center;
            color: $color__core_blue;
            font-weight: 300;
            @include responsive-font(7vw, 36px, 148px);
            letter-spacing: 0.5vw;
            display: inline-block;
            padding-top: 1rem;
            padding-bottom: 1rem;

        }
        .shows-container {
            height: 80vw;
            @media screen and (max-width: $responsive_min-breakpoint) {
                @include clearfix();
            }

            .flickity-prev-next-button {
                top: 0vw;
                width: 20vw;
                height: 35vw;
                margin: 0;
                padding: 0;
                border: none;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0);
                cursor: pointer;
                mix-blend-mode: normal;
                transform: translateY(0%);
                opacity: 0;
            }
            .show {
                width: 100%;
                text-align: center;
                display: block;
                padding: 3vw 0 ;
                position: relative;
                opacity: 1;
                transition: opacity 0.5s;
                &:nth-of-type(1) {
                    float: left;
                }
                &:nth-of-type(2) {
                    float: none;
                }
                &:nth-of-type(3) {
                    float: right;
                }
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                h3 {
                    @include responsive-font(1.25vw, 16px, 42px);
                    padding: 1.5vw 0 0.125vw;
                    line-height: 1.3;
                    margin: 0;
                    text-transform: uppercase;
                    letter-spacing: 0.05vw;
                    font-weight: 600;
                    position: relative;
                    color: $color__soft_headline;
                }
                h4 {
                    @include responsive-font(1.125vw, 14px, 28px);
                    padding: 0.25vw 0 0;
                    line-height: 1.3;
                    margin: 0;
                    text-transform: none;
                    letter-spacing: 0.025vw;
                    font-weight: 300;
                    position: relative;
                    color: $color__soft_headline;
                    opacity: 0.85;
                }
            }
        }
    }
    */
    section.show-list {
        padding: 0; //8vw 0 0
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-size: cover;
        background-position: center;
        @media screen and (max-width: ($responsive_min-breakpoint - 1) ) {
            height: 80vw;
        }
        .header-wrapper {
            width: 100%;
            display: block;
            position: relative;
            height: 80vw;
            overflow: hidden;
            @media screen and (min-width: $responsive_min-breakpoint ) {
                height: 30vw;
            }
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                //width: auto;
                //display: inline-block;
            }
        }
        h1 {
            text-align: center;
            color: $color__core_blue;
            font-weight: 300;
            @include responsive-font(7vw, 36px, 148px);
            letter-spacing: 0.5vw;
            display: inline-block;
            padding: 0 12.5vw;
        }
        .shows-container {
            height: 36vw;
            z-index: 2;
            @media screen and (max-width: ($responsive_min-breakpoint - 1) ) {
                bottom: 30vw;
                width: 100%;
            }
            .flickity-prev-next-button {
                top: 0vw;
                width: 20vw;
                height: 35vw;
                margin: 0;
                padding: 0;
                border: none;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0);
                cursor: pointer;
                mix-blend-mode: normal;
                transform: translateY(0%);
                opacity: 0;
            }
            .show {
                width: 40%;
                text-align: center;
                display: inline-block;
                padding: 10vw 0;
                position: relative;
                opacity: 1;
                transition: opacity 0.5s;
                &:nth-of-type(1) {
                    float: left;
                }
                &:nth-of-type(2) {
                    float: left;
                }
                &:nth-of-type(3) {
                    float: left;
                }
                &:hover {
                    opacity: 0.75;
                }
                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                }
                h3 {
                    @include responsive-font(1.125vw, 16px, 36px);
                    padding: 1.5vw 0 0.125vw;
                    line-height: 1.3;
                    margin: 0;
                    text-transform: uppercase;
                    letter-spacing: 0.075vw;
                    font-weight: 500;
                    position: relative;
                    color: $color__core_white;
                }
                h4 {
                    @include responsive-font(0.875vw, 12px, 24px);
                    padding: 0.25vw 0 0;
                    line-height: 1.3;
                    margin: 0;
                    text-transform: none;
                    letter-spacing: 0.025vw;
                    font-weight: 300;
                    position: relative;
                    color: $color__core_white;
                    opacity: 1;
                }
                &.is-selected {
                    opacity: 1;
                    h3, h4 {
                        //color: $color__core_blue;
                    }
                    &:after {
                        width: 0;
                        height: 0;
                        bottom: -1px;
                        right: 0;
                        left: 0;
                        position: absolute;
                        display: block;
                        border-style: solid;
                        border-width: 2vw 2vw 0 2vw;
                        border-color: $color__core_white transparent transparent transparent;
                        margin: 0 auto;
                        z-index: 1;
                        transform: rotate(180deg);
                        @media screen and (min-width: $responsive_max-breakpoint ) {
                            border-width: 2.25rem 2.25rem 0 2.25rem;
                        }
                    }
                }
            }
            &:after {
                content: 'flickity';
                display: none;
            }
        }
        &:after {
            width: 0;
            height: 0;
            bottom: 6vw;
            right: 0;
            left: 0;
            content: '';
            position: relative;
            display: block;
            border-style: solid;
            border-width: 6vw 4vw 0 4vw;
            border-color: $color__core_white transparent transparent transparent;
            margin: 0 auto;
            z-index: 1;
            transform: rotate(180deg);
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                bottom: -1px;
            }
        }
        .shows-image-container {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            .show {
                position: absolute;
                opacity: 0;
                background-size: cover;
                transition: opacity 0.35s ease-in-out;
                z-index: 0;
                width: 100%;
                height: 100%;
                &.is-selected {
                    opacity: 1;
                    z-index: 1;
                }
                h2 {
                    text-align: left;
                    padding: 1.5% 5%;
                    line-height: 1;
                    position: relative;
                    z-index: 2;
                    span.show-city {
                        font-family: $font__swash;
                        text-align: left;
                        font-style: italic;
                        text-transform: uppercase;
                        color: $color__core_white;
                        position: relative;
                        @include responsive-font(20vw, 16px, 315px);
                        @media screen and (max-width: ($responsive_min-breakpoint - 1) ) {
                            font-size: 30vw;
                            text-align: center;
                            display: block;
                            padding-top: 7.5vw;
                            margin-top: 0;
                        }
                        @supports
                          ((-webkit-text-stroke-color: #666)
                          and
                          (-webkit-text-fill-color: white))
                          or
                          ((-moz-text-stroke-color: #666)
                          and
                          (-moz-text-fill-color: white)) {
                               -moz-text-fill-color: $color__core_white;
                            -webkit-text-fill-color: $color__core_white;
                               -moz-text-stroke-color: $color__core_white;
                            -webkit-text-stroke-color: $color__core_white;
                               -moz-text-stroke-width: 1px;
                            -webkit-text-stroke-width: 1px;
                        }
                    }
                    span.show-dates {
                        font-family: $font__main;
                        @include responsive-font(3.5vw, 16px, 55px);
                        font-weight: 200;
                        color: $color__core_white;
                        @media screen and (max-width: ($responsive_min-breakpoint - 1) ) {
                            font-size: 5vw;
                            text-align: center;
                            display: block;
                            margin-top: 5vw;
                        }
                    }
                }
                .show-background {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    &.fallback {
                        @media screen and (min-width: $responsive_mid-breakpoint ) {
                            display: none;
                        }
                    }
                }
                .video {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    pointer-events: none;
                    overflow: hidden;
                    @media screen and (min-width: $responsive_mid-breakpoint ) {
                        display: block;
                    }
                    iframe {
                        width: 100vw;
                         height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
                         min-height: 100vh;
                         min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
                         position: absolute;
                         top: 50%;
                         left: 50%;
                         transform: translate(-50%, -50%);
                    }
                }
                .show-header-overlay {
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    //@include linear-gradient(#8ea2c8, #fdfdfe);
                    background: #8ea2c8; /* Old browsers */
                    background: -moz-linear-gradient(45deg, #8ea2c8 0%, #fdfdfe 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(45deg, #8ea2c8 0%,#fdfdfe 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(45deg, #8ea2c8 0%,#fdfdfe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ea2c8', endColorstr='#fdfdfe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                    mix-blend-mode: multiply;
                }
            }
        }
    }
    section.category-list {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 5vw 5vw 0;
        @include clearfix-full();
        .show {
            display: none;
            width: auto;
            &.is-selected {
                display: block;
            }
        }
        .category {
            width: 100%;
            float: none;
            text-align: center;
            position: relative;
            transition: opacity 0.25s, transform 0.5s 0.125s;
            padding: 0;
            margin: 0 0 5vw;
            background-color: $color__core_lightgrey;
            box-shadow: 0 0 0 0 transparent;
            &:last-child {
                @include last();
                margin-right: 0 !important;
            }
            &:hover {
                //transform: scale(1.01);
            }
            &.expanded {
                @include span(8 of 12);
            }
            &.day-1 {
                margin-bottom: 5vw;
            }
            &.day-2 {
                margin-top: 5vw;
                margin-bottom: 5vw;
            }
            &.day-3 {
                margin-top: 5vw;
            }
            button {
                margin-bottom: 2.5vw;
                margin-top: 2.5vw;
            }
            button, a.button {
                @include responsive-font(1vw, 12px, 24px);
                letter-spacing: 0.125vw;
                width: calc(100% - 5vw);
                &.disabled {
                	@include linear-gradient($color__core_darkblue, $color__core_darkpink);
                    pointer-events: none;
                }
            }
            .cat-image {
                display: block;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
            }
            section.category-header {
                padding: 0;
                display: block;
                table-layout: initial;
                background-color: transparent;
                position: relative;
                h3 {
                    @include responsive-font(4vw, 24px, 56px);
                    padding: 6vw 0 0.5vw;
                    line-height: 1.5;
                    margin: 0;
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 0.125vw;
                    font-weight: 600;
                    position: relative;
                    color: $color__core_blue;
                    transition: rotate 0.3s;
                    width: auto;
                    display: inline-block;
                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        border-bottom: solid 2px rgba($color__core_grey, 0.5);
                    }
                }
                h4 {
                    @include responsive-font(1.25vw, 14px, 24px);
                    padding: 0;
                    line-height: 1.1;
                    margin: 0;
                    opacity: 1;
                    text-transform: none;
                    letter-spacing: 0.025vw;
                    font-weight: 600;
                    position: relative;
                    color: $color__core_grey;
                    br {
                        display: none;
                    }
                }
                article.description {
                    text-align: left;
                    color: $color__core_grey;
                    line-height: 1.35;
                    letter-spacing: 0.025vw;
                    padding: 5vw;
                    text-align: center;
                    @include responsive-font(1vw, 16px, 24px);
                    p {
                        margin: 0 0 1vw;
                        text-align: center !important;
                        color: $color__core_grey;
                        line-height: 1.35;
                        letter-spacing: 0.025vw;
                        @include responsive-font(1vw, 12px, 24px);
                        &:last-child {
                            margin: 0;
                        }
                    }
                    p {
                        margin: 0 0 1vw;
                        text-align: left;
                        color: $color__core_white;
                        line-height: 1.75;
                        letter-spacing: 0.05vw;
                        @include responsive-font(1.125vw, 12px, 16px);
                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
            &:nth-of-type(1) {
                background-position-y: 35%;
            }
            &:nth-of-type(2) {
                background-position-y: 35%;
            }
            &:nth-of-type(3) {
                background-position-y: 35%;
            }
        }
    }
    section.exhibit-cta {
            padding: 5vw 5vw 2rem;
        h2 {
            text-transform: none;
            @include responsive-font(3vw, 24px, 48px);
            letter-spacing: 0.05vw;
            font-weight: 300;
            color: $color__core_blue;
            text-align: center;
            width: 70%;
            line-height: 1.35;
            margin: 0 auto 5vw;
        }
        a.button {
            text-align: center;
            margin: 1rem auto 0;
            display: block;
            width: 20%;
            min-width: 10rem;
        }
    }
    section.carousel {
        .fixed-height {
            height: 50vmax !important;
            min-height: 20rem;
        }
        &:before {
            content: '';
            display: block;
            position: relative;
            bottom: 0;
            width: 80%;
            margin: 3vw auto 0;
            min-height: 2px;
            background-color: rgba($color__core_grey, 0.5);
        }
        &:after {
            content: '';
            display: block;
            position: relative;
            top: 0;
            width: 80%;
            margin: 0 auto;
            min-height: 2px;
            background-color: rgba($color__core_grey, 0.5);
        }
    }
    section.media {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding: 0 5vw 3vw;
        @include clearfix-full();
        h2 {
            @include responsive-font(3vw, 24px, 56px);
            padding: 2rem 0;
            line-height: 1.5;
            margin: 0;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.125vw;
            font-weight: 600;
            position: relative;
            color: $color__core_grey;
            transition: rotate 0.3s;
            width: auto;
            display: block;
        }
        &.video {
            &:before {
                content: none;
                display: block;
                position: relative;
                bottom: 0;
                width: 80%;
                margin: 0 auto;
                min-height: 2px;
                background-color: rgba($color__core_grey, 0.5);
                @media screen and (min-width: $responsive_mid-breakpoint ) {
                    content: '';
                }
            }
            &.footer {
                &:before {
                    content: none;
                }
            }
        }
        .media-object {
            position: relative;
            .video-container {
                iframe {
                    filter: contrast(100%) saturate(100%) brightness(100%);
                    transition: filter 2.5s ease-in-out;
                }
                .video-overlay {
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    z-index: 9;
                    pointer-events: none;
                    transition: opacity 2.5s ease-in-out, background-color 0.75s ease-in-out;
                    span {
                        opacity: 0;
                        position: relative;
                        @include vertical-align();
                        @include responsive-font(2vmax, 16px, 32px);
                        line-height: 1;
                        color: $color__core_white;
                        font-weight: 500;
                        letter-spacing: 0.25vmax;
                        pointer-events: none;
                        //mix-blend-mode: normal;
                        transition: opacity 0.75s ease-in-out;
                    }
                }
                &.overlay-active {
                    .video-overlay {
                        opacity: 1;
                        span {
                            opacity: 1;
                        }
                        iframe {
                            filter: contrast(50%) saturate(50%) brightness(150%);
                        }
                    }
                }
            }
            .image {
                height: 30vmax;
                background-size: cover;
                box-shadow: 0 0 0 rgba(0, 0, 0, 0);
                transform: scale(1);
                transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
                a.download {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                span {
                    @include vertical-align();
                    @include responsive-font(2.5vmax, 16px, 40px);
                    color: $color__core_white;
                    font-weight: 500;
                    letter-spacing: 0.25vmax;
                }
                &:hover {
                    //box-shadow: inset 0.5vw 0vw 3vw rgba(0, 0, 0, 0.15);
                    box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
                    transform: scale(1.01);
                }
            }
            section.media-header {
                padding: 0;
                display: block;
                table-layout: initial;
                background-color: transparent;
                position: relative;
                h3 {
                    @include responsive-font(1.65vmax, 16px, 30px);
                    padding: 1rem 0 0.5vw;
                    line-height: 1.5;
                    margin: 0;
                    text-transform: uppercase;
                    text-align: left;
                    letter-spacing: 0.125vw;
                    font-weight: 600;
                    position: relative;
                    color: $color__core_black;
                    word-spacing: -0.25vmax;
                }
                article {
                    text-align: left;
                    color: $color__core_black;
                    line-height: 1.5;
                    letter-spacing: 0.0125vw;
                    @include responsive-font(1.125vw, 12px, 16px);
                    padding: 1vmax 0 4vmax;
                    display: block;
                }
            }
        }
        &.two-col {
            .media-object:nth-of-type(2n) {
                float: none;
            }
        }
        &.three-col {
            .media-object:nth-of-type(3n) {
                float: none;
            }
        }
    }
    section.youtube {
        .media-object {
            position: relative;
            width: 100%;
            margin: 0 auto;
            text-align: center;
            padding: 0 5vw 3vw;
            .video-container {
                padding-bottom: 55.25%;
                iframe {
                    filter: contrast(100%) saturate(100%) brightness(100%);
                    transition: filter 2.5s ease-in-out;
                }
                .video-overlay {
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    z-index: 9;
                    pointer-events: none;
                    background: rgba(204,100,166, 0.65);
                    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(204,100,166, 0.65)), color-stop(100%,  rgba(13,142,206, 0.65)));
                    background: -webkit-linear-gradient(left, rgba(204,100,166, 0.65) 0%,  rgba(13,142,206, 0.65) 100%);
                    background: linear-gradient(to right, rgba(204,100,166, 0.65) 0%,  rgba(13,142,206, 0.65) 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#80CC64A6, endColorstr=#FF0D8ECE, GradientType=1 );                //mix-blend-mode: overlay;
                    transition: opacity 2.5s ease-in-out;
                    span {
                        opacity: 0;
                        position: relative;
                        @include vertical-align();
                        @include responsive-font(2vmax, 16px, 32px);
                        line-height: 1;
                        color: $color__core_white;
                        font-weight: 500;
                        letter-spacing: 0.25vmax;
                        pointer-events: none;
                        //mix-blend-mode: normal;
                        transition: opacity 0.75s ease-in-out;
                        text-transform: uppercase;
                    }
                }
                &.overlay-active {
                    .video-overlay {
                        opacity: 1;
                        span {
                            opacity: 1;
                        }
                        iframe {
                            filter: contrast(50%) saturate(50%) brightness(150%);
                        }
                    }
                }
            }
            .image {
                height: 30vmax;
                background-size: cover;
                box-shadow: 0 0 0 rgba(0, 0, 0, 0);
                transform: scale(1);
                transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
                a.download {
                    width: 100%;
                    height: 100%;
                    display: block;
                }
                span {
                    @include vertical-align();
                    @include responsive-font(2vmax, 16px, 32px);
                    color: $color__core_white;
                    font-weight: 500;
                    letter-spacing: 0.25vmax;
                }
                &:hover {
                    //box-shadow: inset 0.5vw 0vw 3vw rgba(0, 0, 0, 0.15);
                    box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
                    transform: scale(1.01);
                }
            }
            section.media-header {
                padding: 0;
                display: block;
                table-layout: initial;
                background-color: transparent;
                position: relative;
                h3 {
                    @include responsive-font(2vmax, 16px, 32px);
                    padding: 1rem 0 0.5vw;
                    line-height: 1.5;
                    margin: 0;
                    text-transform: uppercase;
                    text-align: left;
                    letter-spacing: 0.25vw;
                    font-weight: 700;
                    position: relative;
                    color: $color__core_black;
                    transition: rotate 0.3s;
                }
                article {
                    text-align: left;
                    color: $color__core_black;
                    line-height: 1.5;
                    letter-spacing: 0.05vw;
                    @include responsive-font(1.125vw, 12px, 16px);
                    padding: 1vmax 0 4vmax;
                }
            }
        }
    }
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    .page#exhibit {
        .container {
            padding-bottom: 0;
        }/*
        section.show-list {
            .header-wrapper {
                width: auto;
                display: inline-block;
            }
            padding: 6vw 0 0;
            width: 100%;
            margin: 0 auto;
            h1 {
                padding-top: 0;
                padding-bottom: 0;
                font-weight: 100;
                padding: 0 12.5vw;
            }
            .shows-container {
                height: auto;
                .show {
                    display: inline-block;
                    width: 20%;
                    padding: 1vw 0 5vw;
                    h3 {

                    }
                    h4 {

                    }
                    &.is-selected {
                        opacity: 1;
                        &:after {
                            content: '';
                        }
                    }
                    &:nth-of-type(2) {
                        float: none;
                        //left: -2vw;  // Temporary fix for centering issue
                    }
                }
                &:after {
                    content: '';
                }
            }
            &:after {
                content: none;
            }
        }
        */
        section.category-list {
            padding: 2.5vw;
            .category {
                @include span(4 of 12);
                text-align: center;
                padding: 0;
                margin-bottom: 0;
                box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
                &.day-1 {
                    margin-bottom: 0;
                }
                &.day-2 {
                    margin-top: 0;
                    margin-bottom: 0;
                }
                &.day-3 {
                    margin-top: 0;
                }
                &:nth-of-type(1) {
                    background-position-y: top;
                }
                &:nth-of-type(2) {
                    background-position-y: top;
                }
                &:nth-of-type(3) {
                    background-position-y: top;
                }
                section.category-header {
                    padding: 0;
                    display: block;
                    table-layout: initial;
                    background-color: transparent;
                    position: relative;
                    h3 {
                        padding: 3vw 0 0.5vw;
                    }
                    article.description {
                        padding: 2.5vw 2.5vw 4vw;
                    }
                }
            }
        }
        section.media {
            padding: 2.5vw;
            h2 {
                padding: 3vw 2.5vw 5vw;
            }
            .media-object {
                text-align: center;
                padding: 0;
                margin-bottom: 0;
                min-height: 20rem;
                &:last-child {
                    @include last();
                }
                section.media-header h3 {
                    padding: 2.5vw 5vw 0.5vw 0;
                }
                section.category-header {
                    padding: 0;
                    display: block;
                    table-layout: initial;
                    background-color: transparent;
                    position: relative;
                    article.description {
                        padding: 2.5vw 2.5vw 10vw;
                    }
                }
            }
            &.two-col {
                .media-object {
                    @include span(6 of 12);
                    &:nth-of-type(2n) {
                        @include last();
                    }
                }
            }
            &.three-col {
                .media-object {
                    @include span(4 of 12);
                    &:nth-of-type(3n) {
                        @include last();
                    }
                }
            }
        }
        section.exhibit-cta {
            padding: 5vw 5vw 3vw;
            h2 {
                margin: 0 auto 3vw;
            }
        }
        section.carousel {
            .flickity-viewport .carousel-cell a article.quote aside {
                margin: 1vw 2vw 0;
            }
            .fixed-height {
                height: 25vmax !important;
            }
        }
        section.youtube {
            .media-object {
                margin: 0;
                padding: 0;
                .video-container {
                    padding-bottom: 54.25%;
                    .video-overlay {
                        display: none;
                    }
                }
                section.media-header {
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: $responsive_max-breakpoint) {
    .page#exhibit {
        section.category-list {
            padding: 2.5vw 0;
        }
        /*
        section.show-list .shows-container .show h4 {
            padding: 0.25vw 0 0;
        }
        section.show-list h1 {
            padding: 0 4rem;
        }
        */
    }
}


@media screen and (min-width: 600px) {
    .page#exhibit section.media.two-col .media-object {
        width: 48.5714285714%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}





// ///////////////////////////////////////////////////

@media screen and (min-width: $responsive_min-breakpoint ) {
    .page#exhibit {
        section.media .media-object section.media-header h3 {
            //padding: 2.5vw 5vw 0.5vw 0;
        }
        .container {
            padding-bottom: 0;
        }
        section.show-list {
            h1 {
                font-weight: 100;
            }
            padding: 0;
            width: 100%;
            margin: 0 auto;
            .shows-container {
                height: auto;
                width: 100%;
                position: absolute;
                bottom: 0;
                .show {
                    width: 20%;
                    padding: 0 0 3vw;
                    @media screen and (min-width: $responsive_max-breakpoint ) {
                        padding: 0 0 3rem;
                    }
                    h3 {

                    }
                    h4 {

                    }
                    &.is-selected {
                        opacity: 1;
                        &:after {
                            content: '';
                        }
                    }
                    &:nth-of-type(2) {
                        //float: none;
                        //left: -2vw;  // Temporary fix for centering issue
                    }
                }
                &:after {
                    content: '';
                }
            }
            &:after {
                content: none;
            }
        }
        section.day-list {
            padding: 0;

            .day {
                @include span(6 of 12);
                text-align: center;
                padding: 0;
                &.day-1 {
                    margin-bottom: 0;
                }
                &.day-2 {
                    margin-top: 0;
                    margin-bottom: 0;
                }
                &.day-3 {
                    margin-top: 0;
                    background-position-x: 0;
                }
                section.day-header {
                    padding: 0;
                    display: block;
                    table-layout: initial;
                    background-color: transparent;
                    position: relative;
                    h3 {
                        padding: 3vw 0 0.5vw;
                    }
                    h4 {
                        &.audience {
                            padding: 2rem 10% 1rem !important;
                        }
                        &.date {
                            padding: 1vw 0 0;
                        }
                        &.times {
                            padding: 0.5vw 0 2vw;
                        }
                        &.location {
                            a, a:visited {

                            }
                        }
                        &.address {
                            padding: 0;
                            a, a:visited {

                            }
                        }
                    }
                    article.description {
                        padding: 1rem 10% 2rem;
                    }
                }
                section.blocks {
                    padding: 0;
                    display: none;
                    table-layout: fixed;
                    background-color: transparent;
                    button, a.button {
                            position: relative;
                    }
                    article {
                        display: block;
                        height: auto;
                        padding: 0;
                        margin: 0;
                        vertical-align: top;
                        h5 {
                            @include responsive-font(1.25vw, 14px, 24px);
                            padding: 0 0 1vw;
                            line-height: 1.3;
                            margin: 0;
                            text-transform: uppercase;
                            letter-spacing: 0.15vw;
                            font-weight: 500;
                            position: relative;
                            color: $color__core_blue;
                            text-align: left;
                            width: 100%;
                        }
                        h6 {
                            @include responsive-font(2vw, 18px, 24px);
                            padding: 0 0 1vw;
                            line-height: 1.35;
                            margin: 0;
                            text-transform: none;
                            letter-spacing: 0.05vw;
                            position: relative;
                            font-weight: 100;
                            color: $color__core_darkblue;
                            text-align: left;
                            width: 100%;
                        }
                        &.paragraph, &.ticket, &.callout {
                            padding: 1vw 2.5vw 0;
                            article {
                                margin: 0 0 1vw;
                                text-align: left;
                                color: $color__core_grey;
                                line-height: 1.35;
                                letter-spacing: 0.025vw;
                                @include responsive-font(1vw, 12px, 16px);
                                li {
                                    margin: 0;
                                    text-align: left;
                                    color: $color__core_grey;
                                    line-height: 1.35;
                                    letter-spacing: 0.025vw;
                                    @include responsive-font(1vw, 12px, 16px);
                                }
                            }
                        }
                        &.divider {
                            margin: 0;
                            &:after {
                                content: '';
                                display: block;
                                position: relative;
                                top: -1.5vw;
                                width: 100%;
                                margin: 0 auto;
                                margin-bottom: 2vw;
                                box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
                                padding-bottom: 4vw !important;
                            }
                        }
                        &.button {
                            button, a.button {
                                @include responsive-font(1vw, 12px, 20px);
                                letter-spacing: 0.125vw;
                                cursor: pointer;
                            }
                        }
                        &.callout {
                            padding: 0;
                            margin: 2.5vw;
                            background-color: $color__core_white;
                            article {
                                padding: 1.5vw;
                                margin: 0;
                                outline: solid 1px $color__core_blue;
                                outline-offset: -0.5vw;
                                text-align: center;
                                color: $color__core_blue;

                            }
                        }
                    }
                    & > article:last-child {
                        margin: 1.5vw 0 3.5vw !important;
                    }
                }
            }
        }
        section.carousel {
            .fixed-height {
                height: 30vmax !important;
            }
            .flickity-viewport .carousel-cell a article.quote {
                padding: 5vw 15vw 0;
            }
        }
    }
}

@media screen and (min-width: $responsive_max-breakpoint) {
    .page#exhibit {
        section.day-list {
            padding: 0;
        }
        section.show-list h1 {
            padding: 0 4rem;
        }
        section.show-list .shows-container .show h4 {
            padding: 0.25vw 0 0;
        }
    }

}

@media screen and (min-width: 900px) {
    .page#exhibit section.day-list .show {
        margin: 0;
    }
}
