#home {

}

.featured-items  {
    //padding: 6vw 5vw 0;
    padding: gutter() 4vw 1vw 4vw;
    transition: padding 0.5s ease-in;
    background-color: $color__core_white;
    @include clearfix();
    .featured-item {
        @include span(12 of 12);
        display: inline-block;
        vertical-align: top;
        padding: 0;
        div {
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 53vw;
            display: block;
            padding: 0;
            margin: 0;
            position: relative;
        }
        .photo div:after {
            width: 0;
            height: 0;
            bottom: 0;
            right: 0;
            left: 0;
            position: absolute;
            content: '';
            display: block;
            border-style: solid;
            border-width: 3vw 3vw 0 3vw;
            border-color: $color__core_white transparent transparent transparent;
            margin: 0 auto;
            z-index: 1;
            transform: rotate(180deg);
        }
        a {
            text-decoration: none;
            br {
                display: none;
            }
        }
        p {
            margin: 0;
            font-size: 1.45vw;
        }
        h3 {
            margin: 0;
            text-align: left;
            @include span(12 of 12);
            display: block;
            height: auto;
            padding: 5vw 2vw 2vw;
            vertical-align: top;
        }
        article {
            margin: 0;
            text-align: left;
            @include span(12 of 12);
            display: block;
            height: auto;
            border-top: 0;
            padding: 0 2vw 12vw;
            vertical-align: top;
        }
    }
    .spotlight-item {
        @include span(12 of 12);
        @include last;
        display: block;
        vertical-align: top;
        padding: 0;
        div {
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 53.4vw;
            display: block;
            padding: 0;
            margin: 0;
            position: relative;
        }
        .photo div:after {
            width: 0;
            height: 0;
            bottom: -1px;
            right: 0;
            left: 0;
            position: absolute;
            content: '';
            display: block;
            border-style: solid;
            border-width: 3vw 3vw 0 3vw;
            border-color: $color__core_white transparent transparent transparent;
            margin: 0 auto;
            z-index: 1;
            transform: rotate(180deg);
        }
        a {
            text-decoration: none;
        }
        p {
            margin: 0;
            font-size: 1.45vw;
        }
        h3 {
            margin: 0;
            text-align: left;
            @include span(12 of 12);
            display: block;
            height: auto;
            padding: 5vw 0 2vw;
            vertical-align: top;
            a {
                color: $color__core_black;
            }
        }
        article {
            margin: 0;
            text-align: left;
            @include span(12 of 12);
            display: block;
            height: auto;
            border-top: 0;
            padding: 0 0 12vw;
            vertical-align: top;
        }
    }
    a article{
        text-decoration: none;
        color: $color__core_black;
    }
}
.ha {
    color: $color__core_headline !important;
    &:hover, &:focus {
        color: $color__core_purple !important;
    }
}
@media screen and (min-width: $responsive_min-breakpoint ) {
    #home {
        .text-header {
            padding: 7vw 0 0;
        }
    }
    .featured-items  {
        display: table-cell;
        .featured-item {
            @include span(6 of 12);
            display: inline-block;
            vertical-align: top;
            float: none;
            @include clearfix-after();
            div {
                height: 26.5vw;
                max-height: 27rem;
                transition: box-shadow 0.5s;
                transition-delay: 0.25s;
                &:hover, &:focus {
                    //box-shadow: 1vw 0.5vw 2vw rgba(0,0,0,0.25);
                    //box-shadow: inset 0.5vw 0vw 3vw rgba(100,100,100,0.5);
                    //box-shadow: inset 0.25vw -0.25vw 1vw rgba(0,0,0,0.075);
                    box-shadow: 1vw 0.5vw 2vw rgba(0,0,0,0.25);
                    box-shadow: inset 0.5vw 0vw 3vw rgba(0,0,0,0.5);
                }
            }
            h3 {
                padding: 3vw 2vw 2vw;
            }
            &.last {
                margin-right: 0;
            }
            article {
                padding: 0 2vw 5vw;
            }
        }
        .spotlight-item {
            display: inline-block;
            vertical-align: top;
            float: none;
            @include clearfix-after();
            article {
                width: 100%;
                margin: 0;
                padding: 0 25% 5vw;
                text-align: center;
            }
            h3 {
                width: 100%;
                margin: 0;
                padding: 3vw 25% 2vw;
                text-align: center;
            }
            div {
                height: 40vw;
                transition: box-shadow 0.5s;
                transition-delay: 0.25s;
                &:hover, &:focus {
                    box-shadow: 1vw 0.5vw 2vw rgba(0,0,0,0.25);
                    box-shadow: inset 0.5vw 0vw 3vw rgba(0,0,0,0.5);
                }
            }
        }
    }
}

@media screen and (min-width: $responsive_max-breakpoint ) {
    .featured-items {
        padding: gutter() 0 1vw 0;
    }
}
