

.page#past-shows {
    .container {
        main.attend-main {
            @include clearfix-std;
            position: relative;
            width: 100%;
            padding: 0;
        }
    }
    header.title {
        min-height: 22rem;
        h1 {
            @include responsive-font(7.5vw, 58px, 120px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            font-family: $font__swash;
            font-style: italic;
            padding: 0;
            color: $color__core_white;
            text-transform: capitalize;
            letter-spacing: 0;
            &:after {
                content: none;
            }
        }
    }
    section.show-list {
        padding: 0; //8vw 0 0
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-size: cover;
        background-position: center;
        padding: 5%;
        @include clearfix-std;
        .show {
            background-color: $color__core_lightgrey;
            box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
            margin-bottom: 5%;
            overflow: hidden;
            &:hover {
                .show-image:not(.placeholder) {
                    transform: scale(1.05);
                }
            }
            @media screen and (min-width: $responsive_min-breakpoint ) {
                @include span(6 of 12);
                &:nth-of-type(2n) {
                    @include last;
                }
            }
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                @include span(4 of 12);
                &:nth-of-type(2n) {
                    @include span(4 of 12);
                }
                &:nth-of-type(3n) {
                    @include last;
                }
            }
            .show-image {
                position: relative;
                z-index: 2;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                transform-origin: bottom;
                transition: transform 2.5s ease-in-out;
                &.placeholder {
                    background: #8ea2c8; /* Old browsers */
                    background: -moz-linear-gradient(45deg, #8ea2c8 0%, #fdfdfe 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(45deg, #8ea2c8 0%,#fdfdfe 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(45deg, #8ea2c8 0%,#fdfdfe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ea2c8', endColorstr='#fdfdfe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                }
            }
            .detail-wrapper {
                padding: 0 2rem 2rem;
                @media screen and (min-width: $responsive_mid-breakpoint ) {
                    padding: 0 10% 2.25vw;
                }
                .location-name {
                    @include responsive-font(2vw, 18px, 28px);
                    padding: 1rem 0 0;
                    text-transform: none;
                    color: $color__core_black;
                    font-weight: 500;
                    letter-spacing: 0.025vw;
                    @media screen and (min-width: $responsive_mid-breakpoint ) {
                        padding: 2rem 0 0;
                    }
                }
                .description {
                    margin: 0;
                    font-style: normal;
                }
                .button-wrapper {
                    display: block;
                    @include clearfix-std;
                    a.button.venue {
                        display: block;
                        letter-spacing: 0.15vw;
                        font-weight: 300;
                        margin: 0;
                        @include responsive-font(0.825vw, 12px, 20px);
                        padding: 1rem;
                        width: 100%;
                        &:first-of-type {
                            margin-bottom: 1rem !important;
                        }
                        &.disabled {
                            @include linear-gradient($color__core_darkblue, $color__core_blue);
                            pointer-events: none;
                        }
                        @media screen and (min-width: $responsive_mid-breakpoint ) {
                            padding: 1.125vw 1.5vw 1vw;
                        }
                    }
                    a.button.exhibitor-link {
                        display: block;
                        letter-spacing: 0.15vw;
                        font-weight: 300;
                        margin: 0;
                        width: 100% !important;
                        @include responsive-font(0.825vw, 12px, 20px);
                        padding: 1rem;
                        @media screen and (min-width: $responsive_mid-breakpoint ) {
                            padding: 1.125vw 1.5vw 1vw;
                        }
                    }
                }
            }
        }
    }
}
