#policy {
    h1 {
        padding: 6vw;
        @include responsive-font(4vw, 18px, 42px);
        line-height: 1;
        margin: 3vw 0 0;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 0.25vw;
        font-weight: 100;
        @include linear-gradient($color__core_darkblue, $color__core_blue);
        color: $color__core_white;
    	position: relative;
        text-align: center;
        left: 0;
        top: 0;
    }
    article {
        padding: 5vw;
    }
    h5 {
        margin: 2.5vw 0 0.5vw;
    }
    ol, ul, li > ul, li > ol {
        margin: 0;
        padding: 0 0 0 5vw;
    }
}
.faq-questions {
 span.questionmark {
     font-family: sans-serif !important;
     font-weight: 500;
 }
}
span.questionmark {
    font-family: sans-serif !important;
    font-weight: 700;
    margin-left: 0.01rem;
}
.gform_body {
    ul {
        padding: 0 !important;
    }
}
