.search-entry {
    .search-bg {
        display: block;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba($color__core_white, 0.9) !important;
    }
    form.search-form {
        height: 100%;
    }
    input.search-field {
        margin: 0 auto;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        position: relative;
        background: transparent;

        @include responsive-font(4vw, 28px, 80px);
        padding: 1.5vw 0 0.5vw;
        line-height: 1.5;
        margin: 0;
        text-transform: uppercase;
        letter-spacing: 0.125vw;
        font-weight: 100;
        color: $color__core_grey;
        text-transform: none;

        &:focus {
            border: 0;
            outline: 0;
            box-shadow: none;
            background: transparent !important;
        }
    }
    ::-webkit-input-placeholder {
       color: $color__core_grey;
    }

    :-moz-placeholder { // Firefox 18-
       color: $color__core_grey;
    }

    ::-moz-placeholder {  // Firefox 19+
       color: $color__core_grey;
    }

    :-ms-input-placeholder {
       color: $color__core_grey;
    }
    input.search-submit {
        display: none;
    }
}

#search-results {
    header.page-header {
        padding: 5vw 0 2vw 0;
        h2 {
            text-align: center;
            font-weight: 300;
            letter-spacing: 0.25vw;
            span {
                font-weight: 700;
            }
            &:after {
                content: '';
                display: block;
                position: relative;
                bottom: 0;
                width: 10%;
                margin: 3vw 45%;
                height: 0.125vw;
                min-height: 1px;
                @include linear-gradient($color__core_blue, $color__core_pink);
            }
        }
    }
    section.search-items {
        padding: 0 5vw 5vw;
        article {
            vertical-align: top;
            width: 100%;
        }
    }
    .entry-header {
        @include span(2 of 12);
        padding: span(1) + gutter();
        background-position: center;
        transform: scale(1);
        transition: transform 0.5s ease 0.05s, box-shadow 0.25s ease-in-out;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        a.search-image {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &:hover {
            transform: scale(1.025);
            box-shadow: 0.25vw 0.25vw 1vw rgba(0, 0, 0, 0.125);
        }
    }
    .entry-summary {
        @include span(9 of 12);
        @include last;
        padding-right: 10vw;
        margin-top: 0;
        h3.entry-title {
            @include responsive-font(1.25vw, 14px, 24px);
            padding: 0 0 1vw;
            letter-spacing: 0.14vw;
            font-weight: 500;
        }
        h4.posted-on {
            display: inline;
            margin-right: 1vw;
            font-weight: 300;
        }
        .entry-meta {
            padding: 1vw 0 0 0;
            &:before {
                content: '';
                display: block;
                position: relative;
                bottom: 0;
                width: 5%;
                margin: 0.5vw 0% 1.25vw;
                height: 0.125vw;
                min-height: 1px;
                @include linear-gradient($color__core_blue, $color__core_pink);
            }
        }
    }
}
span.comments-link {
    display: none;
}
@media screen and (min-width: $responsive_min-breakpoint ) {
    #search-results {
        header.page-header {
            padding: 5vw 0 2vw 0;
            h2 {
                text-align: center;
                font-weight: 300;
                letter-spacing: 0.25vw;
                span {
                    font-weight: 700;
                }
            }
        }
        section.search-items {
            padding: 0 5vw 5vw;
        }
        .entry-header {
            @include span(2 of 12);
            padding: span(1) + gutter();;
            h2 {
                text-align: center;
            }
        }
        .entry-summary {
            @include span(9 of 12);
            @include last;
            padding-right: 5vw;
        }
    }
    .search-items   {
        display: table-cell;
        .featured-item {
            @include span(6 of 12);
            display: inline-block;
            vertical-align: top;
            float: none;
            @include clearfix-after();
            div {
                height: 26.5vw;
                max-height: 27rem;
                transition: box-shadow 0.5s;
                transition-delay: 0.25s;
                &:hover, &:focus {
                    //box-shadow: 1vw 0.5vw 2vw rgba(0,0,0,0.25);
                    //box-shadow: inset 0.5vw 0vw 3vw rgba(100,100,100,0.5);
                    //box-shadow: inset 0.25vw -0.25vw 1vw rgba(0,0,0,0.075);
                    box-shadow: 1vw 0.5vw 2vw rgba(0,0,0,0.25);
                    box-shadow: inset 0.5vw 0vw 3vw rgba(0,0,0,0.5);
                }
            }
            h3 {
                padding: 3vw 0 2vw;
            }
            &.last {
                margin-right: 0;
            }
            article {
                padding: 0 0 5vw;
            }
        }
        .spotlight-item {
            display: inline-block;
            vertical-align: top;
            float: none;
            @include clearfix-after();
            article {
                width: 100%;
                margin: 0;
                padding: 0 25% 5vw;
                text-align: center;
            }
            h3 {
                width: 100%;
                margin: 0;
                padding: 3vw 25% 2vw;
                text-align: center;
            }
            div {
                height: 40vw;
                transition: box-shadow 0.5s;
                transition-delay: 0.25s;
                &:hover, &:focus {
                    box-shadow: 1vw 0.5vw 2vw rgba(0,0,0,0.25);
                    box-shadow: inset 0.5vw 0vw 3vw rgba(0,0,0,0.5);
                }
            }
        }
    }
}

@media screen and (min-width: $responsive_max-breakpoint ) {
    .search-items  {
        padding: gutter() 0 1vw 0;
    }
}
