body.single-show {
    .site #content>div {
        max-width: none;
    }
}

.page#show {
    .container {
        main.attend-main {
            @include clearfix-std;
            position: relative;
            width: 100%;
            padding: 0;
        }
    }
    header.title {
        padding: 8vw 8vw;
        background-size: cover;
        background-position: center;
        h2 {
            @include responsive-font(4vw, 36px, 90px);
            position: relative;
            font-family: $font__swash;
            font-style: italic;
            padding: 0;
            color: $color__core_white;
            text-transform: capitalize;
            letter-spacing: 0;
            &:after {
                content: none;
            }
        }
        h3 {
            @include responsive-font(2vw, 18px, 36px);
            padding: 1rem 0 0;
            text-transform: none;
            color: $color__core_white;
            font-weight: 500;
            letter-spacing: 0.025vw;
            &:nth-of-type(1) {
                padding: 3rem 0 0;
            }
        }
        h4 {
            @include responsive-font(1vw, 14px, 28px);
            padding: 1rem 0 0;
            text-transform: none;
            color: $color__core_white;
            font-weight: 500;
            letter-spacing: 0.025vw;
        }
        a.back-link {
            display: block;
            color: $color__core_white;
            @include responsive-font(0.875vw, 10px, 16px);
            margin-top: 1rem;
            opacity: 0.5;
            transition: opacity 0.5s ease-in-out;
            text-transform: capitalize;
            &:hover {
                opacity: 1;
            }
        }
    }
    section.show-list {
        padding: 0; //8vw 0 0
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-size: cover;
        background-position: center;
        padding: 5%;
        @include clearfix-std;
        .show {
            background-color: $color__core_lightgrey;
            box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
            margin-bottom: 5%;
            overflow: hidden;
            &:hover {
                .show-image:not(.placeholder) {
                    transform: scale(1.05);
                }
            }
            @media screen and (min-width: $responsive_min-breakpoint ) {
                @include span(6 of 12);
                &:nth-of-type(2n) {
                    @include last;
                }
            }
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                @include span(4 of 12);
                &:nth-of-type(2n) {
                    @include span(4 of 12);
                }
                &:nth-of-type(3n) {
                    @include last;
                }
            }
            .show-image {
                position: relative;
                z-index: 2;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                transform-origin: bottom;
                transition: transform 2.5s ease-in-out;
                &.placeholder {
                    background: #8ea2c8; /* Old browsers */
                    background: -moz-linear-gradient(45deg, #8ea2c8 0%, #fdfdfe 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(45deg, #8ea2c8 0%,#fdfdfe 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(45deg, #8ea2c8 0%,#fdfdfe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ea2c8', endColorstr='#fdfdfe',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
                }
            }
            .detail-wrapper {
                padding: 0 2rem 2rem;
                @media screen and (min-width: $responsive_mid-breakpoint ) {
                    padding: 0 10% 2.25vw;
                }
                .location-name {
                    @include responsive-font(2vw, 18px, 36px);
                    padding: 1rem 0 0;
                    text-transform: none;
                    color: $color__core_black;
                    font-weight: 500;
                    letter-spacing: 0.025vw;
                }
                .description {
                    margin: 0;
                    font-style: normal;
                }
                .button-wrapper {
                    display: block;
                    @include clearfix-std;
                    a.button.venue {
                        display: block;
                        letter-spacing: 0.15vw;
                        font-weight: 300;
                        margin: 0;
                        @include responsive-font(0.825vw, 12px, 20px);
                        padding: 1rem;
                        width: 100%;
                        &:first-of-type {
                            margin-bottom: 1rem !important;
                        }
                        &.disabled {
                            @include linear-gradient($color__core_darkblue, $color__core_blue);
                            pointer-events: none;
                        }
                        @media screen and (min-width: $responsive_mid-breakpoint ) {
                            padding: 1.125vw 1.5vw 1vw;
                        }
                    }
                    a.button.exhibitor-link {
                        display: block;
                        letter-spacing: 0.15vw;
                        font-weight: 300;
                        margin: 0;
                        width: 100% !important;
                        @include responsive-font(0.825vw, 12px, 20px);
                        padding: 1rem;
                        @media screen and (min-width: $responsive_mid-breakpoint ) {
                            padding: 1.125vw 1.5vw 1vw;
                        }
                    }
                }
            }
        }
    }
    section.exhibitors {
        display: block;
        border-top: solid 2px $color__core_grey;
        padding: 2.5vw 5vw;
        margin: 2.5vw auto 0;
        max-width: 1600px;
        .brands-wrapper {
            padding: 2.5vw 5vw;
        }
        h4 {
            @include responsive-font(3vw, 24px, 48px);
            text-align: center;
            font-weight: 300;
            text-transform: capitalize;
            letter-spacing:  0;

        }
        article.description {
            @include responsive-font(2vw, 16px, 28px);
            text-align: center;
            font-weight: 300;
            color: $color__core_blue;
            padding: 2rem 2rem;
            margin-bottom: 1.5vw;
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                padding: 2vw 10vw;
            }
        }
        .button-wrapper {
            text-align: center;
        }
        .button {
            display: inline-block;
            letter-spacing: 0.15vw;
            font-weight: 300;
            margin: 0;
            text-align: center;
            width: auto;
            letter-spacing: 1px;
            @include responsive-font(0.825vw, 10px, 20px);
            padding: 1rem;
            @media screen and (min-width: $responsive_mid-breakpoint ) {
                padding: 0.875vw 1.25vw 0.75vw;
            }
            @include linear-gradient($color__core_darkblue, $color__core_blue);
            color: $color__core_white;
            text-transform: uppercase;
            box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
            &:hover, &:active, &:focus {
                @include linear-gradient($color__core_darkblue, $color__core_blue);
            }
        }
    }
    section.headline {
        @include responsive-font(2.5vw, 20px, 40px);
        text-align: center;
        font-weight: 300;
        color: $color__core_blue;
        padding: 3rem 2rem;
        margin: 0 auto;
        max-width: 1600px;
        border-bottom: solid 2px $color__core_grey;
        @media screen and (min-width: $responsive_mid-breakpoint ) {
            padding: 5vw 20vw;
            margin: 1.5vw auto;
        }
    }
    section#footer-videos {
        max-width: 1600px;
    }
    section.day-list {
        @include clearfix-std;
        padding: 2rem 10%;
        .day {
            @media screen and (min-width: $responsive_min-breakpoint ) {
                @include span(6 of 12);
                &:nth-of-type(2n) {
                    @include last;
                }
            }
            h3 {
                @include responsive-font(3vw, 24px, 48px);
                text-align: center;
                font-weight: 300;
                text-transform: capitalize;
                letter-spacing:  0;
                padding: 0;
                line-height: 2;
            }
            h4.date, .day-description {
                @include responsive-font(1vw, 16px, 24px);
                text-align: center;
                font-weight: 300;
                color: $color__soft_headline;
                text-transform: capitalize;
                letter-spacing: 0;
                margin: 0;
                padding: 0;
                display: block;
            }
            h4.times, .day-title {
                display: block;
                @include responsive-font(2vw, 20px, 36px);
                text-align: center;
                font-weight: 300;
                color: $color__soft_headline;
                text-transform: capitalize;
                letter-spacing: 0;
                margin: 0;
                padding: 0;
            }
            span.day-count {
                text-align: center;
                display: block;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: $color__core_blue;
                font-weight: 500;
            }
            img.day-image {
                margin: 2rem 0;
            }
        }
    }
}
