.page#sponsors {
    .sponsor-title-fragment { display: inline-block; }
    .container > h1 { display: none; }
    header.title {
        h1 {
            width: 100%;
            @include responsive-font(6.5vw, 36px, 148px);
            text-align: center;
            color: $color__core_blue;
            font-weight: 300;
            letter-spacing: 0.5vw;
            @media screen and (min-width: $responsive_min-breakpoint ) {
                font-weight: 100;
            }
        }
        p, li, article {
            @include responsive-font(1.25vw, 18px, 18px);
            letter-spacing: 0.025vw;
            line-height: 1.6;
            color: $color__core_grey;
            margin: 4vmax auto 2vmax;
            width: 100%;
            @media screen and (min-width: $responsive_min-breakpoint ) {
                width: 70%;
            }
        }
        @media screen and (min-width: $responsive_min-breakpoint ) {
            padding: 8vw 8vw 4vw;
        }
    }
    .gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
        width: 100%;
    }
}
