//@import "cs-select.scss";
//@import "cs-skin-slide.scss";

label {
    margin: 1vw 0;
}
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
textarea {
    resize: none;
}
input, textarea, input[type=text], input[type=email], input[type=password], input[type=tel], .bs-dropdown {
    margin: 1vw 0;
    padding: 0.5vw 1vw;
    text-indent: 0;
    border: 0;
    border-radius: 0;
    background-color: rgba($color__core_lightgrey, 1);
    color: $color__core_black;
    letter-spacing: 0.01em;
    line-height: 2em;
    font-size: 0.9em;
    box-shadow: none;
    transition: background 0.5s, box-shadow 0.5s;
    &:focus, &:active {
        border: 0;
        outline: 0;
        box-shadow: inset 2px 3px 7px rgba(0, 0, 0, 0.2);
        //box-shadow: inset 0 2px 2px rgba(0,0,0,0.075) !important;
        background: rgba($color__core_lightgrey, 1) !important;
    }
}
/*
input[type="submit"], input.submit {
    height: 4vw;
    font-size: 1vw !important;
    padding: 0.25vw 1vw !important;
    margin: 1vw 0;
    font-weight: 600;
    line-height: 1.5vw;
    border: solid $font__default_underline $color__core_blue !important;
    color: $color__core_blue !important;
    padding: 0.25vw !important;
    line-height: 1vw !important;
    background-color: transparent !important;
}
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition-delay: 9999s;
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out, box-shadow 0.5s ease-out;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: $color__core_darkpurple;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: $color__core_darkpurple;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: $color__core_darkpurple;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: $color__core_darkpurple;
}
h5.error {
    color: rgb(253, 105, 81);
    border-bottom-color: rgb(253, 105, 81);
}
span.error {
    font-size: smaller;
    color: rgb(253, 105, 81);
    margin: 0;
    display: block;
}
.form-failure {
    @include prefix(2 of 12);
    padding: 3vw 5vw 2vw !important;
    background-color: rgb(253, 105, 81);
    color: white;
    text-align: center;
    h4 {
        color: white;
        padding: 0;
        text-align: center;
    }
}
input#validation {
    pointer-events: none;
    background: transparent !important;
    height: 1px;
    width: 1px;
    padding: 0 !important;
    margin: 0 !important;
}
/*
input[type=text], input[type=email], input[type=password] {
    margin: 1vw 0;
    padding: 0.5vw 1vw;
    text-indent: 0;
}
*/

#bs-radius {
    display:inline;
}
.bs-dropdown {
    position: relative;
    width: 100%;
    border: 0;
    cursor: pointer;
    //background-color: #fff;
    border-radius: 0;
    height: 2.87em;
    user-select: none;
    margin-right: 0;
    z-index: 2;
    margin: 1vw 0;
    padding: 0.125vw 0;
    overflow: hidden;
    transition: height 0.3s, background 0.3s, box-shadow 0.3s;
}
.bs-dropdown ul {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

.bs-dropdown .bs-selected-item,
.bs-dropdown li {
    position: relative;
    display: block;
    line-height: normal;
    color: #999;
    overflow: hidden;
}

#bs-radius .bs-dropdown .bs-selected-item,
#bs-radius .bs-dropdown li,
#bs-results .bs-dropdown .bs-selected-item,
#bs-results .bs-dropdown li {
    white-space: nowrap;
    transition: color 0.3s;
}

.bs-selected-item:after {
    position: absolute;
    content: "";
    right: 1.25vw;
    top: 50%;
    margin-top: -0.5vw;
    border: 0.5vw solid transparent;
    border-top: 0.5vw solid black;
}

.bs-active .bs-selected-item:after {
    margin-top: -0.75vw;
    border: 0.5vw solid transparent;
    border-bottom: 0.5vw solid black;
}
.bs-active {
    border: 0;
    outline: 0;
    box-shadow: inset 2px 3px 7px rgba(0, 0, 0, 0.2);
    //box-shadow: inset 0 2px 2px rgba(0,0,0,0.075) !important;
    background: rgba($color__core_grey, 1) !important;
//    height: auto !important;
}
.bs-dropdown li:hover {
    color: black;
}

.bs-dropdown .bs-selected-item,
.bs-dropdown li,
.bs-selected-item {
    list-style: none;
    padding: 0.5vw 1vw 0.5vw;
    margin: 0;
    line-height: 2em;
}

.bs-select-list {
    float: none;
    margin: 0;
    top: 100%;
    //border-top: 1px solid #eee;
    border-radius: 0;
    opacity: 1;
    overflow: hidden;
    transition: all 150ms ease-in-out;
}
.bs-select-list.invisible, .bs-select-list.invisible ul {
    opacity: 0;
    pointer-events: none;
    * {
        pointer-events: none;
    }
}
li.bs-selected-dropdown {
    color: black;
}
.bs-active span.bs-selected-item {
    color: transparent;
}
.dummy-select {
    display: none;
}
.non-default {
    color: black !important;
}
.bs-active .non-default {
    color: transparent !important;
}
span.disabled {
    pointer-events: none;
    * {
        pointer-events: none;
    }
}

.form-description-visible {
    .gfield_description {
        display: block !important;
    }
}

li.accept-terms {
    label.gfield_label {
        display: none !important;
    }
    ul {
        padding-left: 0 !important;
    }
}

.head-about-ibe {
    padding-bottom: 1.5vw;
}

/*
@media screen and (max-width: $responsive_min-breakpoint ) {
    input, textarea {
//        line-height: 3em;
//        font-size: 0.9em !important;
//        padding: 0.25rem 0.5rem;
    }
    input[type="submit"], input.submit {
        height: 3rem;
        margin: 0;
        font-weight: 600;
        border: solid 0.15rem #1800BF !important;
        color: #1800BF !important;
        padding: 0 !important;
        line-height: 3rem !important;
        background-color: transparent !important;
    }
    .bs-dropdown {
        padding: 0.5rem;
        height: 3rem;
    }
    .bs-select-list ul {
        margin-top: -2rem !important;
    }
    .bs-dropdown .group-list li {
        margin-left: 1rem;
    }
    .bs-dropdown li {
        list-style: none;
        padding: 0.5rem 1rem 0.5rem;
        margin: 0;
        line-height: 2em;
    }
    .bs-selected-item:after {
        position: absolute;
        content: "";
        right: 1rem;
        top: 50%;
        margin-top: -0.15rem;
        border: 0.35rem solid transparent;
        border-top: 0.35rem solid black;
    }
    .bs-active .bs-selected-item:after {
        margin-top: -0.15rem;
        border: 0.35rem solid transparent;
        border-bottom: 0.35rem solid black;
    }
}
*/

form.post-password-form {
    text-align: center;
}
