.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

// Default Background for posts without a featured image
.post-bg {
	background: $color__core_lightblue;
	background: -moz-linear-gradient(left, $color__core_lightblue 0%, $color__core_lightpink 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, $color__core_lightblue), color-stop(100%, $color__core_lightpink));
	background: -webkit-linear-gradient(left, $color__core_lightblue 0%, $color__core_lightpink 100%);
	background: -o-linear-gradient(left, $color__core_lightblue 0%, $color__core_lightpink 100%);
	background: -ms-linear-gradient(left, $color__core_lightblue 0%, $color__core_lightpink 100%);
	background: linear-gradient(to right, $color__core_lightblue 0%, $color__core_lightpink 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bad3ee', endColorstr='#eacce2', GradientType=1 );
}


header.youtube {
    display: block;
    background-size: cover;
    overflow: hidden;
    height: auto;
	margin-top: -4vw;
//    top: 4vw;
//    margin-bottom: 4vw;
	.init {
		opacity: 0;
	}
 	a.video-link {
	    height: 100%;
		width: 100%;
		display: block;
	    position: absolute;
	    z-index: 1;
		background-color: transparent;
	}
	.backdrop {
	    height: 100%;
		width: 100%;
		display: block;
	    position: absolute;
		background-color: transparent;
	}
    .video-container {
    	position:relative;
    	padding-bottom:56.25%;
        background-size: cover;
    	height:0;
    	overflow:hidden;
    }

    .video-container iframe, .video-container object, .video-container embed {
    	position:absolute;
    	top:0;
    	left:0;
    	width:100%;
    	height:105%;
    }
}
section.media.video{
	.video-container {
		padding-bottom:56.25% !important;
	}
}

.site.detached header.youtube {
    //margin-top: -4vw;
}

@media screen and ( max-width:  $responsive_min-breakpoint ) {
	header.youtube {
		height: calc(100vh - 20vw);
		.video-container {
			display: none;
		}
	}
}



section.youtube, section.media {
    display: block;
    background-size: cover;
    overflow: hidden;
    height: auto;
	padding: 0;
	position: relative;
	//margin: -1px;

 	a.video-link {
	    height: 100%;
		width: 100%;
		display: block;
	    position: absolute;
	    z-index: 1;
	}

    .video-container {
    	position:relative;
    	padding-bottom: 54.25%;
    	height:0;
    	overflow:hidden;
		background-size: cover;
    }

    .video-container iframe, .video-container object, .video-container embed {
    	position:absolute;
    	top:0;
    	left:0;
    	width:100%;
    	height:100%;
    }
}

.site.detached header.youtube {
    //margin-top: -4vw;
}

@media screen and ( min-width:  $responsive_min-breakpoint ) {
	section.youtube, section.media {
		.video-container {
			padding-bottom:56.25%;
		}
	}
	header.youtube {
		.backdrop {
			background-color: black;
		}
	}
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";

@import "flickity";
