@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Thin.woff2') format('woff2'),
         url('../fonts/AvenirNext-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-UltLtIt.woff2') format('woff2'),
         url('../fonts/AvenirNextLTPro-UltLtIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Regular.woff2') format('woff2'),
         url('../fonts/AvenirNext-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Italic.woff2') format('woff2'),
         url('../fonts/AvenirNext-Italic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Medium.woff2') format('woff2'),
         url('../fonts/AvenirNext-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-MediumItalic.woff2') format('woff2'),
         url('../fonts/AvenirNext-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
         url('../fonts/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-DemiIt.woff2') format('woff2'),
         url('../fonts/AvenirNextLTPro-DemiIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
         url('../fonts/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-BoldIt.woff2') format('woff2'),
         url('../fonts/AvenirNextLTPro-BoldIt.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-Heavy.woff2') format('woff2'),
         url('../fonts/AvenirNextLTPro-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNextLTPro-HeavyIt.woff2') format('woff2'),
         url('../fonts/AvenirNextLTPro-HeavyIt.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Didonesque Ghost';
    src: url('../fonts/DidonesqueGhostBoldItalic.woff2') format('woff2'),
         url('../fonts/AvenDidonesqueGhostBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}
