h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
	@include responsive-font(4vw, 36px, 48px);
    font-weight: 500;
	line-height: 1.3;
	margin: 0;
    text-transform: uppercase;
	letter-spacing: 0.1vw;
	color: $color__core_black;
}
h2 {
	@include responsive-font(3vw, 12px, 30px);
	font-weight: 700;
    line-height: 1.3;
	margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    color: $color__core_black;
}
h3 {
	@include responsive-font(1.5vw, 18px, 32px);
    padding: 1.5vw 0 0.5vw;
    line-height: 1.3;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.25vw;
    font-weight: 700;
    color: $color__core_black;
	position: relative;
}
h4 {
	@include responsive-font(1.2vw, 14px, 28px);
	line-height: 1.5;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    font-weight: 700;
    color: $color__core_black;
    padding: 2vw 0 0.5vw;
}
h5 {
	@include responsive-font(1.2vw, 14px, 28px);
	line-height: 1.5;
    color: $color__core_black;
    text-decoration: none;
    padding: 0;
    font-weight: 500;
    margin: 0 0 2vw 0;
    display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0.25vw;
}
h6 {
    @include responsive-font(1vw, 12px, 24px);
    color: $color__core_black;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: 0.2vw;
    font-weight: 500;
}
