@import "fonts";

// 1 rem
body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-style: normal;
	font-weight: 300;
	font-size: $font__small_size;
	line-height: $font__small_lineheight;
}

@media screen and (min-width: $responsive_min-breakpoint ) {
	body,
	button,
	input,
	select,
	textarea {
		font-size: $font__default_size;
		line-height: $font__default_lineheight;
	}
}

@media screen and (min-width: $responsive_max-breakpoint ) {
	body,
	button,
	input,
	select,
	textarea {
		font-size: $font__large_size;
		line-height: $font__large_lineheight;
	}
}

@import "headings";
@import "copy";
