header.carousel, header.video {
    //height: 72vmax !important;
    background-color: transparent;
    background-size: cover !important;
    padding: 0;
    position: relative;
    transition: margin 0.5s, height 0.3s ease-in-out;
    .flickity-viewport {
        //height: 100% !important;
        transition: height 0.3s ease-in-out;
        .carousel-cell {
            width: 100%;
            height: 100%;
            background-position: top;
            background-size: cover !important;
            margin: 0;
            padding: 0;
            position: relative;
            transition: margin 0.5s, height 0.25s;
            video {
                //display: none;
                min-width: 100%;
                margin-left: 0;
                left: 0;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
            .carousel-image {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                &.sm { display: block; }
                &.lg { display: none; }
            }
            a {
                width: 100%;
                height: 100%;
                top: 0;
                position: absolute;
                opacity: 1;
                background: transparent;
                display: block;
                text-decoration: none;
                transition: background 0.5s, opacity 0.5s;
                article {
                    display: block;
                    width: 100%;
                    height: 100%;
                    margin: 0 auto;
                    padding: 5vw 15vw 5vw 15vw;
                    height: 50%;
                    color: $color__core_black;
                    text-align: center;
                    @include vertical-align();
                    @include responsive-font(1.25vw, 12px, 48px);
                    p {
                        font-size: 1.5vw;
                        width: 40%;
                        margin: 3vh auto 0;
                        letter-spacing: 0.125vw;
                        @include responsive-font(1.25vw, 12px, 48px);
                    }
                }
            }
        }
        .is-selected video {
            //display: block;
        }
    }
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: 4vw;
    padding: 0 5vw;
    margin: 0;
    list-style: none;
    text-align: left;
    line-height: 1;
    .dot {
        display: inline-block;
        border-radius: 50%;
        border: solid 0.15rem $color__core_lightpink;
        filter: alpha(opacity=25);
        opacity: 1;
        cursor: pointer;
        &.is-selected {
            background: $color__core_lightpink;
        }
    }
}

iframe.carousel-video {
    max-width: none;
    max-height: none;
    width: 100vw;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}
/*
video {
    background-size: cover;
    width: auto;
    margin-left: -66%;
    left: -50%;
    position: absolute;
}
*/
.fixed-height {
    height: 72vmax !important;
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    header.carousel, header.video {
        //height: 40vw !important;
        //max-height: 40rem;
        //height: 72vmax !important;
        .flickity-viewport {
            .carousel-cell {
                .carousel-image {
                    &.sm { display: none; }
                    &.lg { display: block; }
                }
            }

        }
    }
    .fixed-height {
        height: 40vw !important;
    }
}


@media screen and (min-width: $responsive_max-breakpoint ) {
    header.carousel .flickity-viewport .carousel-cell video, header.video .flickity-viewport .carousel-cell video {
        top: 52%;
    }
    .video-cell {
        height: calc(100vh - 13vw);
        min-height: calc(100vh - 13vw);
    }
}

@media screen and (max-width: $responsive_min-breakpoint ) {
    header.carousel, header.video {
        //height: 40vw !important;
        //max-height: 40rem;
        //height: 72vmax !important;
        .flickity-viewport {
            .carousel-cell {
                video {
                    width: 100%;
                    left: 0;
                    top: 0;
                    transform: translateY(0%) translateX(0%);
                    min-height: 0 !important;
                    height: auto !important;
                }
            }

        }
    }

}


// /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SECTION CAROUSEL
// /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

section.carousel {
    background-color: transparent;
    background-size: cover !important;
    padding: 0;
    position: relative;
    transition: margin 0.5s, height 0.3s ease-in-out;
    width: 100%;
    .flickity-viewport {
        transition: height 0.3s ease-in-out;
        .carousel-cell {
            width: 100%;
            height: 100%;
            background-position: top;
            background-size: cover !important;
            margin: 0;
            padding: 0;
            position: relative;
            transition: margin 0.5s, height 0.25s;
            .carousel-image {
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center;
                &.sm { display: block; }
                &.lg { display: none; }
            }
            a {
                width: 100%;
                height: 100%;
                top: 0;
                position: absolute;
                opacity: 1;
                background: transparent;
                display: block;
                text-decoration: none;
                transition: background 0.5s, opacity 0.5s;
                article {
                    display: block;
                    height: 100%;
                    margin: 0 auto;
                    padding: 5vw 15vw 5vw 15vw;
                    height: auto;
                    color: $color__core_black;
                    text-align: center;
                    @include vertical-align();
                    @include responsive-font(1.25vw, 12px, 48px);
                    p {
                        font-size: 1.5vw;
                        width: 40%;
                        margin: 3vh auto 0;
                        letter-spacing: 0.125vw;
                        @include responsive-font(1.25vw, 12px, 48px);
                    }
                    &.quote {
                        main {
                            @include responsive-font(2vw, 18px, 36px);
                            letter-spacing: 0.05vw;
                            font-weight: 300;
                            color: $color__core_blue;
                            text-align: center !important;
                        }
                        aside {
                            color: white;
                            //@include responsive-font(1.75vw, 14px, 40px);
                            @include responsive-font(1.75vw, 16px, 28px);
                            letter-spacing: 0.035vw;
                            font-weight: 500;
                            margin: 4vw;
                            text-align: center !important;
                        }
                    }
                }
            }
        }
        .is-selected video {
            //display: block;
        }
    }
}

.quote {
    opacity: 0;
}
.flickity-enabled {
    .quote {
        opacity: 1;
    }
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: 4vw;
    padding: 0 5vw;
    margin: 0;
    list-style: none;
    text-align: left;
    line-height: 1;
    .dot {
        display: inline-block;
        border-radius: 50%;
        border: solid 0.15rem $color__core_lightpink;
        filter: alpha(opacity=25);
        opacity: 1;
        cursor: pointer;
        &.is-selected {
            background: $color__core_lightpink;
        }
    }
}

iframe.carousel-video {
    max-width: none;
    max-height: none;
    width: 100vw;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}
/*
video {
    background-size: cover;
    width: auto;
    margin-left: -66%;
    left: -50%;
    position: absolute;
}
*/
.fixed-height {
    height: 72vmax !important;
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    section.carousel {
        //height: 40vw !important;
        //max-height: 40rem;
        //height: 72vmax !important;
        .flickity-viewport {
            .carousel-cell {
                .carousel-image {
                    &.sm { display: none; }
                    &.lg { display: block; }
                }
            }

        }
    }
    .fixed-height {
        height: 40vw !important;
    }
    section.carousel .flickity-viewport .carousel-cell a article.quote aside {
        margin: 2vw 2vw 0;
    }
}


@media screen and (min-width: $responsive_max-breakpoint ) {
    header.carousel .flickity-viewport .carousel-cell video, header.video .flickity-viewport .carousel-cell video {
        top: 52%;
    }
    .video-cell {
        height: calc(100vh - 13vw);
        min-height: calc(100vh - 13vw);
    }
    .fixed-height {
        height: 33vw !important;
    }
}

@media screen and (max-width: $responsive_min-breakpoint ) {
    section.carousel {
        //height: 40vw !important;
        //max-height: 40rem;
        //height: 72vmax !important;
        .flickity-viewport {
            .carousel-cell {
                video {
                    width: 100%;
                    left: 0;
                    top: 0;
                    transform: translateY(0%) translateX(0%);
                    min-height: 0 !important;
                    height: auto !important;
                }
            }

        }
    }

}

// /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// FADE CAROUSEL
// /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.carousel.fade {
    .flickity-slider {
        //left: 0 !important;
        transform: translateX(0%) !important;
        .carousel-cell {
            opacity: 0 !important;
            left: 0 !important;
            transition: margin 0.5s, height 0.25s, opacity 1s;
            &.is-selected {
                opacity: 1 !important;
            }
        }

    }
}

// Hide carousel navigation if there is only one slide
.dot:first-child:nth-last-child(1) {
    display: none;
}
