.error404 {
    text-align: center;
    margin: 0 auto;
    header {
        padding-top: 6vmax;
    }
    input {
        margin: 0;
        padding: 0 2vmin;
        height: 5vmin;
        min-height: 2rem;
        min-width: 10rem;
        @include responsive-font(1.25vw, 10px, 14px);
        background-color: #eee !important;
        vertical-align: top;
        //border: solid 0.15vmax transparent !important;
        &:active, &:focus {
            background-color: #ddd !important;
        }
    }
    input[type='submit'] {
        height: 5vmin;
        width: 10vmin;
        min-height: 2rem;
        min-width: 2rem;
        padding: 0;
        @include responsive-font(1.25vw, 9px, 14px);
        border: solid 0.15vmax #697abb !important;
        color: #697abb !important;
        background-color: white !important;
        vertical-align: top;
        &:hover, &:focus {
            background-color: white !important;
        }
    }
    /*
    main {
        position:fixed;
        left:0;top:0;right:0;bottom:0;
        overflow: visible;
        z-index:-1;
    }
    #bg {
        position:absolute;
        left:0;top:0;width:200vmax;height:200vmax;
        padding:0;margin:0;
        border-radius: 50%;
        background: linear-gradient(45deg, #0d8ece, #cc64a6);
        animation: spin 5s linear infinite;
        -moz-animation: spin 5s linear infinite;
        -webkit-animation: spin 5s linear infinite;
        -ms-animation: spin 5s linear infinite;
    }

    @keyframes spin {
        from { transform: scale3d(2,2,1) rotateZ(0deg);  }
        to { transform: scale3d(2,2,1) rotateZ(360deg); }
    }
    @-moz-keyframes spin {
        from { -moz-transform: scale3d(2,2,1) rotateZ(0deg); }
        to { -moz-transform: scale3d(2,2,1) rotateZ(360deg); }
    }
    @-webkit-keyframes spin {
        from { -webkit-transform: scale3d(2,2,1) rotateZ(0deg); }
        to { -webkit-transform: scale3d(2,2,1) rotateZ(360deg); }
    }
    @-ms-keyframes spin {
        from { -ms-transform: scale3d(2,2,1) rotateZ(0deg); }
        to { -ms-transform: scale3d(2,2,1) rotateZ(360deg); }
    }
*/
}
