
@mixin modal-box($vmin) {
	.modal-popup {
		transition: opacity 0.5s ease-in-out;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		//@include linear-gradient( $color__core_blue, $color__core_pink, 0.7 );
		z-index: 9999;
		height: 100%;
		.modal-bg {
		    display: block;
		    position: fixed;
		    width: 100%;
		    height: 100%;
		    background: rgba($color__core_mediumgrey, 0.75);
		}
		.modal-popup-content{
			max-width: none;
			width: $vmin;
			height: $vmin * 1.5;
			@media screen and (min-width: $responsive_min-breakpoint ) {
				height: $vmin;
			}
			margin: 0 auto;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			background-color: $color__core_white;
			border: none;
			position: relative;
			padding: $vmin * 0.02;
			transition: transform 0.3s ease;
			transform-origin: center;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			top: 50%;
			min-width: 280px;
			min-height: 280px;
			.modal-popup-border{
				border: solid $vmin * 0.004 white;
				width: 100%;
				height: 100%;
				display: block;
			}
			.remove{
				display: inline-block;
				position: absolute;
				right: 4.5vmin;
				top: 3.5vmin;
				font-size: $vmin * 0.05;
				color: $color__core_darkpurple;
				cursor: pointer;
				z-index: 9999;
				mix-blend-mode: multiply;
			}
			.inner{
				max-width: none !important;
				margin: 0 auto;
				padding: $vmin * 0.1;
				position: relative;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				a {
					text-decoration: none;
					color: inherit;
					a {
						transition: opacity ease 0.3s;
						font-weight: 600;
						text-decoration: underline;
					}
				}
				h1 {
					color: white;
					font-size: $vmin * 0.06;
					letter-spacing: $vmin * 0.01;
					text-align: center;
					margin: ($vmin * 0.1) 0 ($vmin * 0.11);
				}
				p{
					text-transform: uppercase;
					line-height: $vmin * 0.06;
					text-align: center;
					//font-size: $vmin * 0.03;
					@include responsive-font(($vmin * 0.03), 14px, 48px );
					color: white;
					letter-spacing: $vmin * 0.0025;
					margin-bottom: $vmin * 0.05;
				    width: 90%;
					//min-width: 15rem;
				    margin: 3vmin auto;
					//@include responsive-font(1.25vw, 9px, 14px);
					font-size: 1.5vmin;
				    font-weight: 200;
				    line-height: 1.5;
				    letter-spacing: 0.1.5vmin;
					span {
						display: block;
					}
				}
				hr {
					margin: 3vmin;
				}
				input {
					margin: 0;
					padding: 0 1.5vmin;
					height: 5vmin;
					min-height: 2rem;
					//min-width: 10rem;
					//@include responsive-font(1.25vw, 10px, 14px);
					@include responsive-font(1.5vmin, 12px, 20px);
					background-color: #eee !important;
					vertical-align: middle;
					border: solid 0.15vmax transparent !important;
					&:active, &:focus {
						background-color: #ddd !important;
					}
				}
				input[type='submit'] {
					height: 5vmin;
				    width: 5vmin;
					min-height: 2rem;
					min-width: 2rem;
					padding: 0;
					//@include responsive-font(1.25vw, 9px, 14px);
					@include responsive-font(1.5vmin, 12px, 20px);
					border: solid 0.15vmax #697abb !important;
					color: #697abb !important;
					background-color: white !important;
					vertical-align: top;
					&:hover, &:focus {
						background-color: white !important;
					}
				}
			}
		}
	}
}
.modal-popup.invisible {
    opacity: 0;
    pointer-events: none;
    * {
        pointer-events: none;
    }
}
.modal-popup.subscribe-form, #loginform.modal-popup {
	.modal-popup-content {
		height: auto;
		h3 {
			text-align: center;
			padding: 1.5vmin;
		}
		form {
			& > div {
			    margin: 0.75vmin 0;
			}

			label {
			    height: 5vmin;
			    min-height: 2rem;
			    display: block;
			    margin: 0;
			    line-height: 5vmin;
				//@include responsive-font(1.25vw, 10px, 14px);
				font-size: 1.5vmin;
			}
			input {
				width: 100%;
				text-align: center;
				&[type=checkbox] {
					float: left;
					width: 10%;
					&:active, &:focus {
						color: inherit;
					    background-color: inherit !important;
					    box-shadow: none;
					}
				}
				&[type=submit] {
				    width: 100%;
				    background: transparent;
				    border: solid 0.25vmin $color__core_black;
				    text-transform: uppercase;
				    padding: 0;
				    margin: 0;
					transition: border 0.5s, background 0.75s ease-out, box-shadow 0.5s ease-in;
					&:hover, &:focus {
						border: solid 0.25vmin $color__core_pink;
					}
				}
			}
			.forgot-pass {
				font-size: smaller;
				color: $color__core_black;
				text-align: center;
				margin: 0 auto;
				width: 100%;
				display: block;
				padding: 1vmin 0;
			}
		}
		.sub-success {
			text-align: center;
			color: $color__core_black;
		}
		#wp-submit {
			margin: 1.5vmin 0 0;
		}
	}
}

@include modal-box(80vmin);

@media screen and (min-width: $responsive_min-breakpoint ) {
	@include modal-box(60vmin);
}

.newsletter-form {
	@media screen and (min-width: 600px) {
		.modal-popup-content {
		    height: 75vmin;
		}
	}
	h3 {
		padding: 1vw 0 1.5vw;
		@include responsive-font(1.5vw, 14px, 28px);
    	text-align: center;
	}
	input#mce-EMAIL {
		width: 80%;
	    border: 0 !important;
	    margin: 0 auto 1.5vw;
	    display: block;
	}
	ul {
		width: 80%;
	    margin: 0 auto;
	    padding: 0;
	    list-style: none;
	}
	strong {
		 @include responsive-font(1.5vw, 10px, 18px);
		 margin-bottom: 1rem;
 	 	 display: block;
		 text-align: center;
	}
	input[type="radio"], label {
	    margin: 0;
	    padding: 0 1.5vmin;
	    height: 3vmin !important;
	    line-height: 3vmin;
	    min-height: 2rem;
	    //min-width: 10rem;
		border: 0 !important;
	    @include responsive-font(1.5vw, 10px, 18px);
		font-weight: 200;
		&:focus {
			box-shadow: inset 0 0 0 rgba(0,0,0,0) !important;
			background: transparent !important;
		}
	}
	input#mc-embedded-newsletter {
	    width: 80%;
	    margin: 2rem auto 0;
		display: block;
	}
}

div#mce-error-response, div#mce-success-response {
    margin: 1rem 0 0;
    text-align: center;
	font-size: 0.825rem;
}
div#mce-error-response {
    color: #b11818;
}
div#mce-success-response {
    color: #009643;
}

.cc-message {
	a {
		color: rgb(119, 138, 190);
	}
}
.cc-banner.cc-theme-edgeless .cc-message {
    margin-left: 1em;
    font-family: "Avenir Next",sans-serif;
    font-style: normal;
    font-size: 0.875rem;
    line-height: 1.4;
    padding: 1rem;
}
