.text-header {
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10vw 0 5vw;
    text-align: center;
    article {
        width:80%;
        margin: 0 auto;
        padding: 2vw 0 4vw;
        text-align: center;
        @include responsive-font(1.25vw, 10px, 16px);
    }
}
.text-header.bi {
    display: block;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10vw 0 5vw;
    text-align: center;
    .bi-logo {
        @include svg-bg( '../images/', 'bi-logo' );
        background-size: contain;
        background-position: top left;
        height: 5vw;
        width: 30vw;
        min-height: 2rem;
        max-height: 4rem;
        max-width: 25rem;
        min-width: 15rem;
        display: block;
        position: relative;
        border-bottom: 0;
        margin: 0 auto;
        transition: transform 0.5s, opacity 0.5s, padding 0.5s;
        pointer-events: auto;
        transform-origin: center top;
    }
    .bi-logo:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        height: 0.125vw;
        min-height: 1px;
        @include linear-gradient($color__core_blue, $color__core_pink);
    }
    article {
        width: 60%;
        max-width: 20rem;
        min-width: 10rem;
        margin: 0 auto;
        padding: 2vw 0 0;
        text-align: center;
        @include responsive-font(1.25vw, 10px, 16px);
        line-height: 1.3;
        font-style: italic;
        font-weight: 200;
        color: $color__core_grey;
    }
}
