.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.instagram-pics {
	li {
		transition: 0.5s ease-in-out 0.125s;
		&:hover, &:focus, &:active {
			//box-shadow: 0.5vw 0vw 3vw rgba(0,0,0,0.125);
			box-shadow: 0.25vw 0.25vw 1vw rgba(0,0,0,0.125);
		}
	}
}

.social-sharing-bar {
    display: block;
    position: relative;
    @include span(3 of 8);
    @include last;
    top: 0;
    p {
        display: none;
    }
    ul {
        display: block;
        margin: 0;
        padding: 0;
        float: right;
        li {
            width: 6vw;
            height: 6vw;
            position: relative;
            border-radius: 100%;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
            cursor: pointer;
            &:before {
                //color: $color__core_white;
                font-size: 3vw;
                width: 6vw;
                height: 6vw;
                margin: 1.5vw 0 0;
                text-align: center;
                display: block;
            }
            a {
                display: block;
                margin: 0;
                position: absolute;
                width: 2.25vw;
                height: 2.25vw;
                top: 0;
            }
            &:hover, &:focus {
                opacity: 0.7;
            }
        }
        .fa-facebook:before {
            color: $color__core_blue;
        }
        .fa-pinterest-p:before {
            color: $color__core_purple;
        }
        .fa-envelope:before {
            color: $color__core_pink;
        }
        li:nth-of-type(1) {
            //background-color: $color__core_blue;
            //background-color: $color__core_lightgrey;
        }
        li:nth-of-type(2) {
            //background-color: $color__core_purple;
            //background-color: $color__core_lightgrey;
        }
        li:nth-of-type(3) {
            //background-color: $color__core_pink;
            //background-color: $color__core_lightgrey;
        }
    }
}

.related-posts  {
    padding: 4vw 4vw 1vw 4vw;
    background-color: $color__core_white;
    float: left;
    &:before {
        content: '';
        display: block;
        position: relative;
        top: 0;
        width: 100%;
        margin: 0;
        height: 0.1vw;
        height: 1px;
        @include linear-gradient($color__core_blue, $color__core_pink);
    }
    &:after {
        @include clearfix();
    }
    h4 {
        margin: 0;
        padding: 3vw 0;
        font-weight: 400;
        text-align: left;
    }
    .related-post {
        @include span(12 of 12);
        display: inline-block;
        vertical-align: top;
        padding: 0;
        div {
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 52vw;
            display: block;
            padding: 0;
            margin: 0;
            position: relative;
        }
        a {
            text-decoration: none;
        }
        .ha {
            color: rgba($color__core_grey, 0.7);
            &:hover, &:focus {
                color: $color__core_pink;
            }
        }
        h3 {
            margin: 0;
            text-align: left;
            @include span(12 of 12);
            display: block;
            height: auto;
            padding: 3vw 0 5vw;
            vertical-align: top;
            font-weight: 700;
            letter-spacing: 0.175vw;
			@include responsive-font(1.5vw, 16px, 32px);
        }

    }
}
