$color__core_white: rgb(255,255,255);
$color__core_black: #666; //#5f5f5f; //#231f20;
$color__core_trueblack: #000000;
$color__core_grey: #a7abb7; //#7d818a;
$color__core_mediumgrey: #bbb;
$color__core_lightgrey: #f9f9f9; //f2f2f3
$color__core_headline: #666; //#5f5f5f;
$color__core_softgrey: #ddd;
$color__soft_headline: #808080; // #999

$color__core_blue: #778abe;
$color__core_pink: $color__core_blue;
$color__core_purple: $color__core_blue;
$color__core_darkblue: #3a5e9d; //#34558f;
$color__core_darkpurple: $color__core_blue;
$color__core_darkpink: $color__core_blue;


$color__core_lightpink: $color__core_blue;
$color__core_lightblue: $color__core_blue;
$color__core_lightpurple: $color__core_blue;

$color__background-body: $color__core_white;
$color__background-screen: $color__core_white;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $color__core_black;
$color__text-input: $color__core_black;
$color__text-input-focus: $color__core_black;
$color__link: $color__core_purple;
$color__link-visited: $color__core_black;
$color__link-hover: $color__core_pink;
$color__text-main: $color__core_black;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;


.color__white { color: $color__core_white !important; }
.color__grey { color: $color__core_grey !important; }
.color__white { color: $color__core_white !important; }
.color__black { color: $color__core_black !important; }
.color__pink { color: $color__core_pink !important; }
.color__purple { color: $color__core_purple !important; }
.color__blue { color: $color__core_blue !important; }
.color__lightpink { color: $color__core_lightpink !important; }
.color__lightpurple { color: $color__core_lightpurple !important; }
.color__lightblue { color: $color__core_lightblue !important; }
.color__lightgrey { color: $color__core_lightgrey !important; }
