$size__site_max: 1600px;
$size__site-main: 100%;
$size__site-sidebar: 25%;

$responsive_min-breakpoint: 600px;
$responsive_mid-breakpoint: 900px;
$responsive_max-breakpoint: 1600px;

//$menu__mobile-breakpoint: 700px;
//$menu__large-breakpoint: 1600px;
body { --breakpoint_min: $responsive_min-breakpoint; }

$susy: (
  columns: 12,  // The number of columns in your grid
  gutters: 1/2, // The size of a gutter in relation to a single column
);

.container {
    @include container(100%);
    @include show-grid(overlay);
    margin: 0 auto;
}
