$font__main: 'Avenir Next', sans-serif;
$font__swash: 'Didonesque Ghost';
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.4;
$font__line-height-pre: 1.6;

$font__small_size: 1.5vw;
$font__small_lineheight: 1.4;
$font__default_underline: 0.15vw;

$font__default_size: 1.125vw;
$font__default_lineheight: 1.4;
$font__default_underline: 0.15vw;

$font__large_size: 1vw;
$font__large_lineheight: 1.4;
$font__large_underline: 0.15vw;
