// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Clearfix
@mixin clearfix-full() {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

@mixin clearfix-std() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// SVG Backgrund with Fallback
@mixin svg-bg( $path, $filename ) {
	background: url( quote($path + $filename + '.png') ) no-repeat, none;
    background-image: url( quote($path + $filename + '.svg') );
}

@mixin linear-gradient($color1, $color2, $opacity: 1) {
	background: rgba($color1, $opacity);
	background: -moz-linear-gradient(left, rgba($color1, $opacity) 0%, rgba($color2, $opacity) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba($color1, $opacity)), color-stop(100%, rgba($color2, $opacity)));
	background: -webkit-linear-gradient(left, rgba($color1, $opacity) 0%, rgba($color2, $opacity) 100%);
	background: -o-linear-gradient(left, rgba($color1, $opacity) 0%, rgba($color2, $opacity) 100%);
	background: -ms-linear-gradient(left, rgba($color1, $opacity) 0%, rgba($color2, $opacity) 100%);
	background: linear-gradient(to right, rgba($color1, $opacity) 0%, rgba($color2, $opacity) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#{ie-hex-str($color1)}, endColorstr=#{ie-hex-str(rgba($color2, $opacity))}, GradientType=1 );
}

@mixin text-columns($cols) {
	-webkit-column-count: $cols;
	-moz-column-count: $cols;
	column-count: $cols;
	-webkit-column-gap: gutter();
	-moz-column-gap: gutter();
	column-gap: gutter();
}

@mixin responsive-font($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;

  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }

  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;

    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }

  @if $fallback {
    font-size: $fallback;
  }

  font-size: $responsive;
}
//fix the cell size. too much gutter being taken out

@mixin ca-columns($items, $columns) {
	$gutter: gutter() / 1%;
	$cellWidth: '100';
	@if $columns > 1 {
		$cellWidth: (100 / $columns) - $gutter; // + ( ( $gutter * $columns ) / ( $columns - 1) )
		$gutter: ($gutter * $columns ) / ( $columns - 1);
		$gutter: unquote( $gutter + '%' );
	}
	li:first-child:nth-last-child( #{$items} ),
	li:first-child:nth-last-child( #{$items} ) ~ li {
		width: unquote($cellWidth + '%');
		display: inline-block;
		@if $columns > 1 {
		  	margin-right: $gutter;
	    } @else {
			margin-right: 0;
		}
	}
	@if $columns > 1 {
		@for $i from 1 through 6 {
			li:first-child:nth-last-child(#{$items}) ~ li:nth-child(#{$i}n) {
				margin-right: $gutter;
			}
		}
		li:first-child:nth-last-child(#{$items}) ~ li:nth-child(#{$columns}n) {
	  		margin-right: 0;
	  	}
    }
}
