html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

@import "tables";

button {
	position: relative;
	padding: 4.75vw 4.5vw 4.5vw;
	margin: 5vw 0;
	outline: solid 0.1vmax white;
	outline-offset: -0.5vw;
	color: white;
	text-transform: uppercase;
	@include responsive-font(1.25vw, 16px, 28px);
	letter-spacing: 0.25vw;
	display: inline-block;
	line-height: 1.5;
	width: 80%;
	border: solid transparent 0;
	outline-color: transparent;
	transition: outline-color 0.25s, outline-offset 0.25s ease-in-out, box-shadow 0.25s ease-in-out, opacity 0.5s ease-in-out;
	box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
	@include linear-gradient($color__core_darkblue, $color__core_blue);
	&:hover {
		  outline: 0;
		  opacity: 0.75;

	}
	&:active {
		outline-color: white;
		outline-offset: -1.5vw;
		//box-shadow: inset 0.25vw 0.25vw 1.5vw -0.5vw $color__core_trueblack;
		box-shadow: 0 0 0 0 transparent;
	}
}

a.button {
	position: relative;
	padding: 4.75vw 4.5vw 4.5vw;
	margin: 5vw 0;
	outline: solid 1px transparent;
	outline-offset: -1.5vw;
	color: $color__core_white !important;
	text-transform: uppercase;
	@include responsive-font(1.25vw, 16px, 28px);
	letter-spacing: 0.25vw;
	display: inline-block;
	line-height: 1.5;
	width: 80%;
	border: solid transparent 0;
	outline-offset: 0;
	outline: solid 1px transparent;
	transition: outline-color 0.25s ease-in-out, outline-offset 0.25s ease-in-out, box-shadow 0.25s ease-in-out, opacity 0.5s ease-in-out;
	box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
	@include linear-gradient($color__core_darkblue, $color__core_blue);
	&:hover {
		  outline: 0;
		  opacity: 0.75;
	}
	&:active {
		outline-offset: -1.5vw;
		outline: solid 1px $color__core_white;
		box-shadow: 0 0 0 0 transparent;
	}
}

@media screen and (min-width: $responsive_min-breakpoint ) {
	a.button {
		padding: 1.25vw 1.5vw 1vw;
		margin: 1vw 0;
		outline-offset: -0.5vw;
		letter-spacing: 0.125vw;
		box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
		&:active {
			outline-offset: -0.5vw;
		}
	}
	button {
		padding: 1.25vw 1.5vw 1vw;
		margin: 1vw 0;
		outline-offset: 0;
		letter-spacing: 0.125vw;
		box-shadow: 0.25vw 0.25vw 1vw -0.5vw rgba(0,0,0,0.5);
		&:active {
			outline-offset: -0.5vw;
		}
	}
}
