footer#colophon {
    padding: 5vw 5vw 2vw 5vw;
    margin: 0;
    width: 100%;
    background-color: $color__core_lightgrey;
    .footer-logo {
        @include svg-bg( '../images/', 'logo' );
        background-size: contain;
        background-position: top center;
        height: 5vw;
        width: 20vw;
        min-height: 2rem;
        max-height: 4rem;
        max-width: 25rem;
        min-width: 10rem;
        display: inline-block;
        border-bottom: 0;
        margin: 0 auto 1vw;
        padding: 0;
        transition: transform 0.5s, opacity 0.5s, padding 0.5s;
        pointer-events: auto;
        transform-origin: center top;
    }
    .footer-social {
        position: relative;
        margin: 0 auto;
        text-align: center;
        width: 80%;
        p {
            width: 100%;
            margin: 1.35vw auto 2vw;
            @include responsive-font(0.8vw, 12px, 18px);
            text-transform: uppercase;
            font-weight: 300;
            line-height: 1.5;
            letter-spacing: 0.05vw;
            color: $color__core_darkblue;
        }
        .newsletter {
            width: 100%;
            margin: 0 auto;
        }
        .tagline {
            text-transform: none;
            letter-spacing: 0.025vw;
            font-weight: 100;
            @include responsive-font(1vw, 10px, 24px);
        }
        .mc-embedded-email {
            margin: 0;
            padding: 0;
            text-indent: 0;
            border: 0;
            border-radius: 0;
            background-color: transparent;
            color: inherit;
            box-shadow: none;
            width: 60%;
            text-align: center;
            font-weight: 300;
            font-style: italic;
            @include responsive-font(1.25vw, 12px, 24px);
            &:focus, &:active {
                border: 0;
                outline: 0;
                box-shadow: none;
                background: transparent !important;
            }
        }
        form:after {
            content: '';
            display: block;
            position: relative;
            bottom: 0;
            width: 60%;
            margin: 0 20%;
            height: 0.125vw;
            min-height: 1px;
            @include linear-gradient($color__core_blue, $color__core_pink);
        }
        .mc-embedded-subscribe { display: none; }
        .social-wrapper {
            margin: 3vw 0 0;
            padding: 0;
            .fa:before {
                color: $color__core_grey;
                @include responsive-font(1.5vw, 16px, 28px);
            }

            li {
                margin: 0 0.5vw;
                padding: 0;
                list-style: none;
                display: inline-block;
                position: relative;
                //@include responsive-font(1.125vw, 10px, 20px);
                &:before {
                //    @include responsive-font(1.125vw, 10px, 20px);
        		}
                a {
                    display: block;
                    margin: 0;
                    position: absolute;
                    width: 2vw;
                    height: 2vw;
                    top: 0;
                    span {
                        text-indent: -9999px;
                        width: auto;
                        position: absolute;
                    }
                }
            }
        }
    }
    .bottom-line {
        display: block;
        float: none;
        padding: 0 0 0.5vw 0;
        position: relative;
        .menu-footer-container {
            display: inline-block;
            float: none;
            text-align: center;
            list-style: none;
            @include responsive-font(1.125vw, 14px, 14px);
            font-style: normal;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.125vw;
            color: $color__core_darkpurple;
            width: 100%;
            display: block;
            ul {
                margin: 0;
                padding: 0 0 1.5vw 0;
                li {
                    display: inline-block;
                    margin-right: 1vw;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            a {
                @include responsive-font(1.125vw, 14px, 14px);
                font-style: normal;
                font-weight: 500;
                text-transform: uppercase;
                letter-spacing: 0.05vw;
                color: $color__core_darkpurple;
                margin: 0 1vw 0 0;
                &:last-child {
                    margin: 0;
                }
            }
        }
        .copyright {
            float: none;
            display: block;
            width: 100%;
            @include responsive-font(1.25vw, 10px, 12px);
            font-style: normal;
            font-weight: 300;
            letter-spacing: 0.025vw;
            color: $color__core_grey;
            padding: 0.5vw 0 0.75vw 0;
            text-align: center;
            span {
                //display: block;
            }
            a {
                @include responsive-font(1.25vw, 10px, 12px);
                font-style: normal;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 0.025vw;
                color: $color__core_grey;
                margin: 0;
                display: inline-block;
            }
        }
    }
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    footer#colophon {
        .footer-social {
            position: relative;
            margin: 0 auto;
            text-align: center;
            width: 100%;
            a {
                max-height: 2rem;
            }
            p {
                width: 33%;
            }
            .newsletter {
                width: 33%;
                margin: 0 auto;
            }
            .mc-embedded-email {
                margin: 0;
                padding: 0;
                text-indent: 0;
                border: 0;
                border-radius: 0;
                background-color: transparent;
                color: inherit;
                box-shadow: none;
                width: 60%;
                text-align: center;
                font-weight: 300;
                font-style: italic;
                @include responsive-font(1.25vw, 10px, 14px);
            }
        }
        .bottom-line {
            .copyright {
                text-align: left;
                float: none;
                text-align: center;
                margin: 0 auto;
                width: 100%;
                span {
                    display: inline-block;
                    @include responsive-font(1vw, 10px, 12px);
                }
                a {
                    @include responsive-font(1vw, 10px, 12px);
                    display: inline-block;
                    margin: 0 1vw 0 0;
                }
            }
            .menu-footer-container {
                float: none;
                text-align: center;
                width: 100%;
                @include responsive-font(1vw, 10px, 12px);
                a {
                    @include responsive-font(1vw, 10px, 12px);
                }
            }
        }
    }
}

@media screen and (min-width: $responsive_max-breakpoint ) {
    footer#colophon {
        padding: 3vw 5vw 0vw 5vw;
        //margin: 5vw 0 0;
        .footer-social {
            .tagline {
                margin-bottom: 0;
            }
        }
        .bottom-line {
            padding: 0vw 0 1.5vw 0;
        }
    }
}
