a {
	display: inline;
	color: $color__link;
	text-decoration: none;
	transition: color ease 0.5s, height ease 0.5s;
	&:visited {
		color: $color__link;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__core_purple;
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

nav a {
	display: block;
	color: $color__core_headline;
	text-decoration: none;
	transition: color ease 0.5s, text-shadow ease 0.5s 0.25s;
	@include responsive-font(0.75vw, 12px, 16px);
    font-weight: 500;
    line-height: 1.6;
	letter-spacing: 0.125vw;
	text-transform: uppercase;
	&:visited {
		color: $color__core_headline;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__core_purple;
		text-shadow: 0.25vw 0.25vw 0.25vw rgba($color__core_darkpurple ,0.25);
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
.menu-logo {
	border-bottom: none;
//	height: 100px;
	&:visited,
	&:hover,
	&:focus,
	&:active {
		border-bottom: none;
//		height: 100px;
	}
}
.current_page_item a, .current-menu-item a {
	//color: $color__link-hover !important;
//	border-bottom: solid $font__default_underline $color__link-hover;
}
div.accounts {
	li {
		@include responsive-font(1.125vw, 10px, 20px);
		a {
			font-weight: 300;
			font-family: $font__main !important;
			font-size: 1vw;
			border-bottom: solid $font__default_underline transparent;
			line-height: 1.75vw;
		}
		&:before {
			padding-right: 1.125vw;
		}
	}
	li:nth-of-type(1) {
		color: $color__core_blue;
	}
	li:nth-of-type(2) {
		color: $color__core_purple;
	}
	li:nth-of-type(3) {
		color: $color__core_purple;
	}
	li:nth-of-type(4) {
		color: $color__core_pink;
	}
	li:nth-of-type(5) {
		color: $color__core_purple;
	}
	li:nth-of-type(6) {
		color: $color__core_blue;
	}
}

footer a {
	height: 1.45vw;
	display: block;
	margin: 0 1vw;
	color: $color__link;
	text-decoration: none;
	border-bottom: none;
	font-weight: 300;
	transition: color ease 0.5s;
	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		border-bottom: none;

	}
}
a:link { -webkit-tap-highlight-color: rgba(0,0,0,0); }
