.fixed {
    position: fixed !important;
}

body {
    .site.detached {
        //margin-top: 9vw;
        .page header.carousel {
            //height: 70vh;
            margin: -7.5vw 0 0 0;
            h1 {
                //top: 16.5vw;
            }
        }
    }

    .site.detached #content > div { margin-top: 6vw; }

    .open-nav {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
    }

    .open-nav span:nth-child(1) {
    transform: translate(0px, 0.6rem);
    transition: transform .3s ease-in-out;
    }

    .open-nav span:nth-child(2) {
      transform: rotate(-90deg);
      transition: transform .3s ease-in-out;
    }

    .open-nav span:nth-child(3) {
    transform: translate(0px, -10px);
    opacity: 0;
    transition: transform .3s ease-in-out, opacity .3s ease-in-out;
    }

    .menu-button {
        cursor: pointer;
        top: 1.35rem;
        //right: 1.5rem;
        right: 4vw;
        display: block;
        font-size: 1vw;
        position: absolute;
        width: auto;
        z-index: 999;
    	transition: all .4s ease-in-out;
        pointer-events: none;
        opacity: 0;
    }
    .menu-button span {
        width: 1.5rem;
        height: 1px;
        margin-bottom: 0.5rem;
    	background: $color__core_grey;
    	display: block;
    	transition: all 0.8s ease-in-out;
        pointer-events: none;
        opacity: 0;
        outline: none;
    }


    /* when navigation is shown, donâ€™t allow scrolling of content */
    body.no_scroll {
      overflow: hidden;
      height: 100%;
    }

    /* Firefox fix for overflow: hidden. Scroll bar is hidden and moves everything to the right */
    @-moz-document url-prefix() {
      body.no_scroll {
      }

      body.no_scroll .expanded {
        background: rgba($color__core_white,1); /* because FF no blur, reduce bg transparency */
      }
    }

    /* === TOP MENU LAYOUT === */
    /* ======================= */

    & > nav{
      position: absolute;
      top: 0;
      width: 100%;
      height: 13vw;
      right: 0;
      z-index: 9999;
      cursor: pointer;
      overflow: hidden;
      transform: translate3d(0,0,0);
      transition: transform 0.5s 0s, background 0.5s 0s, box-shadow 0.25s 0s, height 0.5s 0s;
      background: $color__core_white;
      pointer-events: none;
      box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0);

    }
    & > nav* {
    	pointer-events: none;
    }
    #menu-wrapper *, .accounts *, .newsletter * {
        pointer-events: auto;
    }
    nav.expanded * {
    	pointer-events: auto;
    }

    /* on navigation hover add slight white bg */
    nav:hover {
    //  background: rgba(255,255,255,0.4);
    }

    .menu-logo {
        @include svg-bg( '../images/', 'logo' );
        background-size: contain;
        background-position: top left;
        height: 6vw;
        width: 15vw;
        display: inline-block;
        border-bottom: 0;
        margin: 0;
        max-width: 18rem;
        z-index: 9999;
        transition: transform 0.5s, opacity 0.5s, padding 0.5s;
        pointer-events: auto;
        transform-origin: center top;
        &:hover {
            opacity: 0.7;
        }
    }

    /* limits width of menu to site width */
    .menu-bar {
      margin: 0 auto;
      pointer-events: none;
      height: 100%;
      padding: 3.5vw 4vw 1vw 4vw;
      position: relative;
      top: 0;
      transition: transform 0.5s, opacity 0.5s, padding 0.5s, top 0.5s;
    }


    /* name of site in main menu (not user selectable) */
    .menu-bar > a {
     // user-select: none;
    }

    /* when hidden it goes up */
    nav.invisible {

      transform: translate(0,-7rem);
      //transition: transform .2s, opacity 0.5s;
      opacity: 0;
    }

    /* when shown & detached position is fixed */
    & > nav.detached {
        height: 13vw;
        min-height: 6rem;
        position: fixed;
        background: $color__core_white;
        box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.25);
        transform: translate3d(0,-8vw,0);
        transition: transform 0.5s 0.025s, background 0.5s 0.025s, box-shadow 0.25s 0.025s, height 0.5s 0s, translate3d 0.5s 0.025s;
        .menu-bar {
            padding: 2.5vw 4vw 0 4vw;
            top: 0;
            transform: translateY(1vw);
            .menu-logo {
                //width: 15vw;
                transform: scale(0.75);
            //    opacity: 0;
            //    top: -5vw;
                &:after {
                    opacity: 0;
                    transition: transform 0.5s, opacity 0.5s, padding 0.5s;
                }
            }
            a.button.buy-now {
                transform: translateY(5.625vw);
            }
            #menu-wrapper {
                margin: -0.125vw auto 0;
            }
            div.accounts, div.newsletter {
                opacity: 0;
            //    top: -5vw;
            }
            div.newsletter {
                transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out, height 0.5s ease-in-out, top 0.5s ease-in-out, margin 0.5s ease-in-out;
            }
            div.accounts.minimized {
                opacity: 1 !important;
                top: 0;
                width: 15vw;
                max-width: none;
                text-align: right;
                position: absolute;
                margin: 2.65vw 5vw;
                transition: opacity 0.5s;
                transition-delay: 0.5s;
                ul li {
                    display: inline;
                    span {
                        opacity: 0;
                        width: 0;
                        position: absolute;
                    }
                }
            }

        }
        div#menu-wrapper {
            width: 80%;
        }
    }

    nav.fixed {
      position: fixed;
       padding-top: 2.75rem;
      -webkit-transition: -webkit-transform 0.5s, background 0.5s, opacity 0.5s, padding-top 0.5s;
      -moz-transition: -moz-transform 0.5s, background 0.5s, opacity 0.5s, padding-top 0.5s;
      -o-transition: -o-transform 0.5s, background 0.5s, opacity 0.5s, padding-top 0.5s;
      transition: transform 0.5s, background 0.5s, opacity 0.5s, padding-top 0.5s;
    }


    /* === MENU NAVIGATION === */
    /* ======================= */

    /* increases menu width & height */
    nav.expanded {
      width: 100%;
      height: 100%;
      position: fixed;
      cursor: default;

    }

    .menu-background {
      width: 100%;
      height: 130%;
      position: fixed;
      cursor: default;
      //background: rgba($color__core_nude,0.98);
      z-index: 995;
      display: none;
      opacity: 0;
      top: 0;
    }
    .clear-background {
    	background: rgba($color__core_white,0) !important;
        transition: transform 0.5s, background 0s, opacity 0.5s, padding-top 0.5s !important;
    }

    /* shows navigation */
    nav.expanded #mobile-menu, nav.expanded #mobile-menu {
      -webkit-transition: opacity 1s, padding-top 0.25s;
      -moz-transition: opacity 1s, padding-top 0.25s;
      -o-transition: opacity 1s, padding-top 0.25s;
      transition: opacity 1s, padding-top 0.25s;
      opacity: 1;
    }


    /* === MENU NAVIGATION CONTENT === */
    /* =============================== */

    div#menu-wrapper {
        position: relative;
        width: 100%;
        float: none;
        display: inline-block;
        height: auto;
        vertical-align: top;
        margin: 0 auto;
        text-align: center;
        .menu-navigation-container {
            display: block;
            .fa {
                display: none;
            }
            ul > li:first-child {
                display: none;
            }
            ul {
                list-style: none;
                margin:0;
                padding:0;
                position: absolute;
                width: 100%;
                left: 0;
                right: 0;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                justify-content: space-between;
                -webkit-box-align: end;
                -webkit-align-items: flex-end;
                -ms-flex-align: end;
                align-items: flex-end;
            }
        }
    }
    div.accounts.minimized, div.accounts.minimized {
        opacity: 0;
        transition: 0s;
    //    top: -5vw;
    }
    div.accounts {
        position: absolute;
        float: none;
        display: inline-block;
        right: inherit;
        left: 0;
        width: auto;
        margin: 0;
        transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out, height 0.5s ease-in-out, top 0.5s ease-in-out, margin 0.5s ease-in-out;
        opacity: 1;
        top: 0;
        ul {
            padding: 0;
            margin: 0;
            li {
                    display: inline-block;
                a {
                    display: block;
                    margin: 0;
                    position: absolute;
                    width: 2vw;
                    height: 2vw;
                    top: 0;
                    span {
                        text-indent: -9999px;
                        width: auto;
                        position: absolute;
                    }
                }
            }
        }
    }

    div.accounts * { pointer-events: auto }
    div.accounts.minimized * { pointer-events: none }
    .detached div.accounts * { pointer-events: none }
    .detached div.accounts.minimized * { pointer-events: auto }
    /*
    #loginform {
        transition: opacity 0.5s ease-in-out;
        pointer-events: auto;
        opacity: 1;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 99999;
        #login-bg {
            width: 100%;
            height: 100%;
            background-color: rgba($color__core_purple, 0.9);
            //mix-blend-mode: multiply;
            //transform3d();
        }
        form {
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            margin: 0 auto;
            display: block;
            width: 30%;
            background: white;
            padding: 3vw;
            text-align: center;
            left: 0;
            right: 0;
            input {
                width: 100%;
            }
        }
        * {
            pointer-events: auto;
        }
    }
    */
    #loginform.invisible, .mc-response.invisible {
        opacity: 0;
        pointer-events: none;
        * {
            pointer-events: none;
        }
    }
    .mc-response {
        transition: opacity 0.5s ease-in-out;
        pointer-events: auto;
        opacity: 1;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 99999;
        .response-bg {
            width: 100%;
            height: 100%;
            background-color: rgba($color__core_purple, 0.9);
            //mix-blend-mode: multiply;
            transition: opacity 0.5s ease-in-out;
            transition-delay: 0.25s;
        }
        aside {
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            margin: 0 auto;
            display: block;
            width: 30%;
            background: white;
            padding: 3vw;
            text-align: center;
            left: 0;
            right: 0;
            z-index: 999;
        }
        * {
            pointer-events: auto;
        }
    }
    .masthead {
        width: 100%;
        display: block;
        position: relative;
        text-align: center;
        .newsletter {
            right: 0;
            display: block;
            position: absolute;
            top: -0.25vw;
            pointer-events: auto;
            transition: opacity 0.5s ease-in-out, color 0.5s ease-in-out, height 0.5s ease-in-out, top 0.5s ease-in-out, margin 0.5s ease-in-out;
            form, p {
                display: inline-block;
            }
            form:after {
                content: '';
                display: block;
                position: absolute;
                bottom: -0.15vw;
                width: 12vw;
                margin: 0;
                height: 0.085vw;
                min-height: 1px;
                @include linear-gradient($color__core_blue, $color__core_pink);
            }
            .mc-embedded-subscribe {
                display: none;
            }
            p {
                @include responsive-font(1vw, 8px, 12px);
                text-transform: uppercase;
                font-weight: 500;
                line-height: 1.5;
                font-weight: 300;
                color: $color__core_grey;
                letter-spacing: 0.05vw;
                margin: 0;
            }
            .mc-embedded-email {
                margin: 0;
                padding: 0;
                text-indent: 0;
                border: 0;
                border-radius: 0;
                background-color: transparent;
                color: $color__core_blue;
                box-shadow: none;
                width: 12vw;
                text-align: center;
                font-weight: 300;
                font-style: normal;
                letter-spacing: 0.025vw;
                text-transform: uppercase;
                @include responsive-font(1vw, 9px, 12px);
                &:focus, &:active {
                    border: 0;
                    outline: 0;
                    box-shadow: none;
                    background: transparent !important;
                }
                &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
                    color: $color__core_blue;
                    @include responsive-font(1.125vw, 8px, 12px);
                }
                &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                   color: $color__core_blue;
                   opacity: 1;
                   @include responsive-font(1.125vw, 8px, 12px);
                }
                &::-moz-placeholder { /* Mozilla Firefox 19+ */
                   color: $color__core_blue;
                   opacity: 1;
                   @include responsive-font(1.125vw, 8px, 12px);
                }
                &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                   color: $color__core_blue;
                   @include responsive-font(1.125vw, 8px, 12px);
                }
            }
        }
    }
}
.current-menu-item a {
    color: $color__core_blue !important;
}
#social-wrapper-mobile {
    display: none;
}

// Mobile menu
@media screen and (max-width: $responsive_min-breakpoint ) {
    body {
        & > nav{
            height: 4rem;
            min-height: 4rem;
            position: fixed;
            background: rgba($color__core_white ,0.98);
            //box-shadow: 0px 5px 40px 0 rgba(0, 0, 0, 0.125), 0px 2px 5px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0px 5px 40px 0 rgba(0, 0, 0, 0);
            transition: transform 0.5s, background 0.5s, opacity 0.5s, height 0.5s, padding-top ease 1.5s, box-shadow 0.5s;
            .site {
                margin: 7vh auto 0;
            }
            .menu-navigation-container {
                display: block;
                a {
                    color: $color__core_black !important;
                }
            }
            .menu-button, .menu-button * {
                opacity: 1;
                pointer-events: auto;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
            }
            .menu-bar {
                //padding: 2.45vw 5vw;
                //padding: 1.25rem 1.5rem;
                padding: 1.25rem 4vw;
                .menu-logo {
                    transform: scale(1);
                    width: 50%;
                    left: 0;
                    position: absolute;
                    margin: 0.3rem 0 0;
                    margin: 0.25rem 0 0;
                    max-height: 1.125rem;
                    &:after {
                        opacity: 0;
                        transition: transform 0.5s, opacity 0.5s, padding 0.5s;
                    }
                }
                div#menu-wrapper {
                    position: absolute;
                    width: 100%;
                    float: none;
                    height: 100vh;
                    vertical-align: middle;
                    margin: 0 auto;
                    text-align: center;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 99;
                    .fa {
                        display: inline !important;
                    }
                    ul {
                        opacity: 0;
                        transition: opacity 1.5s;
                        margin: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        position: absolute;

                        -webkit-box-pack: center;
                        -webkit-justify-content: center;
                        -ms-flex-pack: center;
                        justify-content: center;

                        -webkit-box-align: center;
                        -webkit-align-items: center;
                        -ms-flex-align: center;
                        align-items: center;

                        -webkit-box-orient: vertical;
                        -webkit-box-direction: normal;
                        -ms-flex-direction: column;
                        flex-direction: column;


                        top: 0;
                        li.social {
                            display: inline !important;
                            a {
                                display: inline !important;
                                font-size: 1.25rem;
                                line-height: 6rem;
                                padding: 0 0.5rem;
                            }
                        }
                        li {
                            display: block !important;
                            a {
                                height: auto;
                                font-size: 1.5rem;
                                line-height: 2.75rem;
                                letter-spacing: 0.01rem;
                                display: block;
                                //margin: 0;
                                color: black;
                                text-decoration: none;
                                border-bottom: none;
                                font-weight: 300;
                                -webkit-transition: color ease 0.5s, border-bottom ease 0.5s, height ease 0.5s;
                                transition: color ease 0.5s, border-bottom ease 0.5s, height ease 0.5s, font-size ease 0.1s, line-height ease 0.5s;
                            }
                        }
                        &#mobile-social-list {
                            opacity: 1;
                            height: 100%;
                            width: 100%;
                            position: relative;
                            justify-content: center;
                            align-items: center;
                            flex-direction: row;
                            z-index: 99999;
                            li {
                                font-size: 5vw;
                                margin: 6vw 4vw;
                                position: relative;
                                z-index: 99999;
                                a {
                                    width: 100%;
                                    height: 4vw;
                                    display: block;
                                    top: 0;
                                    position: absolute;
                                    z-index: 99999;
                                }
                            }
                        }
                    }
                }
                div.accounts, div.newsletter {
                    opacity: 0;
                //    top: -5vw;
                }
                div.accounts.minimized, div.newsletter.minimized {
                    opacity: 0;
                //    top: -5vw;
                }
            }
        }
        & > nav.detached {
            min-height: 4rem;
            transform: translateY(0);
            .menu-bar {
                transform: translateY(0);
                padding: 1.25rem 4vw;
                top: 0;
                .menu-logo {
                    transform: scale(1);
                    width: 50%;
                    left: 0;
                    position: absolute;
                    margin: 0.3rem 0 0;
                    max-height: 1rem;
                }
                #menu-wrapper {
                    opacity: 1;
                    //    margin: 0.125vw auto 0;
                }
                div.accounts, div.newsletter {
                //    display: none;
                }
                div.accounts.minimized {
                    display: none;
                }
            }
        }
        nav.expanded {
            background: rgba(255,255,255,1) !important;
            div#menu-wrapper {
                ul {
                    opacity: 1;
                }
            }
        }
    }
    #social-wrapper-mobile {
        display: block;
        li {
    		@include responsive-font(1.125vw, 10px, 20px);
    		a {
    			font-weight: 300;
    			font-family: $font__main !important;
    			font-size: 1vw;
    			border-bottom: solid $font__default_underline transparent;
    			line-height: 1.75vw;
                span {
                    display: none;
                }
    		}
    		&:before {
    			padding-right: 1.125vw;
    		}
    	}
        li:nth-of-type(1) {
    		color: $color__core_blue;
    	}
    	li:nth-of-type(2) {
    		color: $color__core_purple;
    	}
    	li:nth-of-type(3) {
    		color: $color__core_purple;
    	}
    	li:nth-of-type(4) {
    		color: $color__core_pink;
    	}
    	li:nth-of-type(5) {
    		color: $color__core_purple;
    	}
    	li:nth-of-type(6) {
    		color: $color__core_blue;
    	}
    }
}


@media screen and (max-width: 900px ) {
    body {
        .masthead {
            .newsletter {
                //display: none;
                opacity: 0;
                pointer-events: none;
            }
        }
    }
}

a.button.buy-now {
    @include responsive-font(0.75vw, 10px, 16px);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    letter-spacing: 0.15vw;
    font-weight: 300;
    padding: 0.875vw 1.25vw 0.75vw;
    width: 15%;
    min-width: 6rem;
    max-width: 12rem;
    transition: transform 0.5s ease-in-out, box-shadow 0.25s ease-in-out, opacity 0.5s ease-in-out;
    z-index: 9999;
    pointer-events: auto;
    @media screen and (max-width: ($responsive_min-breakpoint - 1) ) {
        top: -0.125rem;
        right: 3rem;
        padding: 0.5rem 0.5rem 0.35rem;
        transform: none !important;
    }
}
