.page#attend section.day-list .day-1 section.day-header article.description p:first-child {
    letter-spacing: 0.025vw;
}
form.post-password-form {
    text-align: center;
}

	div.accounts li:nth-of-type(1) {
		color: #777 !important;
	}
	div.accounts li:nth-of-type(2) {
		color: #777 !important;
	}
	div.accounts li:nth-of-type(3) {
		color: #777 !important;
	}
	div.accounts li:nth-of-type(4) {
		color: #777 !important;
	}
	div.accounts li:nth-of-type(5) {
		color: #777 !important;
	}
	div.accounts li:nth-of-type(6) {
		color: #777 !important;
	}
li.fa.fa-bi {
    font-size: 1.5vw;
}
.fa-bi:before {
    content: "" !important;
    background: url(../images/bi-logo-animated.png);
    background-image: url(../images/bi-logo-animated.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 1.25rem;
	padding-bottom: 0.125vw;
}
@media screen and (max-width: 600px) {
    #social-wrapper-mobile .fa-bi:before {
        padding-right: 5vw;
        font-size: 7vw;
    }
}
li.fa.fa-bx {
    font-size: 1.5vw;
}
.fa-bx:before {
    content: "" !important;
    background: url(../images/beautyxsummit.png);
    background-image: url(../images/beautyxsummit.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding-right: 1.25rem;
    padding-left: 0.55vw;
    margin-left: 0.5vw;
    padding-bottom: 0.125vw;
}
@media screen and (max-width: 600px) {
    #social-wrapper-mobile .fa-bx:before {
        padding-right: 5vw;
        font-size: 7vw;
    }
}


@media screen and (max-width: 600px) {
#social-wrapper-mobile li:nth-of-type(1) {
    color: #777;
}
#social-wrapper-mobile li:nth-of-type(2) {
    color: #777;
}
#social-wrapper-mobile li:nth-of-type(3) {
    color: #777;
}
#social-wrapper-mobile li:nth-of-type(4) {
    color: #777;
}
#social-wrapper-mobile li:nth-of-type(5) {
    color: #777;
}
}

div.accounts {
    margin-top: -0.25vw !important;
}

.page#attend section.show-list .shows-container .show {
    //margin: 0 2vw;
}

.page#attend section.show-list .shows-container .show:nth-of-type(3) {
    //float: left;
}
.page#attend section.show-list .shows-container .show:nth-of-type(4) {
    //float: left;
}
.page#attend section.show-list .shows-container .show:nth-of-type(5) {
    //float: right;
}

@media screen and (min-width: 600px) {
.page#exhibit section.show-list .shows-container .show {
    //margin: 0 2vw;
}
}
.page#exhibit section.show-list .shows-container .show:nth-of-type(1) {
    //float: left;
}
.page#exhibit section.show-list .shows-container .show:nth-of-type(2) {
    //float: left;
}
.page#exhibit section.show-list .shows-container .show:nth-of-type(3) {
    //float: left;
}
.page#exhibit section.show-list .shows-container .show:nth-of-type(4) {
    //float: left;
}
.page#exhibit section.show-list .shows-container .show:nth-of-type(5) {
    //float: right;
}
.page#exhibit section.show-list {
    //padding: 8vw 0 4rem;
}

li.gchoice_1_13_2 {
    width: 12rem;
}

// Portfolio Plugin - make more ccolumns for logos on mobile
@media only screen and (max-width: 479px) {
    .gw-gopf-1col .gw-gopf-col-wrap, .gw-gopf-2cols .gw-gopf-col-wrap, .gw-gopf-3cols .gw-gopf-col-wrap, .gw-gopf-4cols .gw-gopf-col-wrap, .gw-gopf-5cols .gw-gopf-col-wrap, .gw-gopf-6cols .gw-gopf-col-wrap, .gw-gopf-7cols .gw-gopf-col-wrap, .gw-gopf-8cols .gw-gopf-col-wrap, .gw-gopf-9cols .gw-gopf-col-wrap, .gw-gopf-10cols .gw-gopf-col-wrap {
        margin-left: 0 !important;
        float: left !important;
        width: 25% !important;
        transform: none !important;
        position: relative !important;
    }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
    .gw-gopf-1col .gw-gopf-col-wrap, .gw-gopf-2cols .gw-gopf-col-wrap, .gw-gopf-3cols .gw-gopf-col-wrap, .gw-gopf-4cols .gw-gopf-col-wrap, .gw-gopf-5cols .gw-gopf-col-wrap, .gw-gopf-6cols .gw-gopf-col-wrap, .gw-gopf-7cols .gw-gopf-col-wrap, .gw-gopf-8cols .gw-gopf-col-wrap, .gw-gopf-9cols .gw-gopf-col-wrap, .gw-gopf-10cols .gw-gopf-col-wrap {
        margin-left: 0 !important;
        float: left !important;
        width: 20% !important;
        transform: none !important;
        position: relative !important;
    }
}
@media only screen and (max-width: 959px) and (min-width: 768px) {
    .gw-gopf-1col .gw-gopf-col-wrap, .gw-gopf-2cols .gw-gopf-col-wrap, .gw-gopf-3cols .gw-gopf-col-wrap, .gw-gopf-4cols .gw-gopf-col-wrap, .gw-gopf-5cols .gw-gopf-col-wrap, .gw-gopf-6cols .gw-gopf-col-wrap, .gw-gopf-7cols .gw-gopf-col-wrap, .gw-gopf-8cols .gw-gopf-col-wrap, .gw-gopf-9cols .gw-gopf-col-wrap, .gw-gopf-10cols .gw-gopf-col-wrap {
        margin-left: 0 !important;
        float: left !important;
        width: 10% !important;
        transform: none !important;
        position: relative !important;
    }
}

.gw-gopf-isotope-hidden {
    width: 0 !important;
    height: 0 !important;
    display: none;
}

@media only screen and (max-width: 959px) {
    .gw-gopf-isotope-ready .gw-gopf-isotope, .gw-gopf-isotope-new-added .gw-gopf-isotope {
        height: auto !important;
    }
}
