.ca {
    /* one item */
    @include ca-columns( 1, 1 );
    /* two items */
    @include ca-columns( 2, 1 );
    /* three items */
    @include ca-columns( 3, 1 );
    /* four items */
    @include ca-columns( 4, 1 );
    /* five items */
    @include ca-columns( 5, 1 );
    /* six items */
    @include ca-columns( 6, 1 );
    /* seven items */
    @include ca-columns( 7, 1 );
    /* eight items */
    @include ca-columns( 8, 1 );
    /* nine items */
    @include ca-columns( 9, 1 );
    /* more than nine items */
    @include ca-columns( 'n+10', 1 );
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    .ca {
        /* one item */
        @include ca-columns( 1, 1 );
        /* two items */
        @include ca-columns( 2, 2 );
        /* three items */
        @include ca-columns( 3, 2 );
        /* four items */
        @include ca-columns( 4, 2 );
        /* five items */
        @include ca-columns( 5, 2 );
        /* six items */
        @include ca-columns( 6, 2 );
        /* seven items */
        @include ca-columns( 7, 2 );
        /* eight items */
        @include ca-columns( 8, 2 );
        /* nine items */
        @include ca-columns( 9, 2 );
        /* more than nine items */
        @include ca-columns( 'n+10', 2 );
    }
}
@media screen and (min-width: $responsive_mid-breakpoint ) {
    .ca {
        /* one item */
        @include ca-columns( 1, 1 );
        /* two items */
        @include ca-columns( 2, 2 );
        /* three items */
        @include ca-columns( 3, 3 );
        /* four items */
        @include ca-columns( 4, 4 );
        /* five items */
        @include ca-columns( 5, 3 );
        /* six items */
        @include ca-columns( 6, 3 );
        /* seven items */
        @include ca-columns( 7, 4 );
        /* eight items */
        @include ca-columns( 8, 4 );
        /* nine items */
        @include ca-columns( 9, 3 );
        /* more than nine items */
        @include ca-columns( 'n+10', 4 );
    }
}
