

section.photobanner-container {
    width: 100%;
    display: block;
    margin: 0;
    padding: 5rem 0;
    overflow-x: hidden;
    .flickity-page-dots {
        bottom: -2.5rem !important;
    }
    .slick-list, .slick-track {
        margin: 0 !important;
        padding: 0 !important;
        overflow: visible;
    }
    .photobanner {
        height: auto;
        width: auto;
        //padding-top: 2.5%;
        //padding-bottom: 2.5%;
        margin-bottom: 0;
        .flickity-viewport {
            overflow: visible;
        }
        .slick-slide, .slick-slide > div {
            position: relative;
            min-height: 25vw;
            min-width: 25vw;
            @media (max-width: 767px) {
                height: 70vw;
                width: 70vw !important;
            }
        }
        .carousel-img {
            position: absolute;
            height: 25vw;
            width: 25vw !important;
            @media (max-width: 767px) {
                height: 70vw;
                width: 70vw !important;
            }
            transition: transform 0.5s ease-in-out;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            &:hover {
                transform: scale(1.1);
                transition: all .5s ease .25s;
                cursor: pointer;
                box-shadow: 0 6px 24px -6px rgba(0, 0, 0, 0.5);
                z-index: 99;
            }
        }
    }
}
