body.wp-admin.role-customer {
    @import "typography/typography";
    .tribe-dismiss-notice {
        display: none;
    }
    div#adminmenumain, #wp-admin-bar-wp-logo, #wp-admin-bar-tribe-events, #wp-admin-bar-menu-toggle, #wp-admin-bar-wp-logo {
        display: none !important;
    }
    #wpadminbar {
        direction: ltr;
        color: $color__core_white;
        font-family: $font__main !important;
        font-weight: 600;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        min-width: 600px;
        z-index: 99999;
        background: $color__core_blue;
        //height: 46px;
        a {
            font-family: $font__main !important;
            font-weight: 600;
            letter-spacing: 0.06vw;
        }
    }
    #profile-page {
        h2 {
        	font-size: 2vw;
            line-height: 3vw;
        	margin: 2vw 0;
            text-transform: uppercase;
            letter-spacing: 0.1vw;
            font-weight: 100;
            color: $color__core_blue;

        }
        h1:nth-child(1) {
            display: none;
        }
        label {
            font-family: $font__main;
            font-weight: 300;
        }
        form {
            h2:nth-of-type(1), h2:nth-of-type(4) {
                display: none;
            }
            table:nth-of-type(1), table:nth-of-type(4) {
                display: none;
            }
        }
    }
}
