@import 'https://fonts.googleapis.com/css?family=Rubik';

// White Label
$admin__font_family: 'Rubik', sans-serif;
$admin__color_highlight: $color__core_purple;
/*
body {
    background: $color__core_white;
    color: $color__core_black;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    min-width: 600px;
    a, a:visited {
        color: $admin__color_highlight;
    }
}

#wpadminbar {
    direction: ltr;
    color: $color__core_black;
    font-family: 'Karla', sans-serif;
    height: 32px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 600px;
    z-index: 99999;
    background: white;
    box-shadow: 5px 5px 23px -10px $color__core_black;
    //border-bottom: solid 2px $color__core_black;
    a, a:visited {
        color: $color__core_black;
    }
}

#adminmenu {
    margin: 0;
    a {
        color: $color__core_black;
    }
    div.wp-menu-image:before {
        color: #a0a5aa;
        color: grey;
    }
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
    background-color: $color__core_white;
    .update-plugins {
        background-color: $admin__color_highlight;
        color: $color__core_white;
    }
}

#adminmenuwrap {
    box-shadow: 5px 5px 43px -19px $color__core_black;
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
    background: $admin__color_highlight;
    color: $color__core_white;
}

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus {
    color: $admin__color_highlight;
}

*/
body#tinymce {
    background: #eee !important;
}

.mce-content-body {
    background: #f1f1f1 !important;
}
#wp-admin-bar-wp-logo {
    display: none;
}

.wp-menu-image.dashicons-before.dashicons-admin-generic {
    filter: grayscale(100%);
}
