header.title {
    padding: 4rem 3rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-size: cover;
    .header-wrapper {
        width: 100%;
        display: block;
    }
    h1 {
        text-align: center;
        color: $color__core_white;
        font-weight: 700;
        @include responsive-font(5vw, 24px, 70px);
        letter-spacing: 1vw;
        display: block;
        margin: 0 auto;
        width: 100%;
        line-height: 1.5;
    }
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    header.title {
        padding: 8vw;
        h1 {
            width: 70%;
        }
    }
}
