section.gallery {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 2.5vw 0;
    .media-object {
        position: relative;
        width: 100%;
        float: none;
        display: block;
        vertical-align: top;
        .image {
            height: 35vmax;
            background-size: cover;
            background-position: center;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
            transform: scale(1);
            transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
            margin: 0 -1px; // Fix sub-pixel rendering that sometimes causes a 1px gap
            overflow: hidden;
            width: 100%;
        }
    }
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    section.gallery {
        padding: 0;
        .media-object {
            position: relative;
            width: 50%;
            display: inline-block;
        }
    }
}
