section.media {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1.5rem 1.5rem 0;
    @include clearfix-full();
    h2 {
        text-transform: none;
        font-weight: 700;
        letter-spacing: 0.5vw;
        @include responsive-font(3vw, 18px, 36px);
        text-align: center;
        width: 80%;
        margin: 0 auto 5vw;
        padding: 5vw 5vw 0.5vw;
        line-height: 1.5;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.5vw;
        font-weight: 700;
        position: relative;
        color: $color__core_black;
    }
    &.video {
        &.footer {
            &:before {
                content: none;
            }
        }
    }
    .media-object {
        position: relative;
        padding: 0 0 1.5rem;
        &:nth-of-type(2n) {
            float: none;
        }
        .video-container {
            iframe {
                filter: contrast(100%) saturate(100%) brightness(100%);
                transition: filter 2.5s ease-in-out;
            }
            .video-overlay {
                opacity: 0;
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                z-index: 9;
                pointer-events: none;
                background: rgba(255,255,255, 0.4);
                transition: opacity 2.5s ease-in-out, background-color 0.75s ease-in-out;
                &.anthology {
                    pointer-events: auto !important;
                }
                span {
                    opacity: 0;
                    position: relative;
                    @include vertical-align();
                    @include responsive-font(2vmax, 16px, 32px);
                    line-height: 1;
                    color: $color__core_white;
                    font-weight: 500;
                    letter-spacing: 0.25vmax;
                    pointer-events: none;
                    //mix-blend-mode: normal;
                    transition: opacity 0.75s ease-in-out;
                }
            }
            &:hover {
                .video-overlay {
                    background: rgba(255,255,255, 0);
                }
            }
            &.overlay-active {
                .video-overlay {
                    opacity: 1;
                    span {
                        opacity: 1;
                    }
                    iframe {
                        filter: contrast(50%) saturate(50%) brightness(150%);
                    }
                }
            }
        }
        .image {
            height: 22vmax;
            background-size: cover;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
            transform: scale(1);
            transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
            a.download {
                width: 100%;
                height: 100%;
                display: block;
            }
            span {
                @include vertical-align();
                @include responsive-font(2vmax, 16px, 32px);
                color: $color__core_white;
                font-weight: 500;
                letter-spacing: 0.25vmax;
            }
            &:hover {
                //box-shadow: inset 0.5vw 0vw 3vw rgba(0, 0, 0, 0.15);
                box-shadow: 0.5vw 0vw 3vw rgba(0, 0, 0, 0.075);
                transform: scale(1.01);
            }
        }
        section.media-header {
            padding: 0;
            display: block;
            table-layout: initial;
            background-color: transparent;
            position: relative;
            h3 {
                //@include responsive-font(1.75vmax, 16px, 30px);
                @include responsive-font(1.75vw, 18px, 36px);
                padding: 2.5vw 0 1vw;
                line-height: 1.5;
                margin: 0;
                text-transform: capitalize;
                text-align: center;
                letter-spacing: 0.035vw;
                font-weight: 500;
                position: relative;
                color: $color__soft_headline;
                transition: rotate 0.3s;
            }
            article {
                text-align: center;
                color: $color__core_mediumgrey;
                line-height: 1.5;
                letter-spacing: 0.0125vw;
                @include responsive-font(1.125vw, 12px, 16px);
                padding: 1vmax 0 4vmax;
                display: block;
            }
        }
    }
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    section.media {
        padding: 2.5vw;
        h2 {
            padding: 2.5vw 5vw 0.5vw;
        }
        .media-object {
            @include span(6 of 12);
            text-align: center;
            padding: 0;
            margin-bottom: 0;
            &:last-child {
                @include last();
            }
            &:nth-of-type(2n) {
                @include last();
            }
            section.category-header {
                padding: 0;
                display: block;
                table-layout: initial;
                background-color: transparent;
                position: relative;
                article.description {
                    padding: 2.5vw 2.5vw 10vw;
                }
            }
        }
    }
}
