section.info {
    padding: 5vw 5vw 3vw;
    text-align: center;
    h3 {
        line-height: 1.75;
        width: 70%;
        margin: 0 auto;
    }
    article {
        padding: 4vw 0 6vw;
        h3 {
            text-align: center;
            @include responsive-font(1.75vw, 20px, 28px);
            padding: 0 0 0.5vw;
            line-height: 1.5;
            color: $color__core_headline;
        }
        p {
            width: 100%;
            margin: 5vw 0 3vw;
            @include responsive-font(1vw, 18px, 24px);
            &:first-child { margin: 0 0 3vw; }
            &:last-child { margin-bottom: 6vw; }
            text-align: center;
            letter-spacing: 0.05vw;
            line-height: 1.75;
            color: $color__core_black;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    aside {
        display: block;
        padding: 4vw 0 6vw;
        h3 {
            width: 100%;
            margin: 0 auto;
            padding: 1.5vw 0 1.5vw;
            text-transform: none;
            @include responsive-font(3vw, 20px, 32px);
            letter-spacing: 0.05vw;
            font-weight: 300;
            color: $color__core_blue;
            text-align: center;
            @media screen and (min-width: $responsive_min-breakpoint ) {
                width: 70%;
            }
            line-height: 1.35;
        }
        &:before {
            content: '';
            display: block;
            position: relative;
            bottom: 0;
            width: 45%;
            margin: 0 auto 5vw;
            min-height: 2px;
            background-color: $color__core_grey;
        }
        &:after {
            content: '';
            display: block;
            position: relative;
            bottom: 0;
            width: 45%;
            margin: 6vw auto 0;
            min-height: 2px;
            background-color: $color__core_grey;
        }
    }
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    section.info {
        padding: 5vw 5vw 3vw;
        text-align: center;
        h3 {
            text-align: center;
            margin: 0 0 2.5vw;
            width: 100%;
        }
        article {
            padding: 0.25vw 0 2vw;
            p {
                width: 60%;
                margin: 1.5vw auto;
                &:first-child { margin: 0 auto 2vw auto; }
                &:last-child { margin-bottom: inherit; }
            }
            &:after {
                width: 10%;
            }
        }
        aside {
            h3 {
                width: 60%;
            }
            &:before {
                margin: 0 auto 2vw;
            }
            &:after {
                margin: 2vw auto 0;
            }
        }
    }
}
