section.sponsor {
    padding: 10vw 0 5vw;
    text-align: center;
    @media screen and (min-width: $responsive_min-breakpoint ) {
        padding: 5vw 0 3vw;
    }
    h2 {
        text-align: center;
        width: 80%;
        color: $color__core_grey;
        text-align: center;
        margin: 0 auto;
        padding: 0 0 4vw;
        text-transform: none;
        @include responsive-font(3vw, 24px, 56px);
        letter-spacing: 0.05vw;
        font-weight: 300;
        color: $color__core_blue;
        text-align: center;
        line-height: 1.5;
    }
    ul {
        padding: 0;
        margin: 0;
        &:before {
            content: '';
            display: block;
            position: relative;
            bottom: 0;
            width: 45%;
            margin: 0 auto 8vw;
            min-height: 2px;
            background-color: $color__core_grey;
        }
        &:after {
            //content: '';
            display: block;
            position: relative;
            bottom: 0;
            width: 100%;
            margin: 10vw auto 0;
            min-height: 2px;
            background-color: $color__core_grey;
            @media screen and (min-width: $responsive_min-breakpoint ) {
                width: 45%;
            }
        }
        li {
            padding: 5vw;
            @media screen and (min-width: $responsive_min-breakpoint ) {
                padding: 4vw 2vw;
            }
            margin: 0 0 10vw 0;
            vertical-align: top;
            list-style: none;
            width: 100%;
            overflow: auto;
            zoom: 1;
            &:last-child {
                margin: 0 0 5vw 0;
            }
            .section-image {
                display: block;
                width: 100%;
                float: none;
                margin-right: 0;
                height: 55vw;
                background: #bad3ee;
                background: -webkit-gradient(left top, right top, color-stop(0%, #bad3ee), color-stop(100%, #eacce2));
                background: -webkit-linear-gradient(left, #bad3ee 0%, #eacce2 100%);
                background: linear-gradient(to right, #bad3ee 0%, #eacce2 100%);
                background-size: cover;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bad3ee', endColorstr='#eacce2', GradientType=1 );
                @media screen and (min-width: $responsive_min-breakpoint ) {
                    @include span(6 of 12);
                    height: 35vw;
                }
            }
            .section-info {
                display: block;
                width: 100%;
                padding: 0;
                text-align: center;
                @media screen and (min-width: $responsive_min-breakpoint ) {
                    @include span(6 of 12);
                    padding: 0 10% 0 10%;
                    text-align: left;
                }
                h3 {
                    @include responsive-font(4vw, 32px, 56px);
                    padding: 6vw 0 0.5vw;
                    line-height: 1.5;
                    margin: 0;
                    text-transform: uppercase;
                    text-align: center;
                    letter-spacing: 0.125vw;
                    font-weight: 600;
                    position: relative;
                    color: $color__core_grey;
                    transition: rotate 0.3s;
                    width: auto;
                    display: inline-block;
                    @media screen and (min-width: $responsive_min-breakpoint ) {
                        padding: 0;
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: relative;
                        bottom: 0;
                        width: 15%;
                        margin: 0.5rem auto 1rem;
                        min-height: 2px;
                        background-color: $color__core_grey;
                        @media screen and (min-width: $responsive_min-breakpoint ) {
                            margin: 1vw 0;
                        }
                    }
                }
                h4 {
                    color: $color__core_grey;
                    @include responsive-font(1.2vw, 18px, 28px);
                }
                p {
                    width: 80%;
                    margin: 0 auto 2.5vw;
                    @include responsive-font(1.125vw, 16px, 22px);
                    @media screen and (min-width: $responsive_min-breakpoint ) {
                        width: 60%;
                        margin: 0 2.5vw 0 0;
                    }
                }
                a.button {
                    margin-top: 5vw;
                    text-align: center;
                    width: 100%;
                    transform: scale(0.7);
                    transform-origin: 50% 0%;
                    padding-left: 2.5vw;
                    padding-right: 2.5vw;
                    @include responsive-font(1.25vw, 18px, 28px);
                    @media screen and (min-width: $responsive_min-breakpoint ) {
                        margin-top: 2.5vw;
                        width: auto;
                        transform-origin: 0% 0%;
                    }
                }
            }
            & > div {
                .section-info {
                    display: block;
                    @include span(6 of 12);
                }
            }
            &:nth-of-type(odd) {
                .section-image {
                    float: left;
                }
                .section-info {
                    float: none;
                    padding: 0;
                    @media screen and (min-width: $responsive_min-breakpoint ) {
                        @include last;
                        padding: 0 0 0 10%;
                    }
                }
            }
            &:nth-of-type(even) {
                .section-image {
                    @include last;
                }
                .section-info {
                    float: none;
                    padding: 0;
                    @media screen and (min-width: $responsive_min-breakpoint ) {
                        float: right;
                        padding: 0 0 0 20%;
                    }
                }
            }
        }
    }


    @media screen and (min-width: $responsive_min-breakpoint ) {

    }
    @media screen and (min-width: $responsive_mid-breakpoint ) {

    }
}

section.sponsor-form {
    padding: 2vw 5vw 8vw;
    h2 {
        text-align: center;
        width: 100%;
        @include responsive-font(2.5vw, 18px, 48px);
        letter-spacing: 0.5vw;
        line-height: 1.5;
        color: $color__core_grey;
        text-align: center;
        margin: 0;
        padding: 0 0 4vw;
    }
    p {
        width: 100%;
        margin: 0 auto 5vw;
        text-align: center;
        @media screen and (min-width: $responsive_min-breakpoint ) {
            width: 30%;
        }
    }
    .form {
        width: 100%;
        @media screen and (min-width: $responsive_min-breakpoint ) {
            width: 67%;
        }
        margin: 0 auto;
        .gform_wrapper h3.gform_title, span.gform_description {
            display: block !important;
        }
        span.gform_description {
            width: 80%;
            @media screen and (min-width: $responsive_min-breakpoint ) {
                width: 40%;
            }
            margin: 0 auto 5vw;
            text-align: center;
            font-size: 1.25vw;
            font-weight: 300;
            line-height: 1.5;
            color: #777;
            @include responsive-font(1.25vw, 14px, 18px);
        }
        h3.gform_title {
            text-align: center;
            width: 100%;
            line-height: 1.5;
            margin: 0;
            padding: 0 0 4vw;
            @include responsive-font(4vw, 24px, 56px);
            line-height: 1.5;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.125vw;
            font-weight: 600;
            position: relative;
            color: $color__core_grey;
        }
        input[type="submit"] {
            position: relative;
            padding: 1.25vw 5vw 1vw;
        	margin: 2vw auto 0;
        	outline: solid 1px transparent;
        	outline-offset: -1.5vw;
        	color: $color__core_white !important;
        	text-transform: uppercase;
        	@include responsive-font(1.25vw, 14px, 28px);
        	letter-spacing: 0.25vw;
        	display: block;
        	line-height: 1.5;
        	width: auto;
        	border: solid transparent 0;
        	outline-offset: 0;
        	outline: solid 1px transparent;
        	transition: outline-color 0.25s ease-in-out, outline-offset 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
        	box-shadow: 0.7vw 0.75vw 1.5vw -1vw $color__core_trueblack;
        	@include linear-gradient($color__core_darkblue, $color__core_blue);
        	&:active, &:focus {
        		outline-offset: -0.75vw;
        		outline: solid 1px $color__core_white;
        		box-shadow: 0 0 0 0 transparent;
                background: #34558f !important;
                background: -webkit-gradient(left top, right top, color-stop(0%, #34558f), color-stop(100%, #4f72af)) !important;
                background: -webkit-gradient(linear, left top, right top, from(#34558f), to(#4f72af)) !important;
                background: linear-gradient(to right, #34558f 0%, #4f72af 100%) !important;
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=#FF34558F, endColorstr=#FF4F72AF, GradientType=1 );        	}
            @media screen and (min-width: $responsive_max-breakpoint ) {
                width: 100%;
            }
        }
        @media screen and (min-width: $responsive_max-breakpoint ) {
            width: 100%;
            margin: 0 auto;
            input[type="submit"] {
                padding: 1.25rem 4rem 1rem;

            }
        }
    }
}

#sponsors {
    section.carousel {
        margin-bottom: 3vw;
        &:before {
            content: '';
            display: block;
            position: relative;
            bottom: 0;
            width: 45%;
            margin: 0 auto 6vw;
            min-height: 2px;
            background-color: $color__core_grey;
        }
        &:after {
            content: '';
            display: block;
            position: relative;
            bottom: 0;
            width: 45%;
            margin: 10vw auto 0;
            min-height: 2px;
            background-color: $color__core_grey;
        }
        .flickity-viewport .carousel-cell a article.quote {
            padding: 0 10vw;
            width: 75%;
            aside {

            }
        }
    }
    .fixed-height {
        height: 50vw !important;
    }
}
@media screen and (min-width: $responsive_min-breakpoint ) {
    #sponsors {
        section.carousel {
            &:before {
                margin: 0 auto;
            }
            &:after {
                margin: 0 auto;
            }

        }

    }
    section.sponsor {
        ul {
            &:before {
            }
            &:after {
            }
            li {
                padding: 0;
                h4 {
                }
            }
        }
    }
    #sponsors {
        .fixed-height {
            height: 20vw !important;
        }
    }
}
