section.story {
    padding: 5vw 5vw 3vw;
    text-align: center;
    h3 {
        text-align: left;
        @include responsive-font(1.75vw, 20px, 36px);
        line-height: 1.5;
        color: $color__core_headline;
        text-align: center;
        margin: 0;
        padding: 0 0 4vw;
    }
    ul {
        padding: 0;
        margin: 0;
        &:before {
            content: '';
            display: block;
            position: relative;
            bottom: 0;
            width: 45%;
            margin: 0 auto 4vw;
            min-height: 2px;
            background-color: $color__core_grey;
        }
        &:after {
            content: '';
            display: block;
            position: relative;
            bottom: 0;
            width: 45%;
            margin: 5vw auto 3vw;
            min-height: 2px;
            background-color: $color__core_grey;
        }
        li {
            padding: 4vw 2vw;
            margin: 0;
            vertical-align: top;
            h4 {
                width: 100%;
                letter-spacing: 0.125vw;
                text-align: center;
                color: #5f5f5f;
                padding: 0;
                margin: 0;
            }
            p {
                @include responsive-font(1vw, 16px, 22px);
                width: 100%;
                margin: 1vw 0;
                letter-spacing: 0.025vw;
                line-height: 1.75;
                text-align: left;
            }
        }
    }
    .ca {
        /* one item */
        @include ca-columns( 1, 1 );
        /* two items */
        @include ca-columns( 2, 1 );
        /* three items */
        @include ca-columns( 3, 1 );
        /* four items */
        @include ca-columns( 4, 1 );
        /* five items */
        @include ca-columns( 5, 1 );
        /* six items */
        @include ca-columns( 6, 1 );
        /* seven items */
        @include ca-columns( 7, 1 );
        /* eight items */
        @include ca-columns( 8, 1 );
        /* nine items */
        @include ca-columns( 9, 1 );
        /* more than nine items */
        @include ca-columns( 'n+10', 1 );
    }

    @media screen and (min-width: $responsive_min-breakpoint ) {
        .ca {
            /* one item */
            @include ca-columns( 1, 1 );
            /* two items */
            @include ca-columns( 2, 2 );
            /* three items */
            @include ca-columns( 3, 1 );
            /* four items */
            @include ca-columns( 4, 2 );
            /* five items */
            @include ca-columns( 5, 2 );
            /* six items */
            @include ca-columns( 6, 2 );
            /* seven items */
            @include ca-columns( 7, 2 );
            /* eight items */
            @include ca-columns( 8, 2 );
            /* nine items */
            @include ca-columns( 9, 2 );
            /* more than nine items */
            @include ca-columns( 'n+10', 2 );
        }
    }
    @media screen and (min-width: $responsive_mid-breakpoint ) {
        .ca {
            /* one item */
            @include ca-columns( 1, 1 );
            /* two items */
            @include ca-columns( 2, 2 );
            /* three items */
            @include ca-columns( 3, 3 );
            /* four items */
            @include ca-columns( 4, 4 );
            /* five items */
            @include ca-columns( 5, 3 );
            /* six items */
            @include ca-columns( 6, 3 );
            /* seven items */
            @include ca-columns( 7, 4 );
            /* eight items */
            @include ca-columns( 8, 4 );
            /* nine items */
            @include ca-columns( 9, 3 );
            /* more than nine items */
            @include ca-columns( 'n+10', 4 );
        }
    }
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    section.story {
        padding: 5vw 5vw 3vw;
        text-align: center;
        ul {
            li {
                padding: 0;
                h4 {
                    text-align: left;
                }
            }
        }
    }
}
