.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

#comments {
	display: none;
	position: relative;
	width: auto;
	height: auto;
	margin: 1rem 0;
	//margin: 0 4vw 0 4vw;
	//padding-top: 5vw;
	background: transparent;
	transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out, background 0.5s ease-in-out;
	h3.comments-title.show {
		opacity: 0;
		pointer-events: none;
		@include vertical-align(absolute);
		* {
			pointer-events: none;
		}
	}
	h3.comments-title.hide {
		opacity: 1;
		pointer-events: auto;
	    bottom: -1.5rem;
		transition-delay: 0.3s;
		transition: opacity 0.3s;
		* {
			pointer-events: auto;
		}
	}
	h3.comments-title {
		width: 100%;
		position: absolute;
		padding: 0;
		text-align: center;
		color: $color__core_white;
		transition: opacity 0.3s, top 0.3s;
		font-weight: 100;
		a {
			cursor: pointer;
		}
	}
	.comment-list, .comment-respond {
		opacity: 1;
		pointer-events: auto;
		transition: opacity 0.3s, height 0.3s;
		transition-delay: 0.25s;
	    margin: 0 0 4vw;
		* {
			pointer-events: auto;
		}
	}
	.comment-list {
		padding: 0;
		list-style: none;
//		position: absolute;
//		width: 100%;
//		display: block;
		ul.children {
			list-style: none;
			border-left: solid grey;
		    padding-left: 2vw;
		    border-left-width: 2px;
		    margin: 4vw 2vw 4vw 5vw;
			li {
				padding: 0;
			}
		}
		li {
			margin: 0;
			padding: 2vw;
			&:nth-of-type(even) {
			    background: $color__core_lightgrey;
			}
			.comment-author {
				display: block;
			    width: auto;
			    clear: none;
			    float: left;
				cite {
					font-style: normal;
					display: block;
					float: left;
					@include responsive-font(1.125vw, 14px, 24px);
					color: $color__core_purple;
					font-weight: 700;
					text-transform: uppercase;
					a {
						@include responsive-font(1.125vw, 14px, 24px);
						color: $color__core_purple;
						font-weight: 700;
						text-transform: uppercase;
					}
				}
			}
			.comment-meta {
				width: auto;
				float: left;
				a {
					color: $color__core_mediumgrey;
					font-size: small;
					margin-left: 1vw;
				}
			}
			.comment-reply {
				float: right;
				position: relative;
				a {
					@include responsive-font(1vw, 10px, 14px);
					color: $color__core_grey;
					text-transform: uppercase;
					font-weight: 300;
					letter-spacing: 0.125vw;
					position: relative;
					display: block;
				}
			}
			.comment-content {
				    clear: both;
				p {
					margin: 0;
					padding: 4vw 0 3vw;
				}
			}
		}
	}
	#respond {
		margin: 0;
		padding: 2vw 0 0;
		text-align: center;
		h3#reply-title {
			margin: 5vw 0;
		    text-align: left;
		}
		p.logged-in-as {
			margin: 0;
			padding: 0 0 5vw;
			text-align: left;
			a:nth-of-type(2) {
				//color: $color__core_pink;
			}
		}
		p.must-log-in {
		    margin: 0;
		    padding: 2vw 0 5vw;
			a.subscribe, a.login-toggle {
			    cursor: pointer;
			}
		}
		p.form-submit {
		    margin: 0;
		    padding: 2vw 0 5vw;
			input#submit {
			    width: 100%;
			    background: transparent;
			    border: solid 0.1vw $color__core_black;
			    text-transform: uppercase;
			    padding: 2vw;
			    margin: 0;
				transition: border 0.5s, background 0.75s ease-out, box-shadow 0.5s ease-in;
				&:hover, &:focus {
					border: solid 0.1vw $color__core_pink;
				}
			}
		}
		.comment-form-comment {
			margin: 0;
			padding: 1vw 0;
			label {
				display: none;
			}
			textarea#comment {
				margin: 0;
			    padding: 2vw;
			    width: 100%;
			    max-height: 7rem;
			}
		}
	}
	&:before {
		content: '';
		display: block;
		position: relative;
		top: 0;
		width: 100%;
		margin: 0;
		height: 0.1vw;
		min-height: 1px;
		transition: opacity 0.5s ease-in;
		@include linear-gradient($color__core_blue, $color__core_pink);
	}
}
#comments.minimized {
	//height: 8vw !important;
    //min-height: 6rem;
	height: 0 !important;
	//@include linear-gradient($color__core_lightblue, $color__core_lightpink);
	&:before {
		height: 0;
	    min-height: 0;
	}
	h3.comments-title.show {
		opacity: 1;
		pointer-events: auto;
		transition: opacity 0.3s, top 0.3s;
	    transition-delay: 0.3s;
		* {
			pointer-events: auto;
		}
	}
	h3.comments-title.hide {
		opacity: 0;
		pointer-events: none;
		transition-delay: 0.3s;
    	transition: opacity 0.3s;
		* {
			pointer-events: none;
		}
	}
	.comment-list, .comment-respond {
		opacity: 0;
		height: 0 !important;
		pointer-events: none;
		transition: opacity 0.2s, height 0.2s;
		transition-delay: 0s;
		* {
			opacity: 0;
			pointer-events: none;
			transition: opacity 0.2s;
			transition-delay: 0s;
		}
	}
}

.init {
	h3 {
		display: none;
	}
	opacity: 0 !important;
	pointer-events: none !important;
	* {
		opacity: 0 !important;
		pointer-events: none !important;
	}
}


@media screen and (min-width: $responsive_min-breakpoint ) {
	#comments {
		.comment-list {
			padding: 0;
			li {
				.comment-author.vcard {
					display: block;
					width: 100%;
					clear: both;
					float: none;
					cite {
						font-style: normal;
						display: block;
						float: left;
						a {
							@include responsive-font(1.125vw, 14px, 24px);
							color: $color__core_purple;
							font-weight: 700;
							text-transform: uppercase;
						}
					}
				}
				textarea#comment {
				    padding: 2vw;
				}
			}
		}
		#respond {
			h3#reply-title {
			    margin: 1vw 0;
				display: block;
				float: left;
			}
			p.logged-in-as {
				margin: 1vw 0;
				display: block;
				float: right;
				padding: 0;
				@include responsive-font(1.125vw, 12px, 14px);
			}
			p.must-log-in {
			    margin: 0;
			    padding: 2vw 0 5vw;
				a.subscribe, a.login-toggle {
				    cursor: pointer;
				}
			}
			.comment-form-comment textarea#comment {
			    padding: 1vw;
			}
			p.form-submit {
			    margin: 0;
			    padding: 1vw 0;
				input#submit {
				    width: 100%;
				    background: transparent;
				    border: solid 0.1vw $color__core_black;
				    text-transform: uppercase;
				    padding: 1vw;
				    margin: 0;
					transition: border 0.5s, background 0.75s ease-out, box-shadow 0.5s ease-in;
				}
			}
		}
	}
}

@media screen and (min-width: $responsive_max-breakpoint ) {
	#comments {
		h3.comments-title.hide {
		    bottom: 0;
		}
		#respond {
			margin: 0 auto;
			padding: 0;
			width: 100%;
			text-align: center;
			.comment-form-comment textarea#comment {
			    margin: 0;
			    padding: 1vw;
			    width: 100%;
			    max-height: 15rem;
			}
			p.form-submit input#submit {
			    width: 100%;
			    max-height: 5rem;
			    border: solid 0.125vw;
			    padding: 1vw;
			    margin: 0;
			}
		}
	}
}
