.container.news-feed {
    padding: 4vw 4vw 0 4vw;
    & > header {
        padding: 0 0 2vw;
        & > aside {
            @include span(12 of 12);
            .entry-meta {
                display: none;
                position: relative;
                display: block;
                height: auto;
                @include responsive-font(1.25vw, 12px, 18px);
                &:after {
                    @include clearfix;
                    @include clearfix-after;
                }
                h4.posted-on {
                    display: none;
                    padding: 2vw 0 5vw 0;
                    color: $color__core_black;
                    text-decoration: none;
                    display: inline-block;
                    font-weight: 300;
                    letter-spacing: 0.025vw;
                    margin: 0;
                    @include responsive-font(1.125vw, 10px, 14px);
                }
            }
            .entry-header {
                height: auto;
                .cat-links {
                    a, a:visited {
                        letter-spacing: 0.025vw;
                        color: $color__core_black;
                        @include responsive-font(1.125vw, 10px, 14px);
                    }
                }
            }
            .featured-image {
                width: 100%;
                background-position: center;
                background-size: cover;
                height: 53vw;
                //max-height: 36.5rem;
            }
        }
        & > article {
            @include span(12 of 12);
            .news-wrapper {
                padding: 3vw 0;
                height: auto;
                h2.entry-title {
                    @include responsive-font(1.85vw, 18px, 36px);
                    font-weight: 700;
                    line-height: 1.4;
                    margin: 0.75rem 0 2vw;
                    text-transform: uppercase;
                    letter-spacing: 0.15vw;
                    color: $color__core_black;
                    @media screen and (min-width: $responsive_min-breakpoint ) {
                        margin: 0 0 2vw;
                    }
                }
                .by-line {
                    a, a:visited {
                        letter-spacing: 0.025vw;
                        color: $color__core_black;
                        margin: 1vw 0;
                        display: block;
                        @include responsive-font(1.125vw, 10px, 14px);
                    }
                }
                div.entry-content {
                    margin: 0;
                    iframe {
                        display: none;
                    }
                    p {
                        margin-bottom: 1vw;
                    }
                }
            }
        }
        &:after {
            @include clearfix;
            @include clearfix-after;
        }
        footer.entry-footer {
            display: block;
            position: relative;
            width: 100%;
            height: auto;
            float: left;
            margin: 0;
            padding: 0 0 6vw;
            span {
                display: block;
                position: relative;
                top: 0;
                width: 3rem;
                margin: 0;
                height: 2px;
                @include linear-gradient($color__core_blue, $color__core_pink);
            }
        }
    }
    & > main {
        @include span(12 of 12);
        & > article {
            @include span(12 of 12);
            .entry-meta {
                position: relative;
                display: block;
                height: auto;
                &:after {
                    @include clearfix;
                    @include clearfix-after;
                }
                h4.posted-on {
                    padding: 2vw 0 5vw 0;
                    color: $color__core_black;
                    text-decoration: none;
                    display: inline-block;
                    font-weight: 300;
                    letter-spacing: 0.025vw;
                    margin: 0;
                    @include responsive-font(1.125vw, 10px, 14px);
                }
            }
            header.entry-header {
                height: auto;
                .cat-links {
                    a, a:visited {
                        letter-spacing: 0.025vw;
                        color: $color__core_black;
                        @include responsive-font(1.125vw, 10px, 14px);
                    }
                }
                .featured-image {
                    width: 100%;
                    background-position: center;
                    background-size: cover;
                    height: 53vw;
                    max-height: 36.5rem;
                }
            }
            h2.entry-title {
                @include responsive-font(1.85vw, 18px, 36px);
                font-weight: 700;
                line-height: 1.4;
                margin: 3vw 0 0;
                text-transform: uppercase;
                letter-spacing: 0.15vw;
                color: $color__core_black;
            }
            .by-line {
                a, a:visited {
                    letter-spacing: 0.025vw;
                    color: $color__core_black;
                    margin: 1vw 0;
                    display: block;
                    @include responsive-font(1.125vw, 10px, 14px);
                }
            }
            div.entry-content {
                margin: 0;
                iframe {
                    display: none;
                }
            }
            footer.entry-footer {
                display: block;
                position: relative;
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0 0 6vw;
                span {
                    display: block;
                    position: relative;
                    top: 0;
                    width: 3rem;
                    margin: 0;
                    height: 2px;
                    @include linear-gradient($color__core_blue, $color__core_pink);
                }
            }
        }
    }
    & > aside {
        display: none;
        @include span(12 of 12);
        a.instagram-header {
            text-decoration: none;
            text-transform: lowercase;
            color: $color__core_blue;
            font-weight: 500;
            @include responsive-font(1.25vw, 11px, 16px);
        }
        section {
            margin: 0;
            padding: 0;
            background-color: transparent;
            .textwidget h4 {
                @include responsive-font(1.25vw, 11px, 16px);
                margin: 0;
                padding: 0 0 2.5vw;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    line-height: 0;
                    margin-bottom: 1vw;
                    position: relative;
                    //transition: transform 0.5s ease, box-shadow 0.5s ease-in-out 0.05s;
                    transition: transform 0.5s ease 0.05s, box-shadow 0.25s ease-in-out;
                    &:focus, &:hover {
                        transform: scale(1.025);
                        z-index: 9;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    .container.news-feed {
        padding: 4vw 4vw 0 4vw;
        & > header {
            padding: 0 0 2vw;
            & > aside {
                @include span(8 of 12);
                .entry-meta {
                    display: none;
                    h4.posted-on {
                        display: none;
                    }
                }
                .featured-image {
                    height: 36vw;
                }
            }
            & > article {
                display: block;
                float: right;
                margin-right: 0;
                width: 30%;
                .news-wrapper {
                    padding: 3vw 0;
                    //height: calc(36vw - 2px);
                    height: calc(33vw - 2px);
                    overflow-y: hidden;
                    margin-bottom: 3vw;
                    h2.entry-title {
                        @include responsive-font(1.85vw, 18px, 36px);
                        font-weight: 700;
                        line-height: 1.4;
                        margin: 0 0 2vw;
                        text-transform: uppercase;
                        letter-spacing: 0.15vw;
                        color: $color__core_black;
                    }
                    .by-line {
                        display: none;
                        a, a:visited {
                            letter-spacing: 0.025vw;
                            color: $color__core_black;
                            margin: 1vw 0;
                            display: block;
                            @include responsive-font(1.125vw, 10px, 14px);
                        }
                    }
                    div.entry-content {
                        margin: 0;
                        iframe {
                            display: none;
                        }
                    }
                }
                &:before {
                    content: '';
                    display: block;
                    position: relative;
                    top: 0;
                    width: 100%;
                    margin: 0;
                    min-height: 2px;
                    background-color: $color__core_grey;
                }
                &:after {
                    content: '';
                    display: block;
                    position: relative;
                    bottom: 0;
                    width: 100%;
                    margin: 0;
                    min-height: 2px;
                    background-color: $color__core_grey;
                }
            }
            &:after {
                @include clearfix;
                @include clearfix-after;
            }
            footer.entry-footer {
                display: none;
                position: relative;
                width: 100%;
                height: auto;
                float: left;
                margin: 0;
                padding: 0 0 6vw;
                span {
                    display: block;
                    position: relative;
                    top: 0;
                    width: 3rem;
                    margin: 0;
                    height: 2px;
                    @include linear-gradient($color__core_blue, $color__core_pink);
                }
            }
        }

        & > main {
            @include span(8 of 12);
            & > article {
                .entry-meta {
                    position: relative;
                    display: block;
                    &:after {
                        @include clearfix;
                        @include clearfix-after;
                    }
                    h4.posted-on {
                        padding: 0 0 2.5vw;
                        color: $color__core_headline;
                        text-decoration: none;
                        display: inline-block;
                        //@include span(5 of 8);
                        margin: 0;
                    }
                }
                header.entry-header {
                    .featured-image {
                        height: 36vw;
                    }
                }
            }
        }
        & > aside {
            display: block;
            width: 30%;
            float: right;
            section {
                .textwidget h4 {
                }
                ul {
                    li {

                    }
                }
            }
        }
    }
}
@media screen and (min-width: $responsive_mid-breakpoint ) {
    .container.news-feed {
        & > main {
            & > article {

            }
        }
    }
}

@media screen and (min-width: $responsive_max-breakpoint ) {
    .container.news-feed {
        & > main {
            & > article {

            }
        }
    }
}

.hidden {
    display: none;
}
