.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

nav#pagination {
	ul {
		display: block;
	    margin: 0;
	    padding: 4vw;
		list-style: none;
		li {
			display: inline-block;
			a {
				@include responsive-font(1.2vw, 18px, 28px);
				font-weight: 100;
				letter-spacing: 0.25vw;
			}
		}
	}
	.page-numbers {
		float: left;
		li {
			padding: 0 0.25rem;
			@media screen and (min-width: $responsive_mid-breakpoint ) {
				padding: 0 0.25vw;
			}

		}
		li a {
			letter-spacing: 0.125vw;
		}
		li.next {
			padding-right: 0.25vw;
			font-weight: 700;
		}
		li.active a {
			font-weight: 700;
		}
		.ellipses {
			font-weight: 100;
		    padding-right: 0.25vw;
			//vertical-align: text-bottom;
		}
	}
	.prev-next {
		float: right;
		li {
			a {
				font-weight: 700;
			}
			&.prev {
				padding-right: 2vw;
			}
		}
		.greyed {
			a {
				font-weight: 100;
				color: $color__core_lightgrey;
				&:hover, &:focus, &:active {
					text-shadow: none;
					box-shadow: none;
				}
			}
		}
	}
}
