.container.single-post {
    padding: 4vw 4vw 0 4vw;
    //margin-bottom: 4vw;
    & > article {
        @include span(12 of 12);
        .entry-meta {
            position: relative;
            display: block;
            height: auto;
            &:after {
                @include clearfix;
                @include clearfix-after;
            }
            h4.posted-on {
                padding: 2vw 0 5vw 0;
                color: $color__core_black;
                text-decoration: none;
                display: inline-block;
                font-weight: 300;
                letter-spacing: 0.075vw;
                margin: 0;
                @include responsive-font(1.25vw, 11px, 14px);
            }
        }
        header.entry-header {
            height: auto;
            .cat-links {
                a, a:visited {
                    letter-spacing: 0.075vw;
                    color: $color__core_black;
                    @include responsive-font(1.25vw, 11px, 14px);
                }
            }
            .featured-image {
                width: 100%;
                background-position: center;
                background-size: cover;
                height: 53vw;
                max-height: 36.5rem;
            }
        }
        h1.entry-title {
            @include responsive-font(1.85vw, 18px, 36px);
            font-weight: 700;
            line-height: 1.4;
            margin: 0.75rem 0 2vw;
            font-weight: 700;
            line-height: 1.4;
            text-transform: uppercase;
            letter-spacing: 0.15vw;
            color: $color__core_black;
            @media screen and (min-width: $responsive_min-breakpoint ) {
                margin: 2vw 0 1vw;
            }
        }
        .by-line {
            a, a:visited {
                letter-spacing: 0.075vw;
                color: $color__core_black;
                margin: 1vw 0 0;
                display: block;
                @include responsive-font(1.125vw, 10px, 14px);
            }
        }
        div.entry-content {
            margin: 0;
            iframe {
                width: 100%;
            }
            ol, ul {
                margin: 0;
                padding: 0;
            }
        }
        footer.entry-footer {
            display: block;
            position: relative;
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            .tags-links {
                padding: 1vw 0 2vw;
                position: relative;
                display: block;
                a, a:visited {
                    position: relative;
                    display: inline;
                    margin: 0;
                    color: $color__link;
                }
            }
            .cat-links {
                padding: 1vw 0 3vw;
                position: relative;
                display: block;
                a {
                    margin: 0;
                    font-weight: 500;

                }
            }
            .comments-link {
                cursor: pointer;
                display: inline-block;
                a {
                    margin: 0;
                    font-weight: 700;
                    line-height: 1.4;
                    color: $color__core_black;
                    letter-spacing: 0.1vw;
                }
            }
        }
    }
    & > aside {
        display: none;
        @include span(12 of 12);
        a.instagram-header {
            text-decoration: none;
            text-transform: lowercase;
            color: $color__core_blue;
            font-weight: 500;
            @include responsive-font(1.25vw, 11px, 14px);
            -webkit-text-fill-color: transparent;
            background: -webkit-linear-gradient(transparent, transparent),
                        url('../images/b-p.svg');
            background: -o-linear-gradient(transparent, transparent);
            -webkit-background-clip: text;

        }
        section {
            margin: 0;
            padding: 0;
            background-color: transparent;
            .textwidget h4 {
                @include responsive-font(1.25vw, 11px, 14px);
                margin: 0;
                padding: 0 0 2.5vw;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    line-height: 0;
                    margin-bottom: 1vw;
                    position: relative;
                    //transition: transform 0.5s ease, box-shadow 0.5s ease-in-out 0.05s;
                    transition: transform 0.5s ease 0.05s, box-shadow 0.25s ease-in-out;
                    &:focus, &:hover {
                        transform: scale(1.025);
                        z-index: 9;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    .container.single-post {
        padding: 4vw 4vw 0 4vw;
        & > article {
            @include span(8 of 12);
            .entry-meta {
                position: relative;
                display: block;
                &:after {
                    @include clearfix;
                    @include clearfix-after;
                }
                h4.posted-on {
                    padding: 0 0 2.5vw;
                    color: $color__core_headline;
                    text-decoration: none;
                    display: inline-block;
                    //@include span(5 of 8);
                    margin: 0;
                }
            }
            header.entry-header {
                .featured-image {
                    height: 36vw;
                }
            }
        }
        & > aside {
            display: block;
            width: $size__site-sidebar;
            float: right;
            section {
                .textwidget h4 {
                }
                ul {
                    li {

                    }
                }
            }
        }
    }
    .social-sharing-bar {
        display: block;
        position: relative;
//        border-top: solid 1px $color__core_lightgrey;
//        border-bottom: solid 1px $color__core_lightgrey;
        padding: 0.5vw 0;
        @include span(3 of 8);
        @include last;
        top: -0.75vw;
        p {
            display: block;
            @include responsive-font(1vw, 8px, 12px);
            font-weight: 300;
            display: block;
            float: left;
            margin: 0.75vw 0 0.5vw;
            color: $color__core_mediumgrey;
            letter-spacing: 0.1vw;
        }
        ul {
            display: block;
            margin: 0;
            padding: 0;
            float: right;
            li {
                width: 2.25vw;
                height: 2.25vw;
                position: relative;
                border-radius: 100%;
                opacity: 1;
                transition: opacity 0.5s ease-in-out;
                &:before {
                //    color: $color__core_white;
                    font-size: 1.125vw;
                    width: 2.25vw;
                    height: 2.25vw;
                    margin: 0.6vw 0 0;
                    text-align: center;
                    display: block;
                }
                a {
                    display: block;
                    margin: 0;
                    position: absolute;
                    width: 2.25vw;
                    height: 2.25vw;
                    top: 0;
                }
                &:hover, &:focus {
                    opacity: 0.7;
                }
            }
            li:nth-of-type(1) {
                //background-color: $color__core_blue;
            }
            li:nth-of-type(2) {
                //background-color: $color__core_purple;
            }
            li:nth-of-type(3) {
                //background-color: $color__core_pink;
            }
        }
    }
    .related-posts  {
        display: block;
        width: 100%;
        .related-post {
            @include span(4 of 12);
            margin-bottom: 5vw;
            display: inline-block;
            vertical-align: top;
            box-shadow: 0.5vw 0vw 3vw rgba(0,0,0,0.075), inset 0 0 0 rgba(0,0,0,0.075);
            transition: box-shadow 0.75s;
            transition-delay: 0.25s;
            padding: 1.5vw;
            &:hover, &:focus {
                //box-shadow: 1vw 0.5vw 2vw rgba(0,0,0,0.25);
                //box-shadow: 0 0 0 rgba(0,0,0,0.25), inset 0.5vw 0vw 3vw rgba(0,0,0,0.25);
                box-shadow: 0 0 0 rgba(0,0,0,0.075),inset 0.25vw -0.25vw 1vw rgba(0,0,0,0.075);
            }
            &:nth-of-type(3n) {
                @include last;
            }
            &:nth-of-type(4n) {
                clear: left;
            }
            div {
                height: 26vw;
                max-height: 26rem;
                transition: box-shadow 0.25s ease-out;
                transition-delay: 0.15s;
                box-shadow: inset 0.5vw 0vw 3vw rgba(0,0,0,0.15);
                &:hover, &:focus {
                    //box-shadow: 1vw 0.5vw 2vw rgba(0,0,0,0.25);
                    //box-shadow: inset 0.5vw 0vw 3vw rgba(0,0,0,0.5);
                }
            }
            h3 {
                padding: 2vw 0;
                color: $color__core_grey;
                min-height: 15vw;
            }
        }
    }
}

@media screen and (min-width: $responsive_mid-breakpoint ) {
    .related-posts  {
        .related-post {
            h3 {
                min-height: 10vw;
            }
        }
    }
}

@media screen and (min-width: $responsive_max-breakpoint ) {
    .container.single-post {
        & > article {
            p {
                margin-bottom: 1.25vw !important;
            }
            footer.entry-footer {
                .cat-links {
                    padding: 1vw 0 1vw;
                }
            }
        }
    }
}

.hidden {
    display: none;
}
