.container.single-post article {

    h1, h2, h3, h4, h5, h6 {
    	clear: both;
    }

    h1 {
        display: block;
        margin: 2vw 0;
        padding: 0;
        @include responsive-font(1.85vw, 18px, 36px);
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: 0.15vw;
    	color: $color__core_black;
        border-bottom: solid 0 transparent;
    }
    h2 {
        display: block;
        margin: 2vw 0;
        padding: 0;
        @include responsive-font(1.5vw, 14px, 28px);
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0.15vw;
    	color: $color__core_black;
        border-bottom: solid 0 transparent;
    }
    h3 {
        display: block;
        margin: 2vw 0;
        padding: 0;
        @include responsive-font(1.25vw, 12px, 20px);
        text-transform: uppercase;
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: 0.15vw;
    	color: $color__core_black;
        border-bottom: solid 0 transparent;
    }
    h4 {
        display: block;
        margin: 2vw 0;
        padding: 0;
        @include responsive-font(1.85vw, 18px, 36px);
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: 0.5vw;
    	color: $color__core_black;
        border-bottom: solid 0 transparent;
    }
    h5 {
        display: block;
        margin: 2vw 0;
        padding: 0;
        @include responsive-font(1.5vw, 14px, 28px);
        text-transform: uppercase;
        font-weight: 500;
        line-height: 1.4;
        letter-spacing: 0.5vw;
    	color: $color__core_black;
        border-bottom: solid 0 transparent;
    }
    h6 {
        display: block;
        margin: 2vw 0;
        padding: 0;
        @include responsive-font(1.25vw, 12px, 20px);
        text-transform: uppercase;
        font-weight: 300;
        line-height: 1.4;
        letter-spacing: 0.5vw;
    	color: $color__core_black;
        border-bottom: solid 0 transparent;
    }
    p {
        margin-bottom: 1.5vw;
    }
    blockquote {
        @include responsive-font(1.5vw, 14px, 24px);
        text-align: center;
        width: 100%;
        margin: 0;
        font-weight: 300;
        letter-spacing: 0.125vw;
        font-style: italic;
        line-height: 1.8;
        p {
            @include responsive-font(1.5vw, 14px, 24px);
            text-align: center;
            width: 100%;
            padding: 0;
            font-weight: 300;
            letter-spacing: 0.125vw;
            font-style: italic;
            line-height: 1.8;
        }
    }
}

@media screen and (min-width: $responsive_min-breakpoint ) {
    p {
        margin-bottom: 2.5vw;
    }
    blockquote {
        @include responsive-font(1.5vw, 14px, 24px);
        text-align: center;
        width: 100%;
        margin: 0;
        font-weight: 300;
        letter-spacing: 0.125vw;
        font-style: italic;
        line-height: 1.8;
        p {
            @include responsive-font(1.5vw, 14px, 24px);
            text-align: center;
            width: 100%;
            padding: 2vw;
            font-weight: 300;
            letter-spacing: 0.125vw;
            font-style: italic;
            line-height: 1.8;
        }
    }
}
